.modal#delete-modal(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      form
        input(type="hidden" name="warehouse_id")
        .modal-header.bg-danger.text-white
          h5.modal-title 刪除
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p 確定刪除嗎？
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') Cancel
          button.btn.btn-danger(type='submit', data-dismiss='modal') Confirm