-
  var tableValues = [  
    {  
      "sku": 1123,
      "asin": 21,
      "productName": "productA",
      "price": 60,
      "profit":30,
      "profitMargin":10,
      "threeDays":20,
      "sevenDays": 30,
      "thirtyDays": 30,
      "thirtyDaysPure": 30,
      "sevenToThirtyDays": 30,
      "bsr": 30,
      "doi": 30,
      "status": "in",
      "suppliers": "suppliersA"
    },
    {  
      "sku": 1124,
      "asin": 21,
      "productName": "productB",
      "price": 60,
      "profit":30,
      "profitMargin":10,
      "threeDays":20,
      "sevenDays": 30,
      "thirtyDays": 30,
      "thirtyDaysPure": 30,
      "sevenToThirtyDays": 30,
      "bsr": 30,
      "doi": 30,
      "status": "out",
      "suppliers": "suppliersB"
    }
  ]
-
  var tableColumns = [
    {"prop": "sku", "label": "SKU(13%)", "url": "product.html"},
    {"prop": "asin", "label": "ASIN(7%)"},
    {"prop": "productName", "label": "Product Name(20%)"},
    {"prop": "price", "label": "Price", "searchable": false},
    {"prop": "profit", "label": "Profit", "searchable": false},
    {"prop": "profitMargin", "label": "Profit Margin", "searchable": false},
    {"prop": "threeDays", "label": "3天銷售", "searchable": false},
    {"prop": "sevenDays", "label": "7 天銷售", "searchable": false},
    {"prop": "thirtyDays", "label": "30天銷售", "searchable": false},
    {"prop": "thirtyDaysPure", "label": "30天銷售(純)", "searchable": false},
    {"prop": "sevenToThirtyDays", "label": "7-30天銷售", "searchable": false},
    {"prop": "bsr", "label": "BSR", "searchable": false},
    {"prop": "doi", "label": "DOI(30)", "searchable": false},
    {"prop": "status", "label": "Status", "searchable": false},
    {"prop": "suppliers", "label": "Labels & Suppliers", "searchable": false},
  ]
-
  var datas = [
    {
      name: '賣出數量',
      type: 'area',
      data: [
        [1527359600000,30.95],
        [1527446000000,31.34],
        [1527532400000,31.18],
        [1527618800000,31.05],
        [1527878000000,31.00],
        [1527964400000,30.95],
        [1528050800000,31.24],
        [1528137200000,31.29],
        [1528223600000,31.85],
        [1528482800000,31.86],
        [1528569200000,32.28],
        [1528655600000,32.10],
        [1528742000000,32.65],
        [1528828400000,32.21],
        [1529087600000,32.35],
        [1529174000000,32.44],
        [1529260400000,32.46],
        [1529346800000,32.86],
        [1529433200000,32.75],
        [1529778800000,32.54],
        [1529865200000,32.33],
        [1529951600000,32.97],
        [1530038000000,33.41],
        [1530297200000,33.27],
        [1530383600000,33.27],
        [1530470000000,32.89],
        [1530556400000,33.10],
        [1530642800000,33.73],
        [1530902000000,33.22],
        [1530988400000,31.99],
        [1531074800000,32.41],
        [1531161200000,33.05],
        [1531247600000,33.64],
        [1531506800000,33.56],
        [1531593200000,34.22],
        [1531679600000,33.77],
        [1531766000000,34.17],
        [1531852400000,33.82],
        [1532111600000,34.51],
        [1532198000000,33.16],
        [1532284400000,33.56],
        [1532370800000,33.71],
        [1532457200000,33.81],
        [1532712800000,34.40],
        [1532799200000,34.63],
        [1532885600000,34.46],
        [1532972000000,34.48],
        [1533058400000,34.31],
        [1533317600000,34.70],
        [1533404000000,34.31],
        [1533490400000,33.46],
        [1533576800000,33.59],
        [1533922400000,33.22],
        [1534008800000,32.61],
        [1534095200000,33.01],
        [1534181600000,33.55],
        [1534268000000,33.18],
        [1534527200000,32.84],
        [1534613600000,33.84],
        [1534700000000,33.39],
        [1534786400000,32.91],
        [1534872800000,33.06],
        [1535132000000,32.62],
        [1535218400000,32.40],
        [1535304800000,33.13],
        [1535391200000,33.26],
        [1535477600000,33.58],
        [1535736800000,33.55],
        [1535823200000,33.77],
        [1535909600000,33.76],
        [1535996000000,33.32],
        [1536082400000,32.61],
        [1536341600000,32.52],
        [1536428000000,32.67],
        [1536514400000,32.52],
        [1536600800000,31.92],
        [1536687200000,32.20],
        [1536946400000,32.23],
        [1537032800000,32.33],
        [1537119200000,32.36],
        [1537205600000,32.01],
        [1537292000000,31.31],
        [1537551200000,32.01],
        [1537637600000,32.01],
        [1537724000000,32.18],
        [1537810400000,31.54],
        [1537896800000,31.60],
        [1538242400000,32.05],
        [1538328800000,31.29],
        [1538415200000,31.05],
        [1538501600000,29.82],
        [1538760800000,30.31],
        [1538847200000,30.70],
        [1538933600000,31.69],
        [1539020000000,31.32],
        [1539106400000,31.65],
        [1539365600000,31.13],
        [1539452000000,31.77],
        [1539538400000,31.79],
        [1539624800000,31.67],
        [1539711200000,32.39],
        [1539970400000,32.63],
        [1540056800000,32.89],
        [1540143200000,31.99],
        [1540229600000,31.23],
        [1540316000000,31.57],
        [1540575200000,30.84],
        [1540661600000,31.07],
        [1540748000000,31.41],
        [1540834400000,31.17],
        [1540920800000,32.37],
        [1541180000000,32.19],
        [1541266400000,32.51],
        [1541439200000,32.53],
        [1541525600000,31.37],
        [1541784800000,30.43],
        [1541871200000,30.44],
        [1541957600000,30.20],
        [1542044000000,30.14],
        [1542130400000,30.65],
        [1542389600000,30.40],
        [1542476000000,30.65],
        [1542562400000,31.43],
        [1542648800000,31.89],
        [1542735200000,31.38],
        [1542994400000,30.64],
        [1543080800000,30.02],
        [1543167200000,30.33],
        [1543253600000,30.95],
        [1543340000000,31.89],
        [1543599200000,31.01],
        [1543685600000,30.88],
        [1543772000000,30.69],
        [1543858400000,30.58],
        [1543944800000,32.02],
        [1544204000000,32.14],
        [1544290400000,32.37],
        [1544376800000,32.51],
        [1544463200000,32.65],
        [1544549600000,32.64],
        [1544808800000,32.27],
        [1544895200000,32.10],
        [1544981600000,32.91],
        [1545068000000,33.65],
        [1545154400000,33.80],
        [1545413600000,33.92],
        [1545500000000,33.75],
        [1545586400000,33.84],
        [1545672800000,33.50],
        [1545759200000,32.26],
        [1546018400000,32.32],
        [1546104800000,32.06],
        [1546191200000,31.96],
        [1546277600000,31.46],
        [1546364000000,31.27],
        [1546709600000,31.43],
        [1546796000000,32.26],
        [1546882400000,32.79],
        [1546968800000,32.46],
        [1547228000000,32.13],
        [1547314400000,32.43],
        [1547400800000,32.42],
        [1547487200000,32.81],
        [1547573600000,33.34],
        [1547832800000,33.41],
        [1547919200000,32.57],
        [1548005600000,33.12],
        [1548092000000,34.53],
        [1548178400000,33.83],
        [1548437600000,33.41],
        [1548524000000,32.90],
        [1548610400000,32.53],
        [1548696800000,32.80],
        [1548783200000,32.44],
        [1549042400000,32.62],
        [1549128800000,32.57],
        [1549215200000,32.60],
        [1549301600000,32.68],
        [1549388000000,32.47],
        [1549647200000,32.23],
        [1549733600000,31.68],
        [1549820000000,31.51],
        [1549906400000,31.78],
        [1549992800000,31.94],
        [1550252000000,32.33],
        [1550338400000,33.24],
        [1550424800000,33.44],
        [1550511200000,33.48],
        [1550597600000,33.24],
        [1550856800000,33.49],
        [1550943200000,33.31],
        [1551029600000,33.36],
        [1551116000000,33.40],
        [1551202400000,34.01],
        [1551638000000,34.02],
        [1551724400000,34.36],
        [1551810800000,34.39],
        [1552070000000,34.24],
        [1552156400000,34.39],
        [1552242800000,33.47],
        [1552329200000,32.98],
        [1552415600000,32.90],
        [1552674800000,32.70],
        [1552761200000,32.54],
        [1552847600000,32.23],
        [1552934000000,32.64],
        [1553020400000,32.65],
        [1553279600000,32.92],
        [1553366000000,32.64],
        [1553452400000,32.84],
        [1553625200000,33.40],
        [1553884400000,33.30],
        [1553970800000,33.18],
        [1554057200000,33.88],
        [1554143600000,34.09],
        [1554230000000,34.61],
        [1554489200000,34.70],
        [1554575600000,35.30],
        [1554662000000,35.40],
        [1554748400000,35.14],
        [1554834800000,35.48],
        [1555094000000,35.75],
        [1555180400000,35.54],
        [1555266800000,35.96],
        [1555353200000,35.53],
        [1555439600000,37.56],
        [1555698800000,37.42],
        [1555785200000,37.49],
        [1555871600000,38.09],
        [1555958000000,37.87],
        [1556044400000,37.71],
        [1556303600000,37.53],
        [1556476400000,37.55],
        [1556562800000,37.30],
        [1556649200000,36.90],
        [1556908400000,37.68],
        [1557081200000,38.34],
        [1557167600000,37.75],
        [1557254000000,38.13],
        [1557513200000,37.94],
        [1557599600000,38.14],
        [1557686000000,38.66],
        [1557772400000,38.62],
        [1557858800000,38.09],
        [1558118000000,38.16],
        [1558204400000,38.15],
        [1558290800000,37.88],
        [1558377200000,37.73],
        [1558463600000,37.98],
        [1558809200000,37.95],
        [1558895600000,38.25],
        [1558982000000,38.10],
        [1559068400000,38.32],
        [1559327600000,38.24],
        [1559414000000,38.52],
        [1559500400000,37.94],
        [1559586800000,37.83],
        [1559673200000,38.34],
        [1559932400000,38.10],
        [1560018800000,38.51],
        [1560105200000,38.40],
        [1560191600000,38.07],
        [1560278000000,39.12],
        [1560537200000,38.64],
        [1560623600000,38.89],
        [1560710000000,38.81],
        [1560796400000,38.61],
        [1560882800000,38.63]
      ]
    },
    {
      name: '金額',
      type: 'line',
      data: [
        [1527359600000,300.95],
        [1527446000000,310.34],
        [1527532400000,310.18],
        [1527618800000,310.05],
        [1527878000000,310.00],
        [1527964400000,300.95],
        [1528050800000,310.24],
        [1528137200000,310.29],
        [1528223600000,310.85],
        [1528482800000,310.86],
        [1528569200000,320.28],
        [1528655600000,320.10],
        [1528742000000,320.65],
        [1528828400000,320.21],
        [1529087600000,320.35],
        [1529174000000,320.44],
        [1529260400000,320.46],
        [1529346800000,320.86],
        [1529433200000,320.75],
        [1529778800000,320.54],
        [1529865200000,320.33],
        [1529951600000,320.97],
        [1530038000000,330.41],
        [1530297200000,330.27],
        [1530383600000,330.27],
        [1530470000000,320.89],
        [1530556400000,330.10],
        [1530642800000,330.73],
        [1530902000000,330.22],
        [1530988400000,310.99],
        [1531074800000,320.41],
        [1531161200000,330.05],
        [1531247600000,330.64],
        [1531506800000,330.56],
        [1531593200000,340.22],
        [1531679600000,330.77],
        [1531766000000,340.17],
        [1531852400000,330.82],
        [1532111600000,340.51],
        [1532198000000,330.16],
        [1532284400000,330.56],
        [1532370800000,330.71],
        [1532457200000,330.81],
        [1532712800000,340.40],
        [1532799200000,340.63],
        [1532885600000,340.46],
        [1532972000000,340.48],
        [1533058400000,340.31],
        [1533317600000,340.70],
        [1533404000000,340.31],
        [1533490400000,330.46],
        [1533576800000,330.59],
        [1533922400000,330.22],
        [1534008800000,320.61],
        [1534095200000,330.01],
        [1534181600000,330.55],
        [1534268000000,330.18],
        [1534527200000,320.84],
        [1534613600000,330.84],
        [1534700000000,330.39],
        [1534786400000,320.91],
        [1534872800000,330.06],
        [1535132000000,320.62],
        [1535218400000,320.40],
        [1535304800000,330.13],
        [1535391200000,330.26],
        [1535477600000,330.58],
        [1535736800000,330.55],
        [1535823200000,330.77],
        [1535909600000,330.76],
        [1535996000000,330.32],
        [1536082400000,320.61],
        [1536341600000,320.52],
        [1536428000000,320.67],
        [1536514400000,320.52],
        [1536600800000,310.92],
        [1536687200000,320.20],
        [1536946400000,320.23],
        [1537032800000,320.33],
        [1537119200000,320.36],
        [1537205600000,320.01],
        [1537292000000,310.31],
        [1537551200000,320.01],
        [1537637600000,320.01],
        [1537724000000,400.18],
        [1537810400000,310.54],
        [1537896800000,310.60],
        [1538242400000,400.05],
        [1538328800000,278.29],
        [1538415200000,278.05],
        [1538501600000,290.82],
        [1538760800000,300.31],
        [1538847200000,300.70],
        [1538933600000,278.69],
        [1539020000000,278.32],
        [1539106400000,278.65],
        [1539365600000,278.13],
        [1539452000000,278.77],
        [1539538400000,310.79],
        [1539624800000,310.67],
        [1539711200000,320.39],
        [1539970400000,320.63],
        [1540056800000,320.89],
        [1540143200000,310.99],
        [1540229600000,310.23],
        [1540316000000,310.57],
        [1540575200000,300.84],
        [1540661600000,310.07],
        [1540748000000,310.41],
        [1540834400000,310.17],
        [1540920800000,320.37],
        [1541180000000,320.19],
        [1541266400000,320.51],
        [1541439200000,320.53],
        [1541525600000,310.37],
        [1541784800000,300.43],
        [1541871200000,300.44],
        [1541957600000,300.20],
        [1542044000000,300.14],
        [1542130400000,300.65],
        [1542389600000,300.40],
        [1542476000000,300.65],
        [1542562400000,310.43],
        [1542648800000,310.89],
        [1542735200000,310.38],
        [1542994400000,300.64],
        [1543080800000,300.02],
        [1543167200000,300.33],
        [1543253600000,300.95],
        [1543340000000,310.89],
        [1543599200000,310.01],
        [1543685600000,300.88],
        [1543772000000,300.69],
        [1543858400000,300.58],
        [1543944800000,320.02],
        [1544204000000,320.14],
        [1544290400000,320.37],
        [1544376800000,320.51],
        [1544463200000,320.65],
        [1544549600000,320.64],
        [1544808800000,320.27],
        [1544895200000,320.10],
        [1544981600000,320.91],
        [1545068000000,330.65],
        [1545154400000,330.80],
        [1545413600000,330.92],
        [1545500000000,330.75],
        [1545586400000,330.84],
        [1545672800000,330.50],
        [1545759200000,320.26],
        [1546018400000,320.32],
        [1546104800000,320.06],
        [1546191200000,310.96],
        [1546277600000,310.46],
        [1546364000000,310.27],
        [1546709600000,310.43],
        [1546796000000,320.26],
        [1546882400000,320.79],
        [1546968800000,320.46],
        [1547228000000,320.13],
        [1547314400000,320.43],
        [1547400800000,320.42],
        [1547487200000,320.81],
        [1547573600000,330.34],
        [1547832800000,330.41],
        [1547919200000,320.57],
        [1548005600000,330.12],
        [1548092000000,340.53],
        [1548178400000,330.83],
        [1548437600000,330.41],
        [1548524000000,320.90],
        [1548610400000,320.53],
        [1548696800000,320.80],
        [1548783200000,320.44],
        [1549042400000,320.62],
        [1549128800000,320.57],
        [1549215200000,320.60],
        [1549301600000,320.68],
        [1549388000000,320.47],
        [1549647200000,320.23],
        [1549733600000,310.68],
        [1549820000000,310.51],
        [1549906400000,310.78],
        [1549992800000,310.94],
        [1550252000000,320.33],
        [1550338400000,330.24],
        [1550424800000,330.44],
        [1550511200000,330.48],
        [1550597600000,330.24],
        [1550856800000,330.49],
        [1550943200000,330.31],
        [1551029600000,330.36],
        [1551116000000,330.40],
        [1551202400000,340.01],
        [1551638000000,340.02],
        [1551724400000,340.36],
        [1551810800000,340.39],
        [1552070000000,340.24],
        [1552156400000,340.39],
        [1552242800000,330.47],
        [1552329200000,320.98],
        [1552415600000,320.90],
        [1552674800000,320.70],
        [1552761200000,320.54],
        [1552847600000,320.23],
        [1552934000000,320.64],
        [1553020400000,320.65],
        [1553279600000,320.92],
        [1553366000000,320.64],
        [1553452400000,320.84],
        [1553625200000,330.40],
        [1553884400000,330.30],
        [1553970800000,330.18],
        [1554057200000,330.88],
        [1554143600000,340.09],
        [1554230000000,340.61],
        [1554489200000,340.70],
        [1554575600000,350.30],
        [1554662000000,350.40],
        [1554748400000,350.14],
        [1554834800000,350.48],
        [1555094000000,350.75],
        [1555180400000,350.54],
        [1555266800000,350.96],
        [1555353200000,350.53],
        [1555439600000,370.56],
        [1555698800000,370.42],
        [1555785200000,370.49],
        [1555871600000,380.09],
        [1555958000000,370.87],
        [1556044400000,370.71],
        [1556303600000,370.53],
        [1556476400000,370.55],
        [1556562800000,370.30],
        [1556649200000,360.90],
        [1556908400000,370.68],
        [1557081200000,380.34],
        [1557167600000,370.75],
        [1557254000000,380.13],
        [1557513200000,370.94],
        [1557599600000,380.14],
        [1557686000000,380.66],
        [1557772400000,380.62],
        [1557858800000,380.09],
        [1558118000000,380.16],
        [1558204400000,380.15],
        [1558290800000,370.88],
        [1558377200000,370.73],
        [1558463600000,370.98],
        [1558809200000,370.95],
        [1558895600000,380.25],
        [1558982000000,380.10],
        [1559068400000,380.32],
        [1559327600000,380.24],
        [1559414000000,380.52],
        [1559500400000,370.94],
        [1559586800000,370.83],
        [1559673200000,380.34],
        [1559932400000,380.10],
        [1560018800000,380.51],
        [1560105200000,380.40],
        [1560191600000,380.07],
        [1560278000000,390.12],
        [1560537200000,380.64],
        [1560623600000,380.89],
        [1560710000000,380.81],
        [1560796400000,380.61],
        [1560882800000,380.63],
      ]
    }
  ];

-
  var datas1 = [
    {
      name: '排名',
      type: 'area',
      data: [
        [1527359600000,30.95],
        [1527446000000,31.34],
        [1527532400000,31.18],
        [1527618800000,31.05],
        [1527878000000,31.00],
        [1527964400000,30.95],
        [1528050800000,31.24],
        [1528137200000,31.29],
        [1528223600000,31.85],
        [1528482800000,31.86],
        [1528569200000,32.28],
        [1528655600000,32.10],
        [1528742000000,32.65],
        [1528828400000,32.21],
        [1529087600000,32.35],
        [1529174000000,32.44],
        [1529260400000,32.46],
        [1529346800000,32.86],
        [1529433200000,32.75],
        [1529778800000,32.54],
        [1529865200000,32.33],
        [1529951600000,32.97],
        [1530038000000,33.41],
        [1530297200000,33.27],
        [1530383600000,33.27],
        [1530470000000,32.89],
        [1530556400000,33.10],
        [1530642800000,33.73],
        [1530902000000,33.22],
        [1530988400000,31.99],
        [1531074800000,32.41],
        [1531161200000,33.05],
        [1531247600000,33.64],
        [1531506800000,33.56],
        [1531593200000,34.22],
        [1531679600000,33.77],
        [1531766000000,34.17],
        [1531852400000,33.82],
        [1532111600000,34.51],
        [1532198000000,33.16],
        [1532284400000,33.56],
        [1532370800000,33.71],
        [1532457200000,33.81],
        [1532712800000,34.40],
        [1532799200000,34.63],
        [1532885600000,34.46],
        [1532972000000,34.48],
        [1533058400000,34.31],
        [1533317600000,34.70],
        [1533404000000,34.31],
        [1533490400000,33.46],
        [1533576800000,33.59],
        [1533922400000,33.22],
        [1534008800000,32.61],
        [1534095200000,33.01],
        [1534181600000,33.55],
        [1534268000000,33.18],
        [1534527200000,32.84],
        [1534613600000,33.84],
        [1534700000000,33.39],
        [1534786400000,32.91],
        [1534872800000,33.06],
        [1535132000000,32.62],
        [1535218400000,32.40],
        [1535304800000,33.13],
        [1535391200000,33.26],
        [1535477600000,33.58],
        [1535736800000,33.55],
        [1535823200000,33.77],
        [1535909600000,33.76],
        [1535996000000,33.32],
        [1536082400000,32.61],
        [1536341600000,32.52],
        [1536428000000,32.67],
        [1536514400000,32.52],
        [1536600800000,31.92],
        [1536687200000,32.20],
        [1536946400000,32.23],
        [1537032800000,32.33],
        [1537119200000,32.36],
        [1537205600000,32.01],
        [1537292000000,31.31],
        [1537551200000,32.01],
        [1537637600000,32.01],
        [1537724000000,32.18],
        [1537810400000,31.54],
        [1537896800000,31.60],
        [1538242400000,32.05],
        [1538328800000,31.29],
        [1538415200000,31.05],
        [1538501600000,29.82],
        [1538760800000,30.31],
        [1538847200000,30.70],
        [1538933600000,31.69],
        [1539020000000,31.32],
        [1539106400000,31.65],
        [1539365600000,31.13],
        [1539452000000,31.77],
        [1539538400000,31.79],
        [1539624800000,31.67],
        [1539711200000,32.39],
        [1539970400000,32.63],
        [1540056800000,32.89],
        [1540143200000,31.99],
        [1540229600000,31.23],
        [1540316000000,31.57],
        [1540575200000,30.84],
        [1540661600000,31.07],
        [1540748000000,31.41],
        [1540834400000,31.17],
        [1540920800000,32.37],
        [1541180000000,32.19],
        [1541266400000,32.51],
        [1541439200000,32.53],
        [1541525600000,31.37],
        [1541784800000,30.43],
        [1541871200000,30.44],
        [1541957600000,30.20],
        [1542044000000,30.14],
        [1542130400000,30.65],
        [1542389600000,30.40],
        [1542476000000,30.65],
        [1542562400000,31.43],
        [1542648800000,31.89],
        [1542735200000,31.38],
        [1542994400000,30.64],
        [1543080800000,30.02],
        [1543167200000,30.33],
        [1543253600000,30.95],
        [1543340000000,31.89],
        [1543599200000,31.01],
        [1543685600000,30.88],
        [1543772000000,30.69],
        [1543858400000,30.58],
        [1543944800000,32.02],
        [1544204000000,32.14],
        [1544290400000,32.37],
        [1544376800000,32.51],
        [1544463200000,32.65],
        [1544549600000,32.64],
        [1544808800000,32.27],
        [1544895200000,32.10],
        [1544981600000,32.91],
        [1545068000000,33.65],
        [1545154400000,33.80],
        [1545413600000,33.92],
        [1545500000000,33.75],
        [1545586400000,33.84],
        [1545672800000,33.50],
        [1545759200000,32.26],
        [1546018400000,32.32],
        [1546104800000,32.06],
        [1546191200000,31.96],
        [1546277600000,31.46],
        [1546364000000,31.27],
        [1546709600000,31.43],
        [1546796000000,32.26],
        [1546882400000,32.79],
        [1546968800000,32.46],
        [1547228000000,32.13],
        [1547314400000,32.43],
        [1547400800000,32.42],
        [1547487200000,32.81],
        [1547573600000,33.34],
        [1547832800000,33.41],
        [1547919200000,32.57],
        [1548005600000,33.12],
        [1548092000000,34.53],
        [1548178400000,33.83],
        [1548437600000,33.41],
        [1548524000000,32.90],
        [1548610400000,32.53],
        [1548696800000,32.80],
        [1548783200000,32.44],
        [1549042400000,32.62],
        [1549128800000,32.57],
        [1549215200000,32.60],
        [1549301600000,32.68],
        [1549388000000,32.47],
        [1549647200000,32.23],
        [1549733600000,31.68],
        [1549820000000,31.51],
        [1549906400000,31.78],
        [1549992800000,31.94],
        [1550252000000,32.33],
        [1550338400000,33.24],
        [1550424800000,33.44],
        [1550511200000,33.48],
        [1550597600000,33.24],
        [1550856800000,33.49],
        [1550943200000,33.31],
        [1551029600000,33.36],
        [1551116000000,33.40],
        [1551202400000,34.01],
        [1551638000000,34.02],
        [1551724400000,34.36],
        [1551810800000,34.39],
        [1552070000000,34.24],
        [1552156400000,34.39],
        [1552242800000,33.47],
        [1552329200000,32.98],
        [1552415600000,32.90],
        [1552674800000,32.70],
        [1552761200000,32.54],
        [1552847600000,32.23],
        [1552934000000,32.64],
        [1553020400000,32.65],
        [1553279600000,32.92],
        [1553366000000,32.64],
        [1553452400000,32.84],
        [1553625200000,33.40],
        [1553884400000,33.30],
        [1553970800000,33.18],
        [1554057200000,33.88],
        [1554143600000,34.09],
        [1554230000000,34.61],
        [1554489200000,34.70],
        [1554575600000,35.30],
        [1554662000000,35.40],
        [1554748400000,35.14],
        [1554834800000,35.48],
        [1555094000000,35.75],
        [1555180400000,35.54],
        [1555266800000,35.96],
        [1555353200000,35.53],
        [1555439600000,37.56],
        [1555698800000,37.42],
        [1555785200000,37.49],
        [1555871600000,38.09],
        [1555958000000,37.87],
        [1556044400000,37.71],
        [1556303600000,37.53],
        [1556476400000,37.55],
        [1556562800000,37.30],
        [1556649200000,36.90],
        [1556908400000,37.68],
        [1557081200000,38.34],
        [1557167600000,37.75],
        [1557254000000,38.13],
        [1557513200000,37.94],
        [1557599600000,38.14],
        [1557686000000,38.66],
        [1557772400000,38.62],
        [1557858800000,38.09],
        [1558118000000,38.16],
        [1558204400000,38.15],
        [1558290800000,37.88],
        [1558377200000,37.73],
        [1558463600000,37.98],
        [1558809200000,37.95],
        [1558895600000,38.25],
        [1558982000000,38.10],
        [1559068400000,38.32],
        [1559327600000,38.24],
        [1559414000000,38.52],
        [1559500400000,37.94],
        [1559586800000,37.83],
        [1559673200000,38.34],
        [1559932400000,38.10],
        [1560018800000,38.51],
        [1560105200000,38.40],
        [1560191600000,38.07],
        [1560278000000,39.12],
        [1560537200000,38.64],
        [1560623600000,38.89],
        [1560710000000,38.81],
        [1560796400000,38.61],
        [1560882800000,38.63]
      ]
    },
  ];
-
  var datas2 = [
    {
      name: '退貨數量',
      type: 'area',
      data: [
        [1527359600000,30.95],
        [1527446000000,31.34],
        [1527532400000,31.18],
        [1527618800000,31.05],
        [1527878000000,31.00],
        [1527964400000,30.95],
        [1528050800000,31.24],
        [1528137200000,31.29],
        [1528223600000,31.85],
        [1528482800000,31.86],
        [1528569200000,32.28],
        [1528655600000,32.10],
        [1528742000000,32.65],
        [1528828400000,32.21],
        [1529087600000,32.35],
        [1529174000000,32.44],
        [1529260400000,32.46],
        [1529346800000,32.86],
        [1529433200000,32.75],
        [1529778800000,32.54],
        [1529865200000,32.33],
        [1529951600000,32.97],
        [1530038000000,33.41],
        [1530297200000,33.27],
        [1530383600000,33.27],
        [1530470000000,32.89],
        [1530556400000,33.10],
        [1530642800000,33.73],
        [1530902000000,33.22],
        [1530988400000,31.99],
        [1531074800000,32.41],
        [1531161200000,33.05],
        [1531247600000,33.64],
        [1531506800000,33.56],
        [1531593200000,34.22],
        [1531679600000,33.77],
        [1531766000000,34.17],
        [1531852400000,33.82],
        [1532111600000,34.51],
        [1532198000000,33.16],
        [1532284400000,33.56],
        [1532370800000,33.71],
        [1532457200000,33.81],
        [1532712800000,34.40],
        [1532799200000,34.63],
        [1532885600000,34.46],
        [1532972000000,34.48],
        [1533058400000,34.31],
        [1533317600000,34.70],
        [1533404000000,34.31],
        [1533490400000,33.46],
        [1533576800000,33.59],
        [1533922400000,33.22],
        [1534008800000,32.61],
        [1534095200000,33.01],
        [1534181600000,33.55],
        [1534268000000,33.18],
        [1534527200000,32.84],
        [1534613600000,33.84],
        [1534700000000,33.39],
        [1534786400000,32.91],
        [1534872800000,33.06],
        [1535132000000,32.62],
        [1535218400000,32.40],
        [1535304800000,33.13],
        [1535391200000,33.26],
        [1535477600000,33.58],
        [1535736800000,33.55],
        [1535823200000,33.77],
        [1535909600000,33.76],
        [1535996000000,33.32],
        [1536082400000,32.61],
        [1536341600000,32.52],
        [1536428000000,32.67],
        [1536514400000,32.52],
        [1536600800000,31.92],
        [1536687200000,32.20],
        [1536946400000,32.23],
        [1537032800000,32.33],
        [1537119200000,32.36],
        [1537205600000,32.01],
        [1537292000000,31.31],
        [1537551200000,32.01],
        [1537637600000,32.01],
        [1537724000000,32.18],
        [1537810400000,31.54],
        [1537896800000,31.60],
        [1538242400000,32.05],
        [1538328800000,31.29],
        [1538415200000,31.05],
        [1538501600000,29.82],
        [1538760800000,30.31],
        [1538847200000,30.70],
        [1538933600000,31.69],
        [1539020000000,31.32],
        [1539106400000,31.65],
        [1539365600000,31.13],
        [1539452000000,31.77],
        [1539538400000,31.79],
        [1539624800000,31.67],
        [1539711200000,32.39],
        [1539970400000,32.63],
        [1540056800000,32.89],
        [1540143200000,31.99],
        [1540229600000,31.23],
        [1540316000000,31.57],
        [1540575200000,30.84],
        [1540661600000,31.07],
        [1540748000000,31.41],
        [1540834400000,31.17],
        [1540920800000,32.37],
        [1541180000000,32.19],
        [1541266400000,32.51],
        [1541439200000,32.53],
        [1541525600000,31.37],
        [1541784800000,30.43],
        [1541871200000,30.44],
        [1541957600000,30.20],
        [1542044000000,30.14],
        [1542130400000,30.65],
        [1542389600000,30.40],
        [1542476000000,30.65],
        [1542562400000,31.43],
        [1542648800000,31.89],
        [1542735200000,31.38],
        [1542994400000,30.64],
        [1543080800000,30.02],
        [1543167200000,30.33],
        [1543253600000,30.95],
        [1543340000000,31.89],
        [1543599200000,31.01],
        [1543685600000,30.88],
        [1543772000000,30.69],
        [1543858400000,30.58],
        [1543944800000,32.02],
        [1544204000000,32.14],
        [1544290400000,32.37],
        [1544376800000,32.51],
        [1544463200000,32.65],
        [1544549600000,32.64],
        [1544808800000,32.27],
        [1544895200000,32.10],
        [1544981600000,32.91],
        [1545068000000,33.65],
        [1545154400000,33.80],
        [1545413600000,33.92],
        [1545500000000,33.75],
        [1545586400000,33.84],
        [1545672800000,33.50],
        [1545759200000,32.26],
        [1546018400000,32.32],
        [1546104800000,32.06],
        [1546191200000,31.96],
        [1546277600000,31.46],
        [1546364000000,31.27],
        [1546709600000,31.43],
        [1546796000000,32.26],
        [1546882400000,32.79],
        [1546968800000,32.46],
        [1547228000000,32.13],
        [1547314400000,32.43],
        [1547400800000,32.42],
        [1547487200000,32.81],
        [1547573600000,33.34],
        [1547832800000,33.41],
        [1547919200000,32.57],
        [1548005600000,33.12],
        [1548092000000,34.53],
        [1548178400000,33.83],
        [1548437600000,33.41],
        [1548524000000,32.90],
        [1548610400000,32.53],
        [1548696800000,32.80],
        [1548783200000,32.44],
        [1549042400000,32.62],
        [1549128800000,32.57],
        [1549215200000,32.60],
        [1549301600000,32.68],
        [1549388000000,32.47],
        [1549647200000,32.23],
        [1549733600000,31.68],
        [1549820000000,31.51],
        [1549906400000,31.78],
        [1549992800000,31.94],
        [1550252000000,32.33],
        [1550338400000,33.24],
        [1550424800000,33.44],
        [1550511200000,33.48],
        [1550597600000,33.24],
        [1550856800000,33.49],
        [1550943200000,33.31],
        [1551029600000,33.36],
        [1551116000000,33.40],
        [1551202400000,34.01],
        [1551638000000,34.02],
        [1551724400000,34.36],
        [1551810800000,34.39],
        [1552070000000,34.24],
        [1552156400000,34.39],
        [1552242800000,33.47],
        [1552329200000,32.98],
        [1552415600000,32.90],
        [1552674800000,32.70],
        [1552761200000,32.54],
        [1552847600000,32.23],
        [1552934000000,32.64],
        [1553020400000,32.65],
        [1553279600000,32.92],
        [1553366000000,32.64],
        [1553452400000,32.84],
        [1553625200000,33.40],
        [1553884400000,33.30],
        [1553970800000,33.18],
        [1554057200000,33.88],
        [1554143600000,34.09],
        [1554230000000,34.61],
        [1554489200000,34.70],
        [1554575600000,35.30],
        [1554662000000,35.40],
        [1554748400000,35.14],
        [1554834800000,35.48],
        [1555094000000,35.75],
        [1555180400000,35.54],
        [1555266800000,35.96],
        [1555353200000,35.53],
        [1555439600000,37.56],
        [1555698800000,37.42],
        [1555785200000,37.49],
        [1555871600000,38.09],
        [1555958000000,37.87],
        [1556044400000,37.71],
        [1556303600000,37.53],
        [1556476400000,37.55],
        [1556562800000,37.30],
        [1556649200000,36.90],
        [1556908400000,37.68],
        [1557081200000,38.34],
        [1557167600000,37.75],
        [1557254000000,38.13],
        [1557513200000,37.94],
        [1557599600000,38.14],
        [1557686000000,38.66],
        [1557772400000,38.62],
        [1557858800000,38.09],
        [1558118000000,38.16],
        [1558204400000,38.15],
        [1558290800000,37.88],
        [1558377200000,37.73],
        [1558463600000,37.98],
        [1558809200000,37.95],
        [1558895600000,38.25],
        [1558982000000,38.10],
        [1559068400000,38.32],
        [1559327600000,38.24],
        [1559414000000,38.52],
        [1559500400000,37.94],
        [1559586800000,37.83],
        [1559673200000,38.34],
        [1559932400000,38.10],
        [1560018800000,38.51],
        [1560105200000,38.40],
        [1560191600000,38.07],
        [1560278000000,39.12],
        [1560537200000,38.64],
        [1560623600000,38.89],
        [1560710000000,38.81],
        [1560796400000,38.61],
        [1560882800000,38.63]
      ]
    },
  ];
-
  var datas3 = [
    {
      name: '退貨數量',
      type: 'area',
      data: [
        [1527359600000,30.95],
        [1527446000000,31.34],
        [1527532400000,31.18],
        [1527618800000,31.05],
        [1527878000000,31.00],
        [1527964400000,30.95],
        [1528050800000,31.24],
        [1528137200000,31.29],
        [1528223600000,31.85],
        [1528482800000,31.86],
        [1528569200000,32.28],
        [1528655600000,32.10],
        [1528742000000,32.65],
        [1528828400000,32.21],
        [1529087600000,32.35],
        [1529174000000,32.44],
        [1529260400000,32.46],
        [1529346800000,32.86],
        [1529433200000,32.75],
        [1529778800000,32.54],
        [1529865200000,32.33],
        [1529951600000,32.97],
        [1530038000000,33.41],
        [1530297200000,33.27],
        [1530383600000,33.27],
        [1530470000000,32.89],
        [1530556400000,33.10],
        [1530642800000,33.73],
        [1530902000000,33.22],
        [1530988400000,31.99],
        [1531074800000,32.41],
        [1531161200000,33.05],
        [1531247600000,33.64],
        [1531506800000,33.56],
        [1531593200000,34.22],
        [1531679600000,33.77],
        [1531766000000,34.17],
        [1531852400000,33.82],
        [1532111600000,34.51],
        [1532198000000,33.16],
        [1532284400000,33.56],
        [1532370800000,33.71],
        [1532457200000,33.81],
        [1532712800000,34.40],
        [1532799200000,34.63],
        [1532885600000,34.46],
        [1532972000000,34.48],
        [1533058400000,34.31],
        [1533317600000,34.70],
        [1533404000000,34.31],
        [1533490400000,33.46],
        [1533576800000,33.59],
        [1533922400000,33.22],
        [1534008800000,32.61],
        [1534095200000,33.01],
        [1534181600000,33.55],
        [1534268000000,33.18],
        [1534527200000,32.84],
        [1534613600000,33.84],
        [1534700000000,33.39],
        [1534786400000,32.91],
        [1534872800000,33.06],
        [1535132000000,32.62],
        [1535218400000,32.40],
        [1535304800000,33.13],
        [1535391200000,33.26],
        [1535477600000,33.58],
        [1535736800000,33.55],
        [1535823200000,33.77],
        [1535909600000,33.76],
        [1535996000000,33.32],
        [1536082400000,32.61],
        [1536341600000,32.52],
        [1536428000000,32.67],
        [1536514400000,32.52],
        [1536600800000,31.92],
        [1536687200000,32.20],
        [1536946400000,32.23],
        [1537032800000,32.33],
        [1537119200000,32.36],
        [1537205600000,32.01],
        [1537292000000,31.31],
        [1537551200000,32.01],
        [1537637600000,32.01],
        [1537724000000,32.18],
        [1537810400000,31.54],
        [1537896800000,31.60],
        [1538242400000,32.05],
        [1538328800000,31.29],
        [1538415200000,31.05],
        [1538501600000,29.82],
        [1538760800000,30.31],
        [1538847200000,30.70],
        [1538933600000,31.69],
        [1539020000000,31.32],
        [1539106400000,31.65],
        [1539365600000,31.13],
        [1539452000000,31.77],
        [1539538400000,31.79],
        [1539624800000,31.67],
        [1539711200000,32.39],
        [1539970400000,32.63],
        [1540056800000,32.89],
        [1540143200000,31.99],
        [1540229600000,31.23],
        [1540316000000,31.57],
        [1540575200000,30.84],
        [1540661600000,31.07],
        [1540748000000,31.41],
        [1540834400000,31.17],
        [1540920800000,32.37],
        [1541180000000,32.19],
        [1541266400000,32.51],
        [1541439200000,32.53],
        [1541525600000,31.37],
        [1541784800000,30.43],
        [1541871200000,30.44],
        [1541957600000,30.20],
        [1542044000000,30.14],
        [1542130400000,30.65],
        [1542389600000,30.40],
        [1542476000000,30.65],
        [1542562400000,31.43],
        [1542648800000,31.89],
        [1542735200000,31.38],
        [1542994400000,30.64],
        [1543080800000,30.02],
        [1543167200000,30.33],
        [1543253600000,30.95],
        [1543340000000,31.89],
        [1543599200000,31.01],
        [1543685600000,30.88],
        [1543772000000,30.69],
        [1543858400000,30.58],
        [1543944800000,32.02],
        [1544204000000,32.14],
        [1544290400000,32.37],
        [1544376800000,32.51],
        [1544463200000,32.65],
        [1544549600000,32.64],
        [1544808800000,32.27],
        [1544895200000,32.10],
        [1544981600000,32.91],
        [1545068000000,33.65],
        [1545154400000,33.80],
        [1545413600000,33.92],
        [1545500000000,33.75],
        [1545586400000,33.84],
        [1545672800000,33.50],
        [1545759200000,32.26],
        [1546018400000,32.32],
        [1546104800000,32.06],
        [1546191200000,31.96],
        [1546277600000,31.46],
        [1546364000000,31.27],
        [1546709600000,31.43],
        [1546796000000,32.26],
        [1546882400000,32.79],
        [1546968800000,32.46],
        [1547228000000,32.13],
        [1547314400000,32.43],
        [1547400800000,32.42],
        [1547487200000,32.81],
        [1547573600000,33.34],
        [1547832800000,33.41],
        [1547919200000,32.57],
        [1548005600000,33.12],
        [1548092000000,34.53],
        [1548178400000,33.83],
        [1548437600000,33.41],
        [1548524000000,32.90],
        [1548610400000,32.53],
        [1548696800000,32.80],
        [1548783200000,32.44],
        [1549042400000,32.62],
        [1549128800000,32.57],
        [1549215200000,32.60],
        [1549301600000,32.68],
        [1549388000000,32.47],
        [1549647200000,32.23],
        [1549733600000,31.68],
        [1549820000000,31.51],
        [1549906400000,31.78],
        [1549992800000,31.94],
        [1550252000000,32.33],
        [1550338400000,33.24],
        [1550424800000,33.44],
        [1550511200000,33.48],
        [1550597600000,33.24],
        [1550856800000,33.49],
        [1550943200000,33.31],
        [1551029600000,33.36],
        [1551116000000,33.40],
        [1551202400000,34.01],
        [1551638000000,34.02],
        [1551724400000,34.36],
        [1551810800000,34.39],
        [1552070000000,34.24],
        [1552156400000,34.39],
        [1552242800000,33.47],
        [1552329200000,32.98],
        [1552415600000,32.90],
        [1552674800000,32.70],
        [1552761200000,32.54],
        [1552847600000,32.23],
        [1552934000000,32.64],
        [1553020400000,32.65],
        [1553279600000,32.92],
        [1553366000000,32.64],
        [1553452400000,32.84],
        [1553625200000,33.40],
        [1553884400000,33.30],
        [1553970800000,33.18],
        [1554057200000,33.88],
        [1554143600000,34.09],
        [1554230000000,34.61],
        [1554489200000,34.70],
        [1554575600000,35.30],
        [1554662000000,35.40],
        [1554748400000,35.14],
        [1554834800000,35.48],
        [1555094000000,35.75],
        [1555180400000,35.54],
        [1555266800000,35.96],
        [1555353200000,35.53],
        [1555439600000,37.56],
        [1555698800000,37.42],
        [1555785200000,37.49],
        [1555871600000,38.09],
        [1555958000000,37.87],
        [1556044400000,37.71],
        [1556303600000,37.53],
        [1556476400000,37.55],
        [1556562800000,37.30],
        [1556649200000,36.90],
        [1556908400000,37.68],
        [1557081200000,38.34],
        [1557167600000,37.75],
        [1557254000000,38.13],
        [1557513200000,37.94],
        [1557599600000,38.14],
        [1557686000000,38.66],
        [1557772400000,38.62],
        [1557858800000,38.09],
        [1558118000000,38.16],
        [1558204400000,38.15],
        [1558290800000,37.88],
        [1558377200000,37.73],
        [1558463600000,37.98],
        [1558809200000,37.95],
        [1558895600000,38.25],
        [1558982000000,38.10],
        [1559068400000,38.32],
        [1559327600000,38.24],
        [1559414000000,38.52],
        [1559500400000,37.94],
        [1559586800000,37.83],
        [1559673200000,38.34],
        [1559932400000,38.10],
        [1560018800000,38.51],
        [1560105200000,38.40],
        [1560191600000,38.07],
        [1560278000000,39.12],
        [1560537200000,38.64],
        [1560623600000,38.89],
        [1560710000000,38.81],
        [1560796400000,38.61],
        [1560882800000,38.63]
      ]
    },
    {
      name: '金額',
      type: 'line',
      data: [
        [1527359600000,300.95],
        [1527446000000,310.34],
        [1527532400000,310.18],
        [1527618800000,310.05],
        [1527878000000,310.00],
        [1527964400000,300.95],
        [1528050800000,310.24],
        [1528137200000,310.29],
        [1528223600000,310.85],
        [1528482800000,310.86],
        [1528569200000,320.28],
        [1528655600000,320.10],
        [1528742000000,320.65],
        [1528828400000,320.21],
        [1529087600000,320.35],
        [1529174000000,320.44],
        [1529260400000,320.46],
        [1529346800000,320.86],
        [1529433200000,320.75],
        [1529778800000,320.54],
        [1529865200000,320.33],
        [1529951600000,320.97],
        [1530038000000,330.41],
        [1530297200000,330.27],
        [1530383600000,330.27],
        [1530470000000,320.89],
        [1530556400000,330.10],
        [1530642800000,330.73],
        [1530902000000,330.22],
        [1530988400000,310.99],
        [1531074800000,320.41],
        [1531161200000,330.05],
        [1531247600000,330.64],
        [1531506800000,330.56],
        [1531593200000,340.22],
        [1531679600000,330.77],
        [1531766000000,340.17],
        [1531852400000,330.82],
        [1532111600000,340.51],
        [1532198000000,330.16],
        [1532284400000,330.56],
        [1532370800000,330.71],
        [1532457200000,330.81],
        [1532712800000,340.40],
        [1532799200000,340.63],
        [1532885600000,340.46],
        [1532972000000,340.48],
        [1533058400000,340.31],
        [1533317600000,340.70],
        [1533404000000,340.31],
        [1533490400000,330.46],
        [1533576800000,330.59],
        [1533922400000,330.22],
        [1534008800000,320.61],
        [1534095200000,330.01],
        [1534181600000,330.55],
        [1534268000000,330.18],
        [1534527200000,320.84],
        [1534613600000,330.84],
        [1534700000000,330.39],
        [1534786400000,320.91],
        [1534872800000,330.06],
        [1535132000000,320.62],
        [1535218400000,320.40],
        [1535304800000,330.13],
        [1535391200000,330.26],
        [1535477600000,330.58],
        [1535736800000,330.55],
        [1535823200000,330.77],
        [1535909600000,330.76],
        [1535996000000,330.32],
        [1536082400000,320.61],
        [1536341600000,320.52],
        [1536428000000,320.67],
        [1536514400000,320.52],
        [1536600800000,310.92],
        [1536687200000,320.20],
        [1536946400000,320.23],
        [1537032800000,320.33],
        [1537119200000,320.36],
        [1537205600000,320.01],
        [1537292000000,310.31],
        [1537551200000,320.01],
        [1537637600000,320.01],
        [1537724000000,400.18],
        [1537810400000,310.54],
        [1537896800000,310.60],
        [1538242400000,400.05],
        [1538328800000,278.29],
        [1538415200000,278.05],
        [1538501600000,290.82],
        [1538760800000,300.31],
        [1538847200000,300.70],
        [1538933600000,278.69],
        [1539020000000,278.32],
        [1539106400000,278.65],
        [1539365600000,278.13],
        [1539452000000,278.77],
        [1539538400000,310.79],
        [1539624800000,310.67],
        [1539711200000,320.39],
        [1539970400000,320.63],
        [1540056800000,320.89],
        [1540143200000,310.99],
        [1540229600000,310.23],
        [1540316000000,310.57],
        [1540575200000,300.84],
        [1540661600000,310.07],
        [1540748000000,310.41],
        [1540834400000,310.17],
        [1540920800000,320.37],
        [1541180000000,320.19],
        [1541266400000,320.51],
        [1541439200000,320.53],
        [1541525600000,310.37],
        [1541784800000,300.43],
        [1541871200000,300.44],
        [1541957600000,300.20],
        [1542044000000,300.14],
        [1542130400000,300.65],
        [1542389600000,300.40],
        [1542476000000,300.65],
        [1542562400000,310.43],
        [1542648800000,310.89],
        [1542735200000,310.38],
        [1542994400000,300.64],
        [1543080800000,300.02],
        [1543167200000,300.33],
        [1543253600000,300.95],
        [1543340000000,310.89],
        [1543599200000,310.01],
        [1543685600000,300.88],
        [1543772000000,300.69],
        [1543858400000,300.58],
        [1543944800000,320.02],
        [1544204000000,320.14],
        [1544290400000,320.37],
        [1544376800000,320.51],
        [1544463200000,320.65],
        [1544549600000,320.64],
        [1544808800000,320.27],
        [1544895200000,320.10],
        [1544981600000,320.91],
        [1545068000000,330.65],
        [1545154400000,330.80],
        [1545413600000,330.92],
        [1545500000000,330.75],
        [1545586400000,330.84],
        [1545672800000,330.50],
        [1545759200000,320.26],
        [1546018400000,320.32],
        [1546104800000,320.06],
        [1546191200000,310.96],
        [1546277600000,310.46],
        [1546364000000,310.27],
        [1546709600000,310.43],
        [1546796000000,320.26],
        [1546882400000,320.79],
        [1546968800000,320.46],
        [1547228000000,320.13],
        [1547314400000,320.43],
        [1547400800000,320.42],
        [1547487200000,320.81],
        [1547573600000,330.34],
        [1547832800000,330.41],
        [1547919200000,320.57],
        [1548005600000,330.12],
        [1548092000000,340.53],
        [1548178400000,330.83],
        [1548437600000,330.41],
        [1548524000000,320.90],
        [1548610400000,320.53],
        [1548696800000,320.80],
        [1548783200000,320.44],
        [1549042400000,320.62],
        [1549128800000,320.57],
        [1549215200000,320.60],
        [1549301600000,320.68],
        [1549388000000,320.47],
        [1549647200000,320.23],
        [1549733600000,310.68],
        [1549820000000,310.51],
        [1549906400000,310.78],
        [1549992800000,310.94],
        [1550252000000,320.33],
        [1550338400000,330.24],
        [1550424800000,330.44],
        [1550511200000,330.48],
        [1550597600000,330.24],
        [1550856800000,330.49],
        [1550943200000,330.31],
        [1551029600000,330.36],
        [1551116000000,330.40],
        [1551202400000,340.01],
        [1551638000000,340.02],
        [1551724400000,340.36],
        [1551810800000,340.39],
        [1552070000000,340.24],
        [1552156400000,340.39],
        [1552242800000,330.47],
        [1552329200000,320.98],
        [1552415600000,320.90],
        [1552674800000,320.70],
        [1552761200000,320.54],
        [1552847600000,320.23],
        [1552934000000,320.64],
        [1553020400000,320.65],
        [1553279600000,320.92],
        [1553366000000,320.64],
        [1553452400000,320.84],
        [1553625200000,330.40],
        [1553884400000,330.30],
        [1553970800000,330.18],
        [1554057200000,330.88],
        [1554143600000,340.09],
        [1554230000000,340.61],
        [1554489200000,340.70],
        [1554575600000,350.30],
        [1554662000000,350.40],
        [1554748400000,350.14],
        [1554834800000,350.48],
        [1555094000000,350.75],
        [1555180400000,350.54],
        [1555266800000,350.96],
        [1555353200000,350.53],
        [1555439600000,370.56],
        [1555698800000,370.42],
        [1555785200000,370.49],
        [1555871600000,380.09],
        [1555958000000,370.87],
        [1556044400000,370.71],
        [1556303600000,370.53],
        [1556476400000,370.55],
        [1556562800000,370.30],
        [1556649200000,360.90],
        [1556908400000,370.68],
        [1557081200000,380.34],
        [1557167600000,370.75],
        [1557254000000,380.13],
        [1557513200000,370.94],
        [1557599600000,380.14],
        [1557686000000,380.66],
        [1557772400000,380.62],
        [1557858800000,380.09],
        [1558118000000,380.16],
        [1558204400000,380.15],
        [1558290800000,370.88],
        [1558377200000,370.73],
        [1558463600000,370.98],
        [1558809200000,370.95],
        [1558895600000,380.25],
        [1558982000000,380.10],
        [1559068400000,380.32],
        [1559327600000,380.24],
        [1559414000000,380.52],
        [1559500400000,370.94],
        [1559586800000,370.83],
        [1559673200000,380.34],
        [1559932400000,380.10],
        [1560018800000,380.51],
        [1560105200000,380.40],
        [1560191600000,380.07],
        [1560278000000,390.12],
        [1560537200000,380.64],
        [1560623600000,380.89],
        [1560710000000,380.81],
        [1560796400000,380.61],
        [1560882800000,380.63],
      ]
    }
  ];
-
  var datas4 = [
    {
      name: '銷售數量',
      type: 'area',
      data: [
        [1527359600000,30.95],
        [1527446000000,31.34],
        [1527532400000,31.18],
        [1527618800000,31.05],
        [1527878000000,31.00],
        [1527964400000,30.95],
        [1528050800000,31.24],
        [1528137200000,31.29],
        [1528223600000,31.85],
        [1528482800000,31.86],
        [1528569200000,32.28],
        [1528655600000,32.10],
        [1528742000000,32.65],
        [1528828400000,32.21],
        [1529087600000,32.35],
        [1529174000000,32.44],
        [1529260400000,32.46],
        [1529346800000,32.86],
        [1529433200000,32.75],
        [1529778800000,32.54],
        [1529865200000,32.33],
        [1529951600000,32.97],
        [1530038000000,33.41],
        [1530297200000,33.27],
        [1530383600000,33.27],
        [1530470000000,32.89],
        [1530556400000,33.10],
        [1530642800000,33.73],
        [1530902000000,33.22],
        [1530988400000,31.99],
        [1531074800000,32.41],
        [1531161200000,33.05],
        [1531247600000,33.64],
        [1531506800000,33.56],
        [1531593200000,34.22],
        [1531679600000,33.77],
        [1531766000000,34.17],
        [1531852400000,33.82],
        [1532111600000,34.51],
        [1532198000000,33.16],
        [1532284400000,33.56],
        [1532370800000,33.71],
        [1532457200000,33.81],
        [1532712800000,34.40],
        [1532799200000,34.63],
        [1532885600000,34.46],
        [1532972000000,34.48],
        [1533058400000,34.31],
        [1533317600000,34.70],
        [1533404000000,34.31],
        [1533490400000,33.46],
        [1533576800000,33.59],
        [1533922400000,33.22],
        [1534008800000,32.61],
        [1534095200000,33.01],
        [1534181600000,33.55],
        [1534268000000,33.18],
        [1534527200000,32.84],
        [1534613600000,33.84],
        [1534700000000,33.39],
        [1534786400000,32.91],
        [1534872800000,33.06],
        [1535132000000,32.62],
        [1535218400000,32.40],
        [1535304800000,33.13],
        [1535391200000,33.26],
        [1535477600000,33.58],
        [1535736800000,33.55],
        [1535823200000,33.77],
        [1535909600000,33.76],
        [1535996000000,33.32],
        [1536082400000,32.61],
        [1536341600000,32.52],
        [1536428000000,32.67],
        [1536514400000,32.52],
        [1536600800000,31.92],
        [1536687200000,32.20],
        [1536946400000,32.23],
        [1537032800000,32.33],
        [1537119200000,32.36],
        [1537205600000,32.01],
        [1537292000000,31.31],
        [1537551200000,32.01],
        [1537637600000,32.01],
        [1537724000000,32.18],
        [1537810400000,31.54],
        [1537896800000,31.60],
        [1538242400000,32.05],
        [1538328800000,31.29],
        [1538415200000,31.05],
        [1538501600000,29.82],
        [1538760800000,30.31],
        [1538847200000,30.70],
        [1538933600000,31.69],
        [1539020000000,31.32],
        [1539106400000,31.65],
        [1539365600000,31.13],
        [1539452000000,31.77],
        [1539538400000,31.79],
        [1539624800000,31.67],
        [1539711200000,32.39],
        [1539970400000,32.63],
        [1540056800000,32.89],
        [1540143200000,31.99],
        [1540229600000,31.23],
        [1540316000000,31.57],
        [1540575200000,30.84],
        [1540661600000,31.07],
        [1540748000000,31.41],
        [1540834400000,31.17],
        [1540920800000,32.37],
        [1541180000000,32.19],
        [1541266400000,32.51],
        [1541439200000,32.53],
        [1541525600000,31.37],
        [1541784800000,30.43],
        [1541871200000,30.44],
        [1541957600000,30.20],
        [1542044000000,30.14],
        [1542130400000,30.65],
        [1542389600000,30.40],
        [1542476000000,30.65],
        [1542562400000,31.43],
        [1542648800000,31.89],
        [1542735200000,31.38],
        [1542994400000,30.64],
        [1543080800000,30.02],
        [1543167200000,30.33],
        [1543253600000,30.95],
        [1543340000000,31.89],
        [1543599200000,31.01],
        [1543685600000,30.88],
        [1543772000000,30.69],
        [1543858400000,30.58],
        [1543944800000,32.02],
        [1544204000000,32.14],
        [1544290400000,32.37],
        [1544376800000,32.51],
        [1544463200000,32.65],
        [1544549600000,32.64],
        [1544808800000,32.27],
        [1544895200000,32.10],
        [1544981600000,32.91],
        [1545068000000,33.65],
        [1545154400000,33.80],
        [1545413600000,33.92],
        [1545500000000,33.75],
        [1545586400000,33.84],
        [1545672800000,33.50],
        [1545759200000,32.26],
        [1546018400000,32.32],
        [1546104800000,32.06],
        [1546191200000,31.96],
        [1546277600000,31.46],
        [1546364000000,31.27],
        [1546709600000,31.43],
        [1546796000000,32.26],
        [1546882400000,32.79],
        [1546968800000,32.46],
        [1547228000000,32.13],
        [1547314400000,32.43],
        [1547400800000,32.42],
        [1547487200000,32.81],
        [1547573600000,33.34],
        [1547832800000,33.41],
        [1547919200000,32.57],
        [1548005600000,33.12],
        [1548092000000,34.53],
        [1548178400000,33.83],
        [1548437600000,33.41],
        [1548524000000,32.90],
        [1548610400000,32.53],
        [1548696800000,32.80],
        [1548783200000,32.44],
        [1549042400000,32.62],
        [1549128800000,32.57],
        [1549215200000,32.60],
        [1549301600000,32.68],
        [1549388000000,32.47],
        [1549647200000,32.23],
        [1549733600000,31.68],
        [1549820000000,31.51],
        [1549906400000,31.78],
        [1549992800000,31.94],
        [1550252000000,32.33],
        [1550338400000,33.24],
        [1550424800000,33.44],
        [1550511200000,33.48],
        [1550597600000,33.24],
        [1550856800000,33.49],
        [1550943200000,33.31],
        [1551029600000,33.36],
        [1551116000000,33.40],
        [1551202400000,34.01],
        [1551638000000,34.02],
        [1551724400000,34.36],
        [1551810800000,34.39],
        [1552070000000,34.24],
        [1552156400000,34.39],
        [1552242800000,33.47],
        [1552329200000,32.98],
        [1552415600000,32.90],
        [1552674800000,32.70],
        [1552761200000,32.54],
        [1552847600000,32.23],
        [1552934000000,32.64],
        [1553020400000,32.65],
        [1553279600000,32.92],
        [1553366000000,32.64],
        [1553452400000,32.84],
        [1553625200000,33.40],
        [1553884400000,33.30],
        [1553970800000,33.18],
        [1554057200000,33.88],
        [1554143600000,34.09],
        [1554230000000,34.61],
        [1554489200000,34.70],
        [1554575600000,35.30],
        [1554662000000,35.40],
        [1554748400000,35.14],
        [1554834800000,35.48],
        [1555094000000,35.75],
        [1555180400000,35.54],
        [1555266800000,35.96],
        [1555353200000,35.53],
        [1555439600000,37.56],
        [1555698800000,37.42],
        [1555785200000,37.49],
        [1555871600000,38.09],
        [1555958000000,37.87],
        [1556044400000,37.71],
        [1556303600000,37.53],
        [1556476400000,37.55],
        [1556562800000,37.30],
        [1556649200000,36.90],
        [1556908400000,37.68],
        [1557081200000,38.34],
        [1557167600000,37.75],
        [1557254000000,38.13],
        [1557513200000,37.94],
        [1557599600000,38.14],
        [1557686000000,38.66],
        [1557772400000,38.62],
        [1557858800000,38.09],
        [1558118000000,38.16],
        [1558204400000,38.15],
        [1558290800000,37.88],
        [1558377200000,37.73],
        [1558463600000,37.98],
        [1558809200000,37.95],
        [1558895600000,38.25],
        [1558982000000,38.10],
        [1559068400000,38.32],
        [1559327600000,38.24],
        [1559414000000,38.52],
        [1559500400000,37.94],
        [1559586800000,37.83],
        [1559673200000,38.34],
        [1559932400000,38.10],
        [1560018800000,38.51],
        [1560105200000,38.40],
        [1560191600000,38.07],
        [1560278000000,39.12],
        [1560537200000,38.64],
        [1560623600000,38.89],
        [1560710000000,38.81],
        [1560796400000,38.61],
        [1560882800000,38.63]
      ]
    },
    {
      name: '金額',
      type: 'line',
      data: [
        [1527359600000,300.95],
        [1527446000000,310.34],
        [1527532400000,310.18],
        [1527618800000,310.05],
        [1527878000000,310.00],
        [1527964400000,300.95],
        [1528050800000,310.24],
        [1528137200000,310.29],
        [1528223600000,310.85],
        [1528482800000,310.86],
        [1528569200000,320.28],
        [1528655600000,320.10],
        [1528742000000,320.65],
        [1528828400000,320.21],
        [1529087600000,320.35],
        [1529174000000,320.44],
        [1529260400000,320.46],
        [1529346800000,320.86],
        [1529433200000,320.75],
        [1529778800000,320.54],
        [1529865200000,320.33],
        [1529951600000,320.97],
        [1530038000000,330.41],
        [1530297200000,330.27],
        [1530383600000,330.27],
        [1530470000000,320.89],
        [1530556400000,330.10],
        [1530642800000,330.73],
        [1530902000000,330.22],
        [1530988400000,310.99],
        [1531074800000,320.41],
        [1531161200000,330.05],
        [1531247600000,330.64],
        [1531506800000,330.56],
        [1531593200000,340.22],
        [1531679600000,330.77],
        [1531766000000,340.17],
        [1531852400000,330.82],
        [1532111600000,340.51],
        [1532198000000,330.16],
        [1532284400000,330.56],
        [1532370800000,330.71],
        [1532457200000,330.81],
        [1532712800000,340.40],
        [1532799200000,340.63],
        [1532885600000,340.46],
        [1532972000000,340.48],
        [1533058400000,340.31],
        [1533317600000,340.70],
        [1533404000000,340.31],
        [1533490400000,330.46],
        [1533576800000,330.59],
        [1533922400000,330.22],
        [1534008800000,320.61],
        [1534095200000,330.01],
        [1534181600000,330.55],
        [1534268000000,330.18],
        [1534527200000,320.84],
        [1534613600000,330.84],
        [1534700000000,330.39],
        [1534786400000,320.91],
        [1534872800000,330.06],
        [1535132000000,320.62],
        [1535218400000,320.40],
        [1535304800000,330.13],
        [1535391200000,330.26],
        [1535477600000,330.58],
        [1535736800000,330.55],
        [1535823200000,330.77],
        [1535909600000,330.76],
        [1535996000000,330.32],
        [1536082400000,320.61],
        [1536341600000,320.52],
        [1536428000000,320.67],
        [1536514400000,320.52],
        [1536600800000,310.92],
        [1536687200000,320.20],
        [1536946400000,320.23],
        [1537032800000,320.33],
        [1537119200000,320.36],
        [1537205600000,320.01],
        [1537292000000,310.31],
        [1537551200000,320.01],
        [1537637600000,320.01],
        [1537724000000,400.18],
        [1537810400000,310.54],
        [1537896800000,310.60],
        [1538242400000,400.05],
        [1538328800000,278.29],
        [1538415200000,278.05],
        [1538501600000,290.82],
        [1538760800000,300.31],
        [1538847200000,300.70],
        [1538933600000,278.69],
        [1539020000000,278.32],
        [1539106400000,278.65],
        [1539365600000,278.13],
        [1539452000000,278.77],
        [1539538400000,310.79],
        [1539624800000,310.67],
        [1539711200000,320.39],
        [1539970400000,320.63],
        [1540056800000,320.89],
        [1540143200000,310.99],
        [1540229600000,310.23],
        [1540316000000,310.57],
        [1540575200000,300.84],
        [1540661600000,310.07],
        [1540748000000,310.41],
        [1540834400000,310.17],
        [1540920800000,320.37],
        [1541180000000,320.19],
        [1541266400000,320.51],
        [1541439200000,320.53],
        [1541525600000,310.37],
        [1541784800000,300.43],
        [1541871200000,300.44],
        [1541957600000,300.20],
        [1542044000000,300.14],
        [1542130400000,300.65],
        [1542389600000,300.40],
        [1542476000000,300.65],
        [1542562400000,310.43],
        [1542648800000,310.89],
        [1542735200000,310.38],
        [1542994400000,300.64],
        [1543080800000,300.02],
        [1543167200000,300.33],
        [1543253600000,300.95],
        [1543340000000,310.89],
        [1543599200000,310.01],
        [1543685600000,300.88],
        [1543772000000,300.69],
        [1543858400000,300.58],
        [1543944800000,320.02],
        [1544204000000,320.14],
        [1544290400000,320.37],
        [1544376800000,320.51],
        [1544463200000,320.65],
        [1544549600000,320.64],
        [1544808800000,320.27],
        [1544895200000,320.10],
        [1544981600000,320.91],
        [1545068000000,330.65],
        [1545154400000,330.80],
        [1545413600000,330.92],
        [1545500000000,330.75],
        [1545586400000,330.84],
        [1545672800000,330.50],
        [1545759200000,320.26],
        [1546018400000,320.32],
        [1546104800000,320.06],
        [1546191200000,310.96],
        [1546277600000,310.46],
        [1546364000000,310.27],
        [1546709600000,310.43],
        [1546796000000,320.26],
        [1546882400000,320.79],
        [1546968800000,320.46],
        [1547228000000,320.13],
        [1547314400000,320.43],
        [1547400800000,320.42],
        [1547487200000,320.81],
        [1547573600000,330.34],
        [1547832800000,330.41],
        [1547919200000,320.57],
        [1548005600000,330.12],
        [1548092000000,340.53],
        [1548178400000,330.83],
        [1548437600000,330.41],
        [1548524000000,320.90],
        [1548610400000,320.53],
        [1548696800000,320.80],
        [1548783200000,320.44],
        [1549042400000,320.62],
        [1549128800000,320.57],
        [1549215200000,320.60],
        [1549301600000,320.68],
        [1549388000000,320.47],
        [1549647200000,320.23],
        [1549733600000,310.68],
        [1549820000000,310.51],
        [1549906400000,310.78],
        [1549992800000,310.94],
        [1550252000000,320.33],
        [1550338400000,330.24],
        [1550424800000,330.44],
        [1550511200000,330.48],
        [1550597600000,330.24],
        [1550856800000,330.49],
        [1550943200000,330.31],
        [1551029600000,330.36],
        [1551116000000,330.40],
        [1551202400000,340.01],
        [1551638000000,340.02],
        [1551724400000,340.36],
        [1551810800000,340.39],
        [1552070000000,340.24],
        [1552156400000,340.39],
        [1552242800000,330.47],
        [1552329200000,320.98],
        [1552415600000,320.90],
        [1552674800000,320.70],
        [1552761200000,320.54],
        [1552847600000,320.23],
        [1552934000000,320.64],
        [1553020400000,320.65],
        [1553279600000,320.92],
        [1553366000000,320.64],
        [1553452400000,320.84],
        [1553625200000,330.40],
        [1553884400000,330.30],
        [1553970800000,330.18],
        [1554057200000,330.88],
        [1554143600000,340.09],
        [1554230000000,340.61],
        [1554489200000,340.70],
        [1554575600000,350.30],
        [1554662000000,350.40],
        [1554748400000,350.14],
        [1554834800000,350.48],
        [1555094000000,350.75],
        [1555180400000,350.54],
        [1555266800000,350.96],
        [1555353200000,350.53],
        [1555439600000,370.56],
        [1555698800000,370.42],
        [1555785200000,370.49],
        [1555871600000,380.09],
        [1555958000000,370.87],
        [1556044400000,370.71],
        [1556303600000,370.53],
        [1556476400000,370.55],
        [1556562800000,370.30],
        [1556649200000,360.90],
        [1556908400000,370.68],
        [1557081200000,380.34],
        [1557167600000,370.75],
        [1557254000000,380.13],
        [1557513200000,370.94],
        [1557599600000,380.14],
        [1557686000000,380.66],
        [1557772400000,380.62],
        [1557858800000,380.09],
        [1558118000000,380.16],
        [1558204400000,380.15],
        [1558290800000,370.88],
        [1558377200000,370.73],
        [1558463600000,370.98],
        [1558809200000,370.95],
        [1558895600000,380.25],
        [1558982000000,380.10],
        [1559068400000,380.32],
        [1559327600000,380.24],
        [1559414000000,380.52],
        [1559500400000,370.94],
        [1559586800000,370.83],
        [1559673200000,380.34],
        [1559932400000,380.10],
        [1560018800000,380.51],
        [1560105200000,380.40],
        [1560191600000,380.07],
        [1560278000000,390.12],
        [1560537200000,380.64],
        [1560623600000,380.89],
        [1560710000000,380.81],
        [1560796400000,380.61],
        [1560882800000,380.63],
      ]
    }
  ];