script. 
    $('.auth-btn').click(function() {
      var staffId = $(this).data('staffId');
      var auth = $(this).data('auth').split(',');
      $('#auth-modal').find('input[name="staff_id"]').val(staffId);
      var $checkbox = $('#auth-modal').find('input[type="checkbox"]');
      $.each( $checkbox, function( i, chk ) {
        chk.checked = auth.indexOf(chk.value) > -1 ? true : false;
      })
    });
    $('.stop-btn').click(function() {
      var staffId = $(this).data('staffId');
      $('#stop-modal').find('input[name="staff_id"]').val(staffId);
    });
    $('.leave-btn').click(function() {
      var staffId = $(this).data('staffId');
      $('#leave-modal').find('input[name="staff_id"]').val(staffId);
    });
    $('.add-date-btn').click(function() {
      var $dateWrapper = $($(this).parent().prev());
      var dateChildren = $dateWrapper.children();
      var index = dateChildren.length + 1;
      $newDiv = $('<div class="d-flex mt-1 align-items-start"><label class="col-form-label">#'+index+'</label><input class="form-control ml-2" name="dates[]" style="width: 220px;" /><button class="btn btn-danger btn-sm ml-2 del-btn" type="button">Del</button></div>')
      setDate($newDiv.find('input[name="dates[]"]'));
      $newDiv.find('.del-btn').click(function() {
        $(this).parent().remove();
        var $newChildren = $dateWrapper.children();
        $.each( $newChildren, function( i, child ) {
          $(child).find('.col-form-label').html('#'+ (+i + 1));
        })
      });
      $dateWrapper.append($newDiv);
    }) 
    setDate($('input[name="dates[]"]'));
    function setDate($target) {
      $target.daterangepicker({
        "timePicker": true,
        "opens": "left",
        "showCustomRangeLabel": false,
        locale: {
          format: 'M/DD hh:mm A'
        }
      });
    }

    