.modal#auth-modal(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      form
        input(type="hidden" name="staff_id")
        .modal-header
          h5.modal-title 權限設定
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .form-check.form-check-inline
            input#auth1.form-check-input(type='checkbox', value='1')
            label.form-check-label(for='auth1') 產品管理
          .form-check.form-check-inline
            input#auth2.form-check-input(type='checkbox', value='2')
            label.form-check-label(for='auth2') 訂單管理
          .form-check.form-check-inline
            input#auth3.form-check-input(type='checkbox', value='3')
            label.form-check-label(for='auth3') 員工管理
          .form-check.form-check-inline
            input#auth4.form-check-input(type='checkbox', value='4')
            label.form-check-label(for='auth4') 設定
          .form-check.form-check-inline
            input#auth5.form-check-input(type='checkbox', value='5')
            label.form-check-label(for='auth5') Admin
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') Cancel
          button.btn.btn-primary(type='submit', data-dismiss='modal') Save

.modal#stop-modal(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      form
        input(type="hidden" name="staff_id")
        .modal-header.bg-danger.text-white
          h5.modal-title 終止合作
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p 確定終止合作嗎？
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') Cancel
          button.btn.btn-danger(type='submit', data-dismiss='modal') Confirm

.modal#leave-modal(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      form
        input(type="hidden" name="staff_id")
        .modal-header
          h5.modal-title 請假
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          table.table.table-borderless
            tbody
              tr
                th
                  label.col-form-label 日期
                td
                  .d-flex
                    label.col-form-label #1
                    input.form-control.ml-2(name="dates[]" style="width: 280px;")
                td
                  button.btn.btn-sm.btn-success.add-date-btn(type="button") Add
              tr
                th
                  label.col-form-label 事由
                td(colspan="2")
                  input.form-control(placeholder="請輸入原因")
              tr
                th
                  label 類型
                td(colspan="2")
                  .form-check.form-check-inline
                    input#type1.form-check-input(type='checkbox', value='1')
                    label.form-check-label(for='type1') 功假
                  .form-check.form-check-inline
                    input#type2.form-check-input(type='checkbox', value='2')
                    label.form-check-label(for='type2') 事假
                  .form-check.form-check-inline
                    input#type3.form-check-input(type='checkbox', value='3')
                    label.form-check-label(for='type3') 病假
                  .form-check.form-check-inline
                    input#type4.form-check-input(type='checkbox', value='4')
                    label.form-check-label(for='type4') 婚假
                  .form-check.form-check-inline
                    input#type5.form-check-input(type='checkbox', value='5')
                    label.form-check-label(for='type5') 特休
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') Cancel
          button.btn.btn-primary(type='submit', data-dismiss='modal') Confirm