extends ../../app.pug
block variables
  - var title = 'Sponsored Product'
  - var activePage = 'advertisement'
  - var subPage = 'advertisement-1'
block header
  - var breads = [{ name:"Sponsored Product", href:""}]
    include ../../particles/_breadcrumb.pug
block scripts
  script.
    $('.select-all').change(function() {
      var $btn = $(this).parents('table').find('.btn-toggle-form');
      $btn.addClass('is-toggle-open');
      if($(this).prop('checked')) {
        $btn.addClass('is-toggle-open');
      } else {
        $btn.removeClass('is-toggle-open');          
      }
    });

    $.map($('.date-filter'), function(element, index) {
      var $el = $(element);
      var $input = $el.find('input');
      var inputCount = $input.length;
      var label = $el.data('label');
      $input.on('blur', function() {
        var hasValue = $input.filter(function() {
          return $(this).val();
        })
        if (hasValue.length === inputCount) {
          var values = hasValue.map(function(i, v) {
            return {
              value: v.value,
              name: v.name
            }
            return v.value;
          });

          $el.prev().find('.btn-purple').removeClass('btn-purple');
          if (label) {
            addTags(element, label, 'radio', values[0].value + '-' + values[1].value, values[0].name + ',' + values[1].name)
          }
        }
      });
    })

    var $filterResult = $('#filter-result');

    $('.btn-action').click(function() {
      var $this = $(this);
      var $parent = $this.parent().parent();
      $parent.find('.date-filter').find('input').val('');

      var label = $this.data('label');
      var type = $this.data('type');
      if (label) {
        addTags(this, label, type, $this.html());
      }
    });

    $('.btn-checkbox').find('[type="checkbox"]').change(function() {
      var $parent = $(this).parent();
      var label = $parent.data('label');
      var type = $parent.data('type');
      var id = $parent.data('id');
      if (label) {
        if (this.checked) {
          addTags($parent, label, type, $parent.find('span').html());
        } else {
          var $current = $filterResult.find('[data-id="' + id + '"]');
          $current.remove();
        }
      }
    });
    $('.has-clear').find('i').on('click', function() {
      var $parent = $(this).parents('.date-filter');
      var label = $parent.data('label');
      if (label) {
        var $current = $filterResult.find('[data-label="' + label + '"]');
        $current.remove();
      }
    });

    $filterResult.find('i').click(function() {
      var $parent = $(this).parent();
      var label = $parent.data('label');
      var value = $parent.data('value');
      var $target = $('[data-label="' + label + '"][data-value="' + value + '"]');
      deleteTags(this, $target[0])
    });

    function addTags(el, label, type, value, name, moreData) {
      var $el = $(el);
      var li = document.createElement('li');
      var area = $el.data('area');
      var id = $el.data('id');
      var v = $el.data('value') ? $el.data('value') : value;
      var name = name ? name : ''
      li.setAttribute('data-label', label);
      li.setAttribute('data-area', area);
      li.setAttribute('data-value', v);
      if (moreData) {
        Object.keys(moreData).forEach(function (d) {
          li.setAttribute('data-'+d, moreData[d]);
        });
      }
      if (type === 'checkbox') {
        li.setAttribute('data-id', id);
      }
      if (name) {
        li.setAttribute('data-name', name);
      }

      li.innerHTML = '<span>' + label + ': ' + v + '</span>'  // Create with DOM
      
      var i = document.createElement('i');
      i.className = 'fas fa-times-circle';
      i.addEventListener('click', function() {
        deleteTags(this, el);
      });
      if (type === 'radio') {
        var $current = $filterResult.find('[data-label="' + label + '"]');
        $current.remove();
      }

      $(li).append(i);

      if ($filterResult.children().length) {
        var currentArea = $filterResult.children('[data-area="' + area + '"]')
        if (currentArea.length) {
          var last = currentArea[currentArea.length - 1]
          last.after(li)
        } else {
          $filterResult.append(li);
        }
      } else {
        $filterResult.append(li);
      }
    }

    function deleteTags(el, target) {
      var $parent = $(el).parent();
      var names =  $parent.data('name');
      var area =  $parent.data('area');
      var required = $parent.data('required');
      
      if (target) {
        var onlyClass = $(target).data('toggleOnly');
        if (onlyClass) {
          $(target).removeClass(onlyClass);
        }
      }

      if (required) {
        var form = $parent.data('form');
        $('li[data-area="' + area + '"]').remove();
        $(form)[0].reset();
      }

      if (names) {
        var nameArr = names.split(',');
        nameArr.forEach(name => {
          var $t = $('[name="' + name + '"]');
          $t.val('');
        })
      }
      $(el).parent().remove();
    }

    document.getElementById('filter-form').onreset = function(ev) {
      var $current = $('[data-area="keyword"][data-value]');
      $current.remove();
    }

    document.getElementById('filter-form').onsubmit = function(ev) {
      ev.preventDefault();
      var $current = $('[data-area="keyword"][data-value]');
      $current.remove();
      var $this = $(this);
      var $label = $this.find('[data-label]')
      var labels = [];
      $.map($label, function(label, i) {
        var l = $(label).data('label');
        if (labels.indexOf(l) < 0) {
          labels.push(l);
        }
      });
      labels.forEach(function(l) {
        var $inputs = $this.find('[data-label="' + l + '"]')
        var length = $inputs.length;
        var hasValue = $inputs.filter(function() {
          return $(this).val();
        })
        if (length === hasValue.length) {
          var values = [];
          var names = [];
          var isRequired = false;
          $.map($inputs, function(input, i) {
            isRequired = input.required ? true : false;
            values.push(input.value);
            names.push(input.name);
          });
          var value = values.length > 1 ? values.join(' ~ ') : values[0];
          addTags($inputs[0], l, 'input', value, names.join(','), { required: isRequired, form: '#filter-form' });
        }
     
      })
      
      return false;
    };



block content
  .p-3.order-section
    div.filter-action.is-opened
      .card-body
        .row
          .col-5
            h6.mb-2 顯示動作前資訊
            .d-flex
              div.btn-group.mr-2
                button.btn.btn-action.btn-sm.btn-purple(data-toggle-only="btn-purple" data-area="date" data-label="動作前資訊" data-type="radio" data-value="上週") 上週
                button.btn.btn-action.btn-sm(data-toggle-only="btn-purple" data-area="date" data-label="動作前資訊" data-type="radio" data-value="上月") 上月
                button.btn.btn-action.btn-sm(data-toggle-only="btn-purple" data-area="date" data-label="動作前資訊" data-type="radio" data-value="全部") 全部
              .date-filter(data-area="date" data-label="動作前資訊")
                span 從
                .has-clear.mr-1
                  input.date-picker.form-control.form-control-sm.d-inline-block(name="prevDate1", placeholder='日期', min='0', style='width: 90px;')
                  i.fas.fa-times
                span 到
                .has-clear.mr-1
                  input.date-picker.form-control.form-control-sm.d-inline-block(name="prevDate2", placeholder='日期', min='0', style='width: 90px;')
                  i.fas.fa-times
            h6.mt-3.mb-2 顯示動作後資訊
            .d-flex
              div.btn-group.mr-2
                button.btn.btn-action.btn-sm(data-toggle-only="btn-purple" data-area="date" data-label="動作後資訊" data-type="radio" data-value="上週") 上週
                button.btn.btn-action.btn-sm(data-toggle-only="btn-purple" data-area="date" data-label="動作後資訊" data-type="radio" data-value="上月") 上月
                button.btn.btn-action.btn-sm(data-toggle-only="btn-purple" data-area="date" data-label="動作後資訊" data-type="radio" data-value="全部") 全部
              .date-filter(data-area="date" data-label="動作後資訊")
                span 從
                .has-clear.mr-1
                  input.date-picker.form-control.form-control-sm.d-inline-block(name="nextDate1", placeholder='日期', min='0', style='width: 90px;')
                  i.fas.fa-times
                span 到
                .has-clear.mr-1
                  input.date-picker.form-control.form-control-sm.d-inline-block(name="nextDate2", placeholder='日期', min='0', style='width: 90px;')
                  i.fas.fa-times
            h6.mt-3.mb-2 Display
            div.d-flex.flex-wrap
              each col, index in ['ACOS', 'Impression', 'Clicks', 'CTR', 'Spead', 'Sales', 'RoAS', 'Conversion Rate']
                label.btn-checkbox(data-area="display" data-label="顯示" data-type="checkbox" data-id=index data-value=col)
                  input(type="checkbox")
                  span= col      
          .col-7
            h6.mb-2 Filter
            form#filter-form
              .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='inputName') 
                  | Name
                  span.text-danger *
                .col-sm-5
                  input#inputName.form-control.form-control-sm(type='text', name="name", data-area="keyword" data-label="Name" placeholder='Name', required)
              .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='inputImpressions') Impressions
                .col-sm-10
                  .d-inline-block
                    input#inputImpressions.form-control.form-control-sm(type='text', name="impression1", data-area="keyword" data-label="Impressions" placeholder='Impressions')
                  .d-inline-block ~
                  .d-inline-block
                    input#inputImpressions.form-control.form-control-sm(type='text', name="impression2", data-area="keyword" data-label="Impressions" placeholder='Impressions')
              .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='inputClicks') Clicks
                .col-sm-4
                  .d-inline-block
                    input#inputClicks.form-control.form-control-sm(type='number', style="width: 60px;", name="click1", data-area="keyword" data-label="Clicks" placeholder='Clicks')
                  .d-inline-block ~
                  .d-inline-block
                    input#inputClicks.form-control.form-control-sm(type='number', style="width: 60px;", name="click2", data-area="keyword" data-label="Clicks" placeholder='Clicks')
                label.col-sm-1.col-form-label.col-form-label-sm(for='inputCTRs') CTR
                .col-sm-5
                  .d-inline-block
                    input#inputCTRs.form-control.form-control-sm(type='number', style="width: 60px;", name="ctr1", data-area="keyword" data-label="CTR" placeholder='CTR')
                  .d-inline-block %
                  .d-inline-block ~
                  .d-inline-block
                    input#inputCTRs.form-control.form-control-sm(type='number', style="width: 60px;", name="ctr2", data-area="keyword" data-label="CTR" placeholder='CTR')
                  .d-inline-block %
              .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='inputTotalSales') Total Sales
                .col-sm-4
                  .d-inline-block
                    input#inputTotalSales.form-control.form-control-sm(type='number', style="width: 90px;", name="salse1", data-area="keyword" data-label="Total Sales" placeholder='Total Sales')
                  .d-inline-block ~
                  .d-inline-block
                    input#inputTotalSales.form-control.form-control-sm(type='number', style="width: 90px;", name="salse2", data-area="keyword" data-label="Total Sales" placeholder='Total Sales')
                label.col-sm-1.col-form-label.col-form-label-sm(for='inputSpend') Spend
                .col-sm-4
                  .d-inline-block
                    input#inputSpend.form-control.form-control-sm(type='number', style="width: 60px;", name="spend1", data-area="keyword" data-label="Spend" placeholder='Spend')
                  .d-inline-block ~
                  .d-inline-block
                    input#inputSpend.form-control.form-control-sm(type='number', style="width: 60px;", name="spend2", data-area="keyword" data-label="Spend" placeholder='Spend')
              .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='inputACoss') ACos
                .col-sm-4
                  .d-inline-block
                    input#inputACoss.form-control.form-control-sm(type='number', style="width: 60px;", name="acos1", data-area="keyword" data-label="ACos" placeholder='ACos')
                  .d-inline-block %
                  .d-inline-block ~
                  .d-inline-block
                    input#inputACoss.form-control.form-control-sm(type='number', style="width: 60px;", name="acos2", data-area="keyword" data-label="ACos" placeholder='ACos')
                  .d-inline-block %
                label.col-sm-1.col-form-label.col-form-label-sm(for='inputRoAS') RoAS
                .col-sm-4
                  .d-inline-block
                    input#inputRoAS.form-control.form-control-sm(type='number', style="width: 60px;", name="roas1", data-area="keyword" data-label="RoAS" placeholder='RoAS')
                  .d-inline-block ~
                  .d-inline-block
                    input#inputRoAS.form-control.form-control-sm(type='number', style="width: 60px;", name="roas2", data-area="keyword" data-label="RoAS" placeholder='RoAS')
              .form-group.row
                label.col-sm-2.col-form-label.col-form-label-sm(for='inputRate') Conversion Rate
                .col-sm-4
                  .d-inline-block
                    input#inputRate.form-control.form-control-sm(type='number', style="width: 60px;", name="rate1", data-area="keyword" data-label="Rate" placeholder='Rate')
                  .d-inline-block %
                  .d-inline-block ~
                  .d-inline-block
                    input#inputRate.form-control.form-control-sm(type='number', style="width: 60px;", name="rate2", data-area="keyword" data-label="Rate" placeholder='Rate')
                  .d-inline-block %
                label.col-sm-1.col-form-label.col-form-label-sm(for='inputDays') Days
                .col-sm-4
                  .d-inline-block
                    input#inputDays.form-control.form-control-sm(type='number', style="width: 60px;", name="day1", data-area="keyword" data-label="Days" placeholder='Days')
                  .d-inline-block ~
                  .d-inline-block
                    input#inputDays.form-control.form-control-sm(type='number', style="width: 60px;", name="day2", data-area="keyword" data-label="Days" placeholder='Days')
              .form-group.mb-0.row
                .col-sm-10.offset-sm-2
                  button.btn.btn-outline-warning.btn-sm(type='reset') Clear
                  button.btn.btn-warning.btn-sm(type='submit') Save
    div.d-flex.mt-3.align-items-start
      ul#filter-result.filter-result
        li.sep(data-area="date")
        li(data-label='動作前資訊', data-area='date', data-value='上週')
          span 動作前資訊: 上週
          i.fas.fa-times-circle
        li.sep(data-area="display")
        li.sep(data-area="keyword")
      div.btn-filter-wrapper(data-toggle-class="is-opened" data-toggle-target=".filter-action")
        span.btn-open-filter Filters
        i.ml-2.fas.fa-chevron-down
    #sponsored-product.fade.show.active(role='tabpanel', aria-labelledby='unshipped-tab') 
      .card.my-2.top-action
        .card-body.top-action-body
          h6.mb-0.mr-2 Action on 
            span#sponsored-product-select 0 
            |  selected:
          button.need-count-active.btn.btn-outline-warning.mr-2(disabled) 屏蔽關鍵字
          button.need-count-active.btn.btn-outline-warning.mr-2(disabled) 暫停關鍵字
          button.need-count-active.btn.btn-outline-warning.mr-2(disabled) 自動轉手動
          .basic-input.ml-2
            input.form-control.d-inline-block.mr-1(name='price', placeholder='Price', type='number', min='0', style='width: 120px;')
          button.need-count-active.btn.btn-outline-primary(disabled) 更改競標價
    div 
      .inventory-table.table-dragable.export-area.mt-4(data-formats='xlsx' data-table-name="table")
        .d-flex.mb-3
          .ml-auto
            button.btn.btn-primary.btn-xlsx Export to Excel
        table#table-excel.table.table-sm.table-action(data-select-pos="1" data-select-show="#sponsored-product-select")
          thead.thead-light
            tr
              th(colspan="6")
              th 12/30
              th 1/6
              th 1/11
              th 1/20
              th 1/27
              th 2/3
              th 2/10
              th 2/17
            tr
              th
                input.select-all(type="checkbox")
              th.sortable 
                a Campaign Name
              th.sortable
                a Ad Group Name
              th.sortable
                a Targeting
              th.sortable
                a Match Type
              th.sortable
                a Bid
              th.sortable
                a Acos
              th.sortable
                a Acos
              th.sortable
                a Acos
              th.sortable
                a Acos
              th.sortable
                a Acos
              th.sortable
                a Acos
              th.sortable
                a Acos
              th.sortable
                a Acos

          tbody
            tr
              td 
                input.ad-product-check(type="checkbox")
              td Apex Shelving Clips
              td Ad Group 1
              td *
              td BROAD
              td $1.39
              td.td-warning 9999.99%
              td - 
              td -
              td -
              td -
              td 0.00%
              td.td-warning 9999.99%
              td.td-warning 9999.99%
            tr
              td 
                input.ad-product-check(type="checkbox")
              td(rowspan="4") Apex Clips Manual
              td(rowspan="2") Clips Manual
              td *
              td BROAD
              td $1.39
              td -
              td.td-success 4.3% 
              td -
              td -
              td -
              td 0.00%
              td.td-warning 9999.99%
              td.td-warning 9999.99%
            tr
              td 
                input.ad-product-check(type="checkbox")
              td *
              td BROAD
              td $1.39
              td.td-default N/A
              td.td-default N/A 
              td.td-default N/A
              td.td-default N/A
              td.td-default N/A
              td.td-default N/A
              td.td-default N/A
              td.td-default N/A
            tr
              td 
                input.ad-product-check(type="checkbox")
              td Clips Manual 2
              td *
              td BROAD
              td $1.39
              td -
              td - 
              td.td-success 4.3%
              td -
              td -
              td 0.00%
              td.td-success 4.3% 
              td.td-warning 9999.99%
            tr
              td 
                input.ad-product-check(type="checkbox")
              td Clips Manual 3
              td *
              td BROAD
              td $1.39
              td -
              td - 
              td -
              td -
              td -
              td 0.00%
              td.td-warning 9999.99%
              td.td-warning 9999.99%
            tr
              td 
                input.ad-product-check(type="checkbox")
              td Apex Clips Manual 2
              td Clips Manual 4
              td *
              td BROAD
              td $1.39
              td -
              td - 
              td -
              td -
              td.td-success 4.3%
              td 0.00%
              td.td-warning 9999.99%
              td.td-warning 9999.99%

        include ../../particles/_pagination.pug