extends ../app.pug
block variables
  - var title = 'Alert demo'
block header
  - var breads = [{ name:"Alert demo", href:""}]
    include ../particles/_breadcrumb.pug
block styles
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/sweetalert2@8.18.1/dist/sweetalert2.min.css")
block scripts
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8.18.1/dist/sweetalert2.all.min.js")
  script(src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js")
  script.
    $('.confirm-dialog').click(function() {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
        heightAuto: false
      }).then((result) => {
        if (result.value) {
          Swal.fire({
            heightAuto: false,
            title: 'Deleted!',
            text: "Your file has been deleted.",
            type: 'success',
          })
        }
      })
    });
    $('.message-alert').click(function() {
      var type = $(this).data('type');
      var title = $(this).data('title');
      var text = $(this).data('text');
      Swal.fire({
        title,
        text,
        type,
        heightAuto: false
      })
    });
block content
  .p-4
    button.btn.btn-primary.confirm-dialog confirm dialog
    button.btn.btn-success.message-alert(data-type="success" data-title="Success message" data-text="this is a content...") success message
    button.btn.btn-info.message-alert(data-type="info" data-title="Info message" data-text="this is a content...") info message
    button.btn.btn-danger.message-alert(data-type="error" data-title="Error message" data-text="this is a content...") error message
    button.btn.btn-warning.message-alert(data-type="warning" data-title="Warning message" data-text="this is a content...") warning message
    button.btn.btn-link.message-alert(data-type="question" data-title="Question message" data-text="this is a content...") question message