extends ../app.pug
block variables
  - var title = 'FBA'
  - var activePage = 'fba'
block header
  - var breads = [{ name:"FBA", href:""}]
    include ../particles/_breadcrumb.pug
block styles

block scripts
  link(rel='stylesheet', href='assets/elFinder-master/jquery/jquery-ui-1.12.0.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/commands.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/common.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/contextmenu.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/cwd.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/dialog.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/fonts.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/navbar.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/places.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/quicklook.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/statusbar.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/theme.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/toast.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/toolbar.css', type='text/css')
  script(src='assets/elFinder-master/jquery/jquery-ui-1.12.0.js', type='text/javascript', charset='utf-8')
  script(src='assets/elFinder-master/js/elFinder.js')
  script(src='assets/elFinder-master/js/elFinder.version.js')
  script(src='assets/elFinder-master/js/jquery.elfinder.js')
  script(src='assets/elFinder-master/js/elFinder.mimetypes.js')
  script(src='assets/elFinder-master/js/elFinder.options.js')
  script(src='assets/elFinder-master/js/elFinder.options.netmount.js')
  script(src='assets/elFinder-master/js/elFinder.history.js')
  script(src='assets/elFinder-master/js/elFinder.command.js')
  script(src='assets/elFinder-master/js/elFinder.resources.js')
  script(src='assets/elFinder-master/js/jquery.dialogelfinder.js')
  script(src='assets/elFinder-master/js/i18n/elfinder.en.js')
  script(src='assets/elFinder-master/js/ui/button.js')
  script(src='assets/elFinder-master/js/ui/contextmenu.js')
  script(src='assets/elFinder-master/js/ui/cwd.js')
  script(src='assets/elFinder-master/js/ui/dialog.js')
  script(src='assets/elFinder-master/js/ui/fullscreenbutton.js')
  script(src='assets/elFinder-master/js/ui/navbar.js')
  script(src='assets/elFinder-master/js/ui/navdock.js')
  script(src='assets/elFinder-master/js/ui/overlay.js')
  script(src='assets/elFinder-master/js/ui/panel.js')
  script(src='assets/elFinder-master/js/ui/path.js')
  script(src='assets/elFinder-master/js/ui/places.js')
  script(src='assets/elFinder-master/js/ui/searchbutton.js')
  script(src='assets/elFinder-master/js/ui/sortbutton.js')
  script(src='assets/elFinder-master/js/ui/stat.js')
  script(src='assets/elFinder-master/js/ui/toast.js')
  script(src='assets/elFinder-master/js/ui/toolbar.js')
  script(src='assets/elFinder-master/js/ui/tree.js')
  script(src='assets/elFinder-master/js/ui/uploadButton.js')
  script(src='assets/elFinder-master/js/ui/viewbutton.js')
  script(src='assets/elFinder-master/js/ui/workzone.js')
  script(src='assets/elFinder-master/js/commands/archive.js')
  script(src='assets/elFinder-master/js/commands/back.js')
  script(src='assets/elFinder-master/js/commands/chmod.js')
  script(src='assets/elFinder-master/js/commands/colwidth.js')
  script(src='assets/elFinder-master/js/commands/copy.js')
  script(src='assets/elFinder-master/js/commands/cut.js')
  script(src='assets/elFinder-master/js/commands/download.js')
  script(src='assets/elFinder-master/js/commands/duplicate.js')
  script(src='assets/elFinder-master/js/commands/edit.js')
  script(src='assets/elFinder-master/js/commands/empty.js')
  script(src='assets/elFinder-master/js/commands/extract.js')
  script(src='assets/elFinder-master/js/commands/forward.js')
  script(src='assets/elFinder-master/js/commands/fullscreen.js')
  script(src='assets/elFinder-master/js/commands/getfile.js')
  script(src='assets/elFinder-master/js/commands/help.js')
  script(src='assets/elFinder-master/js/commands/hidden.js')
  script(src='assets/elFinder-master/js/commands/hide.js')
  script(src='assets/elFinder-master/js/commands/home.js')
  script(src='assets/elFinder-master/js/commands/info.js')
  script(src='assets/elFinder-master/js/commands/mkdir.js')
  script(src='assets/elFinder-master/js/commands/mkfile.js')
  script(src='assets/elFinder-master/js/commands/netmount.js')
  script(src='assets/elFinder-master/js/commands/open.js')
  script(src='assets/elFinder-master/js/commands/opendir.js')
  script(src='assets/elFinder-master/js/commands/opennew.js')
  script(src='assets/elFinder-master/js/commands/paste.js')
  script(src='assets/elFinder-master/js/commands/places.js')
  script(src='assets/elFinder-master/js/commands/preference.js')
  script(src='assets/elFinder-master/js/commands/quicklook.js')
  script(src='assets/elFinder-master/js/commands/quicklook.plugins.js')
  script(src='assets/elFinder-master/js/commands/reload.js')
  script(src='assets/elFinder-master/js/commands/rename.js')
  script(src='assets/elFinder-master/js/commands/resize.js')
  script(src='assets/elFinder-master/js/commands/restore.js')
  script(src='assets/elFinder-master/js/commands/rm.js')
  script(src='assets/elFinder-master/js/commands/search.js')
  script(src='assets/elFinder-master/js/commands/selectall.js')
  script(src='assets/elFinder-master/js/commands/selectinvert.js')
  script(src='assets/elFinder-master/js/commands/selectnone.js')
  script(src='assets/elFinder-master/js/commands/sort.js')
  script(src='assets/elFinder-master/js/commands/undo.js')
  script(src='assets/elFinder-master/js/commands/up.js')
  script(src='assets/elFinder-master/js/commands/upload.js')
  script(src='assets/elFinder-master/js/commands/view.js')
  script(src='assets/elFinder-master/js/proxy/elFinderSupportVer1.js')
  script(src='assets/elFinder-master/js/extras/editors.default.js')
  script(src='assets/elFinder-master/js/extras/quicklook.googledocs.js')
  script.
    $('#elfinder').elfinder(
      {
        cssAutoLoad : false,
        baseUrl : './',
        url : 'php/connector.minimal.php',
        getFileCallback : function(file) {
        },
      },
    );
block content
  .p-3.fba-section
    div.filter-action.is-opened
      .card-body
    div.mt-4
      .menu
      .content
        #elfinder