
extends ../app.pug
block variables
  - var title = '首頁'
  - var activePage = 'home'
  -
    var buttons = [  
      {  
        "name":"Revenue",
        "value":"$1,200,000",
        "color":"#7b81ea",
        "selected":true,
        "warning":true,
        "series":{ "data": [31, 40, 45, 62, 70, 85], "unit": "$" }
      },
      {  
        "name":"Estimated Gross Profit",
        "value":"$1,200,000",
        "color":"#ffc107",
        "selected":false,
        "warning":false,
        "series":{ "data": [31, 40, 45, 62, 70, 85], "unit": "$" }
      },
      {  
        "name":"Estimated Adj. GM%",
        "value":"50%",
        "color":"#79cabd",
        "selected":false,
        "warning":false,
        "series":{ "data": [31, 40, 45, 62, 70, 85], "unit": "%" }
      },
      {  
        "name":"Estimated AOE Profit",
        "value":"$600,000",
        "color":"#f19274",
        "selected":false,
        "tag":200,
        "series":{ "data": [221, 501, 108, 200, 30, 10], "unit": "K" }
      },
      {  
        "name":"Refund",
        "value":"$23,884",
        "color":"#4991cc",
        "selected":false,
        "series":{ "data": [12, 80, 31, 78, 23, 43], "unit": "K" }
      },
      {  
        "name":"Reimbursement",
        "value":"50%",
        "color":"#4cad50",
        "selected":false,
        "series":{ "data": [11, 88, 33, 44, 88, 100], "unit": "%" }
      },
      {  
        "name":"Total SP Ad Sales",
        "value":"$480,500",
        "color":"#fd5890",
        "selected":false,
        "series":{ "data": [78, 83, 18, 96, 10, 54], "unit": "K" }
      },
      {  
        "name":"Total SP Ad Spend",
        "value":"$210,006",
        "color":"#5bc3d2",
        "selected":false,
        "series":{ "data": [22, 21, 228, 28, 12, 23], "unit": "K" }
      },
      {  
        "name":"SP ACoS",
        "value":"50%",
        "color":"#71b990",
        "selected":false,
        "series":{ "data": [54, 45, 68, 21, 48, 8], "unit": "%" }
      },
      {  
        "name":"SP Impression",
        "value":"50%",
        "color":"#9e9e9e",
        "selected":false,
        "series":{ "data": [45, 10, 11, 13, 14, 18], "unit": "%" }
      },
      {  
        "name":"SP Clicks",
        "value":"$1,597",
        "color":"#bd7e20",
        "selected":false,
        "series":{ "data": [2, 4, 2, 7, 5, 3], "unit": "K" }
      },
      {  
        "name":"SP CTR",
        "value":"50%",
        "color":"#36cc69",
        "selected":false,
        "series":{ "data": [12, 18, 43, 76, 86, 29], "unit": "%" }
      },
      {  
        "name":"Total AMS Ad Sales",
        "value":"$40,080",
        "color":"#0c8ff7",
        "selected":false,
        "series":{ "data": [42, 40, 5, 7, 42, 35], "unit": "K" }
      },
      {  
        "name":"Total AMS Ad Spend",
        "value":"$30,100",
        "color":"#8d62d8",
        "selected":false,
        "series":{ "data": [31, 40, 82, 51, 42, 78], "unit": "K" }
      },
      {  
        "name":"AMS ACoS",
        "value":"$10,000",
        "color":"#17adf1",
        "selected":false,
        "series":{ "data": [31, 40, 28, 87, 42, 5], "unit": "K" }
      },
      {  
        "name":"AMS Impression",
        "value":"50%",
        "color":"#e4d128",
        "selected":false,
        "series":{ "data": [78, 72, 17, 15, 20, 74], "unit": "%" }
      },
      {  
        "name":"AMS Clicks",
        "value":"$1,468",
        "color":"#7fafc5",
        "selected":false,
        "series":{ "data": [10, 11, 12, 77, 22, 33], "unit": "K" }
      },
      {  
        "name":"AMS CTR ",
        "value":"65%",
        "color":"#f378ce",
        "selected":false,
        "series":{ "data": [11, 22, 55, 44, 77, 55], "unit": "%" }
      }
    ]
block header
  - var breads = [{ name:"主頁面", href:""}]
    include ../particles/_breadcrumb.pug
block content
  include ../particles/_dates-area.pug
  .p-3
    .dashboard-wrapper
      .dashboard-buttons
        each button in buttons
          button(class=button.selected ? 'active' : '' data-name=button.name data-color=button.color data-value=button.series.data data-unit=button.series.unit) 
            span.bg-line(style=`background-color: ${button.color}`)
            h6.text-lighter=button.name
            .d-flex.align-items-center
              h4.strong=button.value
              if button.warning
                i.text-danger.ml-2.fas.fa-exclamation-circle
              if button.tag
                span.ml-2.badge.badge-success=button.tag
      .card
        .card-body
          #chart
block scripts
  script(src="https://cdn.jsdelivr.net/npm/apexcharts")
  script.
    var $dashboardButton = $('.dashboard-buttons');
    var $buttons = $dashboardButton.find('button');
    var $currentBtn = $dashboardButton.find('.active');
    var colors = [$currentBtn.data('color')];
    var series = [{
      name: $currentBtn.data('name') + '(' + $currentBtn.data('unit') + ')',
      data: $currentBtn.data('value')
    }]
    var options = {
      chart: {
        type: 'area',
        height: 300,
      },
      title: {
        text: 'Fundamental Analysis of Stocks',
      },
      colors,
      series
    }

    var chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();

    $buttons.click(function() {
      
      var isEmpty = series.length < 1;
      var $this = $(this);
      if ($this.hasClass('active')) {
        $this.removeClass('active')
        var index = series.findIndex(function(data) {
          return data.name.indexOf($this.data('name')) > -1;
        });
        series.splice(index, 1); 
        colors.splice(index, 1); 
      } else if (series.length < 3) {
        $this.addClass('active')  
        series.push({
          name: $this.data('name') + '(' + $this.data('unit') + ')',
          data: $this.data('value')
        })
        colors.push($this.data('color'));
        if (isEmpty) {
          colors.splice(0, 1);
        }
      }
      if (series.length >= 3) {
        $dashboardButton.addClass('disabled');
      } else {
        $dashboardButton.removeClass('disabled');
      }
      if (!series.length) {
        colors.push('#ddd');
      }

      chart.updateSeries(series)
    });