extends ../app.pug
block variables
  - var title = '庫存'
  - var activePage = 'inventory'
block header
  - var breads = [{ name:"庫存", href:""}]
    include ../particles/_breadcrumb.pug

  -
    var datas = [  
      {  
        "sku": 1,
        "asin": 21,
        "productName": "productA",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
      {  
        "sku": 2,
        "asin": 21,
        "productName": "productB",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
      {  
        "sku": 3,
        "asin": 21,
        "productName": "productC",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
      {  
        "sku": 4,
        "asin": 21,
        "productName": "productD",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
      {  
        "sku": 5,
        "asin": 31,
        "productName": "productE",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
      {  
        "sku": 6,
        "asin": 7,
        "productName": "productF",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
    ]
  -
    var columns = [
      {"prop": "sku", "label": "SKU"},
      {"prop": "asin", "label": "ASIN"},
      {"prop": "productName", "label": "Product Name"},
      {"prop": "inbound", "parent": "FBA", "label": "Inbound", "searchable": false},
      {"prop": "available", "parent": "FBA", "label": "Available", "searchable": false},
      {"prop": "unfalfillable", "parent": "FBA", "label": "Unfalfillable", "searchable": false},
      {"prop": "reserver", "parent": "FBA", "label": "Reserver", "searchable": false},
      {"prop": "wh1", "label": "WH1", "searchable": false},
      {"prop": "wh2", "label": "WH2", "searchable": false},
    ]
block content
  include ../particles/_dates-area.pug
  .p-3
    .stock-wrapper
      .left
        .card
          .card-body.d-flex.flex-column
            .chart-container
              #chart
              .mt-auto(style="margin-left: 30px;")
                h6.mb-0 $400,000.00, 15000 Items in Warehouses
                h6.mb-0 $560,336.42, 6285 Items in Amazon
                h6.mb-0 $10,000.00, 1000 Items on Order
      .right
        div
          h3
            strong Total Cost $ 960,336.42 for 21285 Items
          .scrollbar-wrapper.scrollbar-outer
            table.mb-0.table.table-sm.stock-table
              thead
                tr
                  th
                  th.sortable 
                    span.in-sort SKU Count
                  th.sortable 
                    span.in-sort Brand 1
                  th.sortable 
                    span.in-sort Brand 2
                  th.sortable 
                    span.in-sort Brand 3
                  th.sortable 
                    span.in-sort Other
                  th.sortable 
                    span.in-sort Unit Count
                  th.sortable 
                    span.in-sort Brand 1
                  th.sortable 
                    span.in-sort Brand 2
                  th.sortable 
                    span.in-sort Brand 3
                  th.sortable 
                    span.in-sort Other
                  th.sortable 
                    span.in-sort Cost
                  th.sortable 
                    span.in-sort Brand 1
                  th.sortable 
                    span.in-sort Brand 2
                  th.sortable 
                    span.in-sort Brand 3
                  th.sortable
                    span.in-sort Other
              tbody
                tr
                  td Inbound
                  td 161
                  td 20
                  td 20
                  td 10
                  td=161-20-20-10
                  td 1076
                  td 420
                  td 316
                  td 100
                  td=1076-420-316-100
                  td $12,550.56
                  td $8,000
                  td $1,000
                  td $1,550.56
                  td $2,000
                tr
                  td Fulfillable
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                tr
                  td Reserver
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                tr
                  td Unfalfillable
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
              tfoot
                tr
                  td WH1
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                tr
                  td WH2
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                tr
                  td Total
                  td 161
                  td 20
                  td 20
                  td 10
                  td=161-20-20-10
                  td 1076
                  td 420
                  td 316
                  td 100
                  td=1076-420-316-100
                  td $12,550.56
                  td $8,000
                  td $1,000
                  td $1,550.56
                  td $2,000
                tr
                  td On order
                  td 161
                  td 20
                  td 20
                  td 10
                  td=161-20-20-10
                  td 1076
                  td 420
                  td 316
                  td 100
                  td=1076-420-316-100
                  td $12,550.56
                  td $8,000
                  td $1,000
                  td $1,550.56
                  td $2,000
                tr
                  td Grand order
                  td 161
                  td 20
                  td 20
                  td 10
                  td=161-20-20-10
                  td 1076
                  td 420
                  td 316
                  td 100
                  td=1076-420-316-100
                  td $12,550.56
                  td $8,000
                  td $1,000
                  td $1,550.56
                  td $2,000

    .row.mt-4
      .col-12
        .card
          .card-body
            .inventory-table.table-dragable.export-area.mt-4(data-formats='xlsx' data-table-name="inventory")
              .d-flex.mb-3
                div.mr-4
                  span Show
                  .d-inline-block.mx-2
                    select.form-control
                      option 5
                      option 10
                      option 20
                      option 50
                  span entries
                div
                  span Search:
                  .d-inline-block.mx-2
                    input.form-control(placeholder="Search...")
                .ml-auto
                  button.btn.btn-primary.btn-xlsx Export to Excel
              table#inventory-excel.table.table-bordered.bg-white
                thead
                  tr
                    each col in columns
                      th.sortable 
                        a= col.label
                tbody
                  each data in datas
                    tr
                      each col in columns
                        td= data[col.prop]
              include ../particles/_pagination.pug

block scripts
  link(rel="stylesheet" href="//rawgithub.com/akottr/dragtable/master/dragtable.css")
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js')
  script(type='text/javascript' src='//rawgithub.com/akottr/dragtable/master/jquery.dragtable.js')
  script(src="https://cdn.jsdelivr.net/npm/apexcharts")
  script.
    const series = [];
    const labels = [];
    var tableData = [
      { title: 'Inbound', sku: 161, unit: 1076, cost: '$12,550.56' },
      { title: 'Fulfillable', sku: 0, unit: 0, cost: 0.0 },
      { title: 'Reserver', sku: 134, unit: 9550, cost: '$369,625.54' },
      { title: 'Unfalfillable', sku: 240, unit: 10659, cost: '$578,160.32' },
    ]
    var tableColumns = [
      { prop: 'title', label: '', width: 180 },
      { prop: 'sku', label: 'SKU Count', sortable: true },
      { prop: 'unit', label: 'Unit Count', sortable: true },
      { prop: 'cost', label: 'Cost', sortable: true, type: 'dollar' },
    ]

    tableData.forEach(data => {
      series.push(Number(data.cost.toString().replace(/[^0-9\.-]+/g,"")));
      labels.push(data.title + ' ' + data.cost);
    })

    var options = {
      chart: {
        type: 'pie',
        width: 480,
        fontFamily: 'Calibri, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif',
      },
      colors: ['#5a62e8', '#3e5bf3', '#3776ec', '#37d4ec'],
      dataLabels: {
        style: {
          fontSize: '14.4px'
        }
      },
      legend: {
        fontSize: '14.4px',
        fontFamily: 'Calibri, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif',
      },
      series,
      labels,
      responsive: [{
          breakpoint: 1600,
          options: {
              chart: {
                width: 340
              },
              legend: {
                position: 'bottom',
                width: 240,
                horizontalAlign: 'left',
                itemMargin: {
                  horizontal: 0,
                  vertical: 20,
                },
              }
          }
      }]
    }

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
    $('#inventory-excel').dragtable({
      maxMovingRows:1,
      clickDelay: 500
    });
