block variables
doctype html
html
  head
    title Mancr
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(charset="utf-8")
    link(rel="icon" href="/assets/favicon.ico")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
    block styles
    block headScripts
  body
    .d-flex.align-items-center.justify-content-center.h-100
      .login-form.add-more-shadow
        div.text-center.mb-2
          img(src='/assets/Mancr-logo.jpg' width="80")

        form.needs-validation(novalidate='')
          .form-group
            label 帳號
            input.form-control(type='text', placeholder='請輸入帳號', required='')
            .invalid-feedback 需輸入帳號
          .form-group
            label 密碼
            input.form-control(type='password', placeholder='請輸入密碼', required='')
            .invalid-feedback 需輸入密碼
          button.btn.btn-primary.w-100(type='submit') 登入
    script.
      (function() {
      'use strict';
        window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          } else {
            // TODO: 待移除
            event.preventDefault();
            event.stopPropagation();
            location.href='index.html'
          }
          form.classList.add('was-validated');
          }, false);
          });
          }, false);
        })();
    script(type='text/javascript', src='app.e2e22dcef9eae04108b0.bundle.js')
