extends ../app.pug
block variables
  - var title = 'FBM Orders'
  - var activePage = 'orders'
   -
    var unshippedOrders = [
      {
        id: 1,
        orderDateString: '4 hours ago',
        orderDate: '2/20/2019 8:56 PM PST',
        orderNumber: '123456',
        customerName: 'Customer Name',
        image: 'https://picsum.photos/id/910/55/55',
        productDetail: {
          sku: '1234-5678-9012',
          asin: 'A123456789',
          productName: 'This is Product Name',
          model: 'model',
          quantity: 5,
          totalPrice: 200
        },
        customerOption: {
          shipmentType: 'Standard',
          deliverySentDate: 'May 8, 2019',
          deliveryReceivedDate: 'May 15, 2019',
          customerAddress: 'customer address'
        },
        orderStatus: 'Unshipped',
      },
      {
        id: 2,
        orderDateString: '10 hours ago',
        orderDate: '2/20/2019 8:56 PM PST',
        orderNumber: '234567',
        customerName: 'Customer Name',
        image: 'https://picsum.photos/id/910/55/55',
        productDetail: {
          sku: '0000-5678-9012',
          asin: 'A123456789',
          productName: 'This is Product Name 2',
          model: 'model',
          quantity: 5,
          totalPrice: 200
        },
        customerOption: {
          shipmentType: 'Standard',
          deliverySentDate: 'May 8, 2019',
          deliveryReceivedDate: 'May 15, 2019',
          customerAddress: 'customer address'
        },
        orderStatus: 'Unshipped',
      }
    ]
  -
    var shippedOrders = [
      {
        id: 1,
        orderDateString: '4 hours ago',
        orderDate: '2/20/2019 8:56 PM PST',
        orderNumber: '123456',
        customerName: 'Customer Name',
        image: 'https://picsum.photos/id/910/55/55',
        productDetail: {
          sku: '1234-5678-9012',
          asin: 'A123456789',
          productName: 'This is Product Name',
          model: 'model',
          quantity: 5,
          totalPrice: 200
        },
        customerOption: {
          shipmentType: 'Standard',
          deliverySentDate: 'May 8, 2019',
          deliveryReceivedDate: 'May 15, 2019',
          customerAddress: 'customer address'
        },
        orderStatus: 'Shipped',
        trackNumber: '123456',
        trackStatus: [
          {
            action: '已交付',
            date: '2/20/2019',
          },
          {
            action: '已寄出',
            date: '2/20/2019',
          }
        ]
      },
      {
        id: 2,
        orderDateString: '10 hours ago',
        orderDate: '2/20/2019 8:56 PM PST',
        orderNumber: '234567',
        customerName: 'Customer Name',
        image: 'https://picsum.photos/id/910/55/55',
        productDetail: {
          sku: '0000-5678-9012',
          asin: 'A123456789',
          productName: 'This is Product Name 2',
          model: 'model',
          quantity: 5,
          totalPrice: 200
        },
        customerOption: {
          shipmentType: 'Standard',
          deliverySentDate: 'May 8, 2019',
          deliveryReceivedDate: 'May 15, 2019',
          customerAddress: 'customer address'
        },
        orderStatus: 'Shipped',
        trackNumber: '123456',
        trackStatus: [
          {
            action: '已交付',
            date: '2/20/2019',
          },
          {
            action: '已寄出',
            date: '2/20/2019',
          }
        ]
      }
    ]
block header
  - var breads = [{ name:"FBM Orders", href:""}]
    include ../particles/_breadcrumb.pug
block scripts
  script.
    $(document).ready(function() {

      $('.unshipped-check').change(function() {
        var $btn = $(this).parents('tr').find('.btn-toggle-form');
        $btn.addClass('is-toggle-open');
        if($(this).prop('checked')) {
          $btn.addClass('is-toggle-open');
        } else {
          $btn.removeClass('is-toggle-open');          
        }
      });
      

      $('.btn-add').click(function() {
        var $tr = $(this).parents('tr');
        var $nextTr = $tr.nextAll('.list-parent');
        var $last = $tr.parent().children().last();
        var trIndex = $tr.index();
        var nTrIndex = $nextTr.index();
        var lstIndex = nTrIndex > -1 ? nTrIndex : $last.index() + 1;
        var index = lstIndex - trIndex;
        var image = $tr.find('td:nth-child(4)').html();
        var productName = $tr.find('td:nth-child(5)').html();
        var customerOption = $tr.find('td:nth-child(6)').html();
        var orderStatus = $tr.find('td:nth-child(7)').html();
        var action = $tr.find('td:nth-child(8)').html();
        var htmlString = createList(image, productName, customerOption, orderStatus, action, index);
        var tr = document.createElement("tr");
        tr.innerHTML = htmlString;
        if (nTrIndex > -1) {
          $nextTr.before($(tr));
        } else {
          $last.after($(tr));
        }

        $(tr).find('.btn-delete').click(function() {
          $(tr).remove();
          setIndex($tr, $nextTr, $last);
        });
      })

      function setIndex($tr, $nextTr) {
        var $all = $tr.parent().children();
        var trIndex = $tr.index();
        var nTrIndex = $nextTr.index();
        var lstIndex = nTrIndex > -1 ? nTrIndex : $all.length;
        var index = lstIndex - trIndex;
        for(i = trIndex + 1; i < lstIndex; i++) {
          $all.eq(i).find('td:nth-child(3)').html('# ' + (i - trIndex));
        }
      }

      function createList(image, productName, customerOption, orderStatus, action, index) {
        var htmlString = '<td><input class="unshipped-check" type="checkbox"></td><td><button class="btn btn-sm btn-danger btn-delete">delete</button></td>';
        htmlString += '<td> #' + index + '</td>';
        htmlString += '<td>'+ image +'</td>';
        htmlString += '<td>'+ productName +'</td>';
        htmlString += '<td>'+ customerOption +'</td>';
        htmlString += '<td>'+ orderStatus +'</td>';
        htmlString += '<td>'+ action +'</td>';
        return htmlString;
      }
    });
block content
  include ../particles/_dates-area.pug
  .p-3.order-section
    ul.nav.nav-tabs.shipped-tabs(role='tablist')
      li.nav-item
        a#unshipped-tab.nav-link.active(data-toggle='tab', href='#unshipped', role='tab', aria-controls='unshipped', aria-selected='true') Unshipped
      li.nav-item
        a#shipped-tab.nav-link(data-toggle='tab', href='#shipped', role='tab', aria-controls='shipped', aria-selected='false') Shipped
    .tab-content
      #unshipped.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='unshipped-tab') 
        .card.my-2.top-action
          .card-body.top-action-body
            h6.mb-0.mr-2 Action on 
              span#unShipped-select 0 
              |  selected:
            button.need-count-active.btn.btn-outline-warning.mr-2(disabled) Print Label
            button.need-count-active.btn.btn-outline-warning.mr-2(disabled) Quote
        div 
          table.table.table-sm.table-action(data-select-pos="1" data-select-show="#unShipped-select")
            thead.thead-light
              tr
                th
                  input.select-all(type="checkbox")
                th.sortable 
                  a Order Date
                th.sortable.sort-desc
                  a Order details
                th.sortable.sort-asc
                  a Image
                th Product name
                th Customer option
                th Order Status
                th(width="230") Action
            tbody
              each order in unshippedOrders
                tr.list-parent
                  td 
                    input.unshipped-check(type="checkbox")
                  td
                    strong.d-block= order.orderDateString
                    span.d-block= order.orderDate
                  td.has-bottom-btn
                    .d-flex.flex-column
                      strong
                        a(href="#")= order.orderNumber
                      div.mt-auto
                        button.btn-add.btn.btn-outline-danger.text-left.btn-sm Create New Shipping Label
                  td
                    img.img-fluid(src=order.image)
                  td
                    strong
                      a(href="#")= order.productDetail.productName
                    span.d-block= `ASIN: ${ order.productDetail.asin}`
                    span.d-block= `SKU: ${ order.productDetail.sku}`
                    span.d-block= `Quantity: ${ order.productDetail.quantity}`
                    span.d-block= `Total price of order: $${ order.productDetail.totalPrice}`
                  td
                    strong Standard
                    span.d-block= `Dates to be sent: ${order.customerOption.deliverySentDate}`
                    span.d-block= `Dates to be Received: ${order.customerOption.deliveryReceivedDate}`
                    span.d-block= `Customer address: ${order.customerOption.customerAddress}`
                  td
                    span.badge.badge-danger Unshipped
                  td.shpping-label
                    //- button.btn.btn-warning.btn-sm.w-100.btn-toggle-form.mb-2.is-open(data-toggle-class="is-open") Shipping Label
                    div.label-form
                      table.table.table-sm
                        tbody
                          tr
                            td
                              input.form-control.form-control-sm(name='warehouse', placeholder='倉庫/貨運商')
                          tr
                            td
                              .d-flex
                                input.form-control.form-control-sm.mr-1(name='length', placeholder='Length', type='number', min='0')
                                input.form-control.form-control-sm.mr-1(name='width', placeholder='Width', type='number', min='0')
                                input.form-control.form-control-sm(name='height', placeholder='Height', type='number', min='0')
                          tr
                            td
                              .d-flex
                                input.form-control.form-control-sm.mr-1(name='weight', placeholder='重量', type='number', min='0', style="width: 80px;")
                                select.form-control.form-control-sm(name="service")
                                  option 請選擇服務類型
                                  option 限時
                                  option 重量 
                          tr
                            td
                              .input-group
                                input.form-control.form-control-sm(type='text', v-model='item.tracking', placeholder='Tracking')
                                .input-group-append
                                  button.btn.btn-outline-secondary.btn-sm Confirm
          include ../particles/_pagination.pug

      #shipped.tab-pane.fade(role='tabpanel', aria-labelledby='shipped-tab')
        .card.my-2.top-action
          .card-body.top-action-body
            h6.mb-0.mr-2 Filter:
            input.form-control.d-inline-block.mr-1(name='width', placeholder='Keyword', style='width: 200px;')
        div 
          table.table.table-sm.table-action
            thead.thead-light
              tr
                th Order Date
                th Order details
                th Image
                th Product name
                th Customer option
                th Order Status
                th(width="100") Action
            tbody
              each order in shippedOrders
                tr
                  td
                    strong.d-block= order.orderDateString
                    span.d-block= order.orderDate
                  td
                    strong
                      a(href="#")= order.orderNumber
                  td
                    img.img-fluid(src=order.image)
                  td
                    strong
                      a(href="#")= order.productDetail.productName
                    span.d-block= `ASIN: ${ order.productDetail.asin}`
                    span.d-block= `SKU: ${ order.productDetail.sku}`
                    span.d-block= `Quantity: ${ order.productDetail.quantity}`
                    span.d-block= `Total price of order: $${ order.productDetail.totalPrice}`
                  td
                    strong Standard
                    span.d-block= `Dates to be sent: ${order.customerOption.deliverySentDate}`
                    span.d-block= `Dates to be Received: ${order.customerOption.deliveryReceivedDate}`
                    span.d-block= `Customer address: ${order.customerOption.customerAddress}`
                  td
                    span.badge.badge-success shipped
                  td.shpping-label
                    button.btn.btn-warning.btn-sm.w-100.mb-2(data-toggle-class="is-open") Tracking Number
                    div.label-form
                      table.table.table-sm
                        thead
                          tr
                            th TrackNumber
                            th= order.trackNumber
                        tbody
                          each status in order.trackStatus
                            tr
                              td= status.date
                              td= status.action
          include ../particles/_pagination.pug