extends ../app.pug
block variables
  - var title = '產品'
  - var activePage = 'products'
  include ../datas/productsData.pug
block header
  - var breads = [{ name:"產品", href:""}]
    include ../particles/_breadcrumb.pug
block scripts
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.css")
  link(rel="stylesheet" href="//rawgithub.com/akottr/dragtable/master/dragtable.css")
  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js')
  script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
  script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.js')
  script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.jQueryUI.min.js')
  script(type='text/javascript' src='//rawgithub.com/akottr/dragtable/master/jquery.dragtable.js')

  script(type='text/javascript', src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')

  script(src="https://cdn.jsdelivr.net/npm/apexcharts")
  
  script.
    var series = JSON.parse('!{JSON.stringify(datas)}');
    var options = {
      annotations: {
        yaxis: [{
          y: 30,
          borderColor: '#999',
          label: {
            show: true,
            text: 'Support',
            style: {
              color: "#fff",
              background: '#ef4665'
            }
          }
        }],
        xaxis: [{
          x: new Date('01 Jun 2019').getTime(),
          borderColor: '#999',
          yAxisIndex: 0,
          label: {
            show: true,
            text: 'Rally',
            style: {
              color: "#fff",
              background: '#775DD0'
            }
          }
        }]
      },
      chart: {
        type: 'area',
        height: 300,
      },
      dataLabels: {
        enabled: false
      },
      series,
      markers: {
        size: 0,
      },
      xaxis: {
        type: 'datetime',
        min: new Date('01 Jul 2018').getTime(),
        tickAmount: 6,
      },
      yaxis: [
        {
          title: {
            text: '銷售總額',
            style: {
              color: '#008FFB',
            }
          },
          axisBorder: {
            show: true,
            color: '#008FFB'
          },
          labels: {
            style: {
              color: '#008FFB',
            }
          }
        },
        {
          opposite: true,
          title: {
            text: '金額',
            style: {
              color: '#ef4665',
            }
          },
          axisBorder: {
            show: true,
            color: '#ef4665'
          },
          labels: {
            style: {
              color: '#ef4665',
            }
          },
        },
      ],
      tooltip: {
        x: {
          format: 'dd MMM yyyy'
        }
      },
      colors: ['#008ffb', '#ef4665']
    }
    var series = JSON.parse('!{JSON.stringify(datas3)}');
    var options2 = {
      annotations: {
        yaxis: [{
          y: 30,
          borderColor: '#999',
          label: {
            show: true,
            text: 'Support',
            style: {
              color: "#fff",
              background: '#ef4665'
            }
          }
        }],
        xaxis: [{
          x: new Date('01 Jun 2019').getTime(),
          borderColor: '#999',
          yAxisIndex: 0,
          label: {
            show: true,
            text: 'Rally',
            style: {
              color: "#fff",
              background: '#ffc107'
            }
          }
        }]
      },
      chart: {
        type: 'area',
        height: 300,
      },
      dataLabels: {
        enabled: false
      },
      series,
      markers: {
        size: 0,
      },
      xaxis: {
        type: 'datetime',
        min: new Date('01 Jul 2018').getTime(),
        tickAmount: 6,
      },
      yaxis: [
        {
          title: {
            text: '退貨總額',
            style: {
              color: '#f19274',
            }
          },
          axisBorder: {
            show: true,
            color: '#f19274'
          },
          labels: {
            style: {
              color: '#f19274',
            }
          }
        },
        {
          opposite: true,
          title: {
            text: '金額',
            style: {
              color: '#ef4665',
            }
          },
          axisBorder: {
            show: true,
            color: '#ef4665'
          },
          labels: {
            style: {
              color: '#ef4665',
            }
          },
        },
      ],
      tooltip: {
        x: {
          format: 'dd MMM yyyy'
        }
      },
      colors: ['#f19274', '#ef4665']
    }

    var series = JSON.parse('!{JSON.stringify(datas4)}');
    var options3 = {
      annotations: {
        yaxis: [{
          y: 30,
          borderColor: '#999',
          label: {
            show: true,
            text: 'Support',
            style: {
              color: "#fff",
              background: '#ef4665'
            }
          }
        }],
        xaxis: [{
          x: new Date('01 Jun 2019').getTime(),
          borderColor: '#999',
          yAxisIndex: 0,
          label: {
            show: true,
            text: 'Rally',
            style: {
              color: "#fff",
              background: '#775DD0'
            }
          }
        }]
      },
      chart: {
        type: 'area',
        height: 300,
      },
      dataLabels: {
        enabled: false
      },
      series,
      markers: {
        size: 0,
      },
      xaxis: {
        type: 'datetime',
        min: new Date('01 Jul 2018').getTime(),
        tickAmount: 6,
      },
      yaxis: [
        {
          title: {
            text: '利潤總額',
            style: {
              color: '#5bc3d2',
            }
          },
          axisBorder: {
            show: true,
            color: '#5bc3d2'
          },
          labels: {
            style: {
              color: '#5bc3d2',
            }
          }
        },
        {
          opposite: true,
          title: {
            text: '金額',
            style: {
              color: '#ef4665',
            }
          },
          axisBorder: {
            show: true,
            color: '#ef4665'
          },
          labels: {
            style: {
              color: '#ef4665',
            }
          },
        },
      ],
      tooltip: {
        x: {
          format: 'dd MMM yyyy'
        }
      },
      colors: ['#5bc3d2', '#ef4665']
    }
    var chart = [];
    chart.push(new ApexCharts(
      document.querySelector("#chart-1"),
      options
    ));
    chart.push(new ApexCharts(
      document.querySelector("#chart-2"),
      options2
    ));
    chart.push(new ApexCharts(
      document.querySelector("#chart-3"),
      options3
    ));

    chart[0].render();
    chart[1].render();
    chart[2].render();

    var $toolbars = $('.chart-toolbar');
    $toolbars.each(function(index) {
      var $tool = $(this);
      var $btns = $tool.find('button');

      $btns.click(function() {
        var $btn = $(this);
        $btn.parent().find('.btn-primary').removeClass('btn-primary').addClass('btn-light');
        $btn.removeClass('btn-light').addClass('btn-primary');
        var dates = $btn.data('dates');
        var dateArr = dates.split(' ');
        var max = dates === 'all' ? 0 : moment('1 Jun 2019'); // 套資料要改
        var min = dates === 'all' ? 0 : max.subtract(dateArr[0], dateArr[1]); // 套資料要改
        chart[index].updateOptions({
          xaxis: {
            min: dates === 'all' ? null : min.valueOf(),
            max: dates === 'all' ? null : max.valueOf(),
          }
        })
      });
      
    });
    var grid = $('.grid-stack').gridstack({
        width: 12,
        alwaysShowResizeHandle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent),
        disableResize: true
    });
    $('.grid-stack-item').draggable({cancel: ".products-table" });
    $('#products-excel').dragtable(
      {
        maxMovingRows: 1,
        clickDelay: 500
      }
    );


block content
  include ../particles/_dates-area.pug
  .p-3
    .grid-stack(data-gs-width='12', data-gs-animate='yes')
      .grid-stack-item(data-gs-x='0', data-gs-y='0', data-gs-width='4', data-gs-height='6')
        .card.grid-stack-item-content 
          .card-body 
            div
              h5.text-center.mb-3 產品銷售數量圖表 (2018-2019)
              .chart-toolbar.mr-4(data-chart="#chart-1")
                button.btn.btn-light(data-dates="1 month") 1M
                button.btn.btn-light(data-dates="6 month") 6M
                button.btn.btn-light(data-dates="1 year") 1Y
                button.btn.btn-primary(data-dates="all") ALL
            #chart-1
      .grid-stack-item(data-gs-x='4', data-gs-y='0', data-gs-width='4', data-gs-height='6')
        .grid-stack-item-content.card 
          .card-body 
            div
              h5.text-center.mb-3 產品退貨數量圖表 (2018-2019)
              .chart-toolbar.mr-4(data-chart="#chart-2")
                button.btn.btn-light(data-dates="1 month") 1M
                button.btn.btn-light(data-dates="6 month") 6M
                button.btn.btn-light(data-dates="1 year") 1Y
                button.btn.btn-primary(data-dates="all") ALL
            #chart-2
      .grid-stack-item(data-gs-x='8', data-gs-y='0', data-gs-width='4', data-gs-height='6')
        .grid-stack-item-content.card 
          .card-body 
            div
              h5.text-center.mb-3 產品銷售利潤圖表 (2018-2019)
              .chart-toolbar.mr-4(data-chart="#chart-3")
                button.btn.btn-light(data-dates="1 month") 1M
                button.btn.btn-light(data-dates="6 month") 6M
                button.btn.btn-light(data-dates="1 year") 1Y
                button.btn.btn-primary(data-dates="all") ALL
            #chart-3
      .grid-stack-item(data-gs-x='0', data-gs-y='6', data-gs-width='12', data-gs-height='5')
        .grid-stack-item-content.card 
          .card-body 
            .products-table.export-area.mt-4(data-formats='xlsx' data-table-name="products")
              .d-flex.mb-3
                div.mr-4
                  span Show
                  .d-inline-block.mx-2
                    select.form-control
                      option 5
                      option 10
                      option 20
                      option 50
                  span entries
                div
                  span Status:
                  .d-inline-block.mx-2
                    select.form-control
                      option All
                      option In stock
                      option Out of stock
                      option FBA
                      option FBM
                div
                  span Labels & Suppliers:
                  .d-inline-block.mx-2
                    input.form-control(placeholder="Labels & Suppliers...")
                div
                  span Search:
                  .d-inline-block.mx-2
                    input.form-control(placeholder="Search...")
                .ml-auto
                  button.btn.btn-primary.btn-xlsx Export to Excel
              .table-responsive
                table#products-excel.table.table-bordered.bg-white.mb-0
                  thead
                    tr
                      each col in tableColumns
                        th.sortable.text-nowrap
                          a= col.label
                  tbody
                    each data in tableValues
                      tr
                        each col in tableColumns
                          if col.url
                            td
                              a(href=col.url)= data[col.prop]
                          else 
                            td= data[col.prop]
              .mt-3
                include ../particles/_pagination.pug
