extends ../app.pug
block variables
  - var title = '產品內頁'
  - var activePage = 'products'
  include ../datas/productsData.pug
block header
  - var breads = [{ name:"產品", href:"products.html"}, { name:"產品內頁", href:""}]
    include ../particles/_breadcrumb.pug
block scripts
  script(type='text/javascript', src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')

  script(src="https://cdn.jsdelivr.net/npm/apexcharts")
  
  script.
    var series = JSON.parse('!{JSON.stringify(datas)}');
    var series1 = JSON.parse('!{JSON.stringify(datas1)}');
    var series2 = JSON.parse('!{JSON.stringify(datas2)}');
    var options = {
      annotations: {
        yaxis: [{
          y: 30,
          borderColor: '#999',
          label: {
            show: true,
            text: 'Support',
            style: {
              color: "#fff",
              background: '#ef4665'
            }
          }
        }],
        xaxis: [{
          x: new Date('01 Jun 2019').getTime(),
          borderColor: '#999',
          yAxisIndex: 0,
          label: {
            show: true,
            text: 'Rally',
            style: {
              color: "#fff",
              background: '#775DD0'
            }
          }
        }]
      },
      chart: {
        type: 'area',
        height: 400,
      },
      dataLabels: {
        enabled: false
      },
      series,
      markers: {
        size: 0,
      },
      xaxis: {
        type: 'datetime',
        min: new Date('01 Jul 2018').getTime(),
        tickAmount: 6,
      },
      yaxis: [
        {
          title: {
            text: '賣出數量',
            style: {
              color: '#4cad50',
            }
          },
          axisBorder: {
            show: true,
            color: '#4cad50'
          },
          labels: {
            style: {
              color: '#4cad50',
            }
          }
        },
        {
          opposite: true,
          title: {
            text: '金額 ($)',
            style: {
              color: '#fd5890',
            }
          },
          axisBorder: {
            show: true,
            color: '#fd5890'
          },
          labels: {
            style: {
              color: '#fd5890',
            }
          },
        },
      ],
      tooltip: {
        x: {
          format: 'dd MMM yyyy'
        },
        y: {
          formatter: undefined,
          title: {
            formatter: function (seriesName) {
              return seriesName === '金額' ? seriesName + '($)' : seriesName
            },
          },
        }
      },
      colors: ['#4cad50', '#fd5890']
    }
    var options2 = {
      annotations: {
        yaxis: [{
          y: 30,
          borderColor: '#999',
          label: {
            show: true,
            text: 'Support',
            style: {
              color: "#fff",
              background: '#ef4665'
            }
          }
        }],
        xaxis: [{
          x: new Date('01 Jun 2019').getTime(),
          borderColor: '#999',
          yAxisIndex: 0,
          label: {
            show: true,
            text: 'Rally',
            style: {
              color: "#fff",
              background: '#775DD0'
            }
          }
        }]
      },
      chart: {
        type: 'area',
        height: 400,
      },
      dataLabels: {
        enabled: false
      },
      series: series1,
      markers: {
        size: 0,
      },
      xaxis: {
        type: 'datetime',
        min: new Date('01 Jul 2018').getTime(),
        tickAmount: 6,
      },
      yaxis: [
        {
          title: {
            text: '排名',
            style: {
              color: '#7b81ea',
            }
          },
          axisBorder: {
            show: true,
            color: '#7b81ea'
          },
          labels: {
            style: {
              color: '#7b81ea',
            }
          }
        },
      ],
      tooltip: {
        x: {
          format: 'dd MMM yyyy'
        },
        y: {
          formatter: undefined,
          title: {
            formatter: function (seriesName) {
              return seriesName === '金額' ? seriesName + '($)' : seriesName
            },
          },
        }
      },
      colors: ['#7b81ea']
    }
    var options3 = {
      annotations: {
        yaxis: [{
          y: 30,
          borderColor: '#999',
          label: {
            show: true,
            text: 'Support',
            style: {
              color: "#fff",
              background: '#ef4665'
            }
          }
        }],
        xaxis: [{
          x: new Date('01 Jun 2019').getTime(),
          borderColor: '#999',
          yAxisIndex: 0,
          label: {
            show: true,
            text: 'Rally',
            style: {
              color: "#fff",
              background: '#775DD0'
            }
          }
        }]
      },
      chart: {
        type: 'area',
        height: 400,
      },
      dataLabels: {
        enabled: false
      },
      series: series2,
      markers: {
        size: 0,
      },
      xaxis: {
        type: 'datetime',
        min: new Date('01 Jul 2018').getTime(),
        tickAmount: 6,
      },
      yaxis: [
        {
          title: {
            text: '退貨數量',
            style: {
              color: '#ffc107',
            }
          },
          axisBorder: {
            show: true,
            color: '#ffc107'
          },
          labels: {
            style: {
              color: '#ffc107',
            }
          }
        },
        {
          opposite: true,
          title: {
            text: '金額 ($)',
            style: {
              color: '#17adf1',
            }
          },
          axisBorder: {
            show: true,
            color: '#17adf1'
          },
          labels: {
            style: {
              color: '#17adf1',
            }
          },
        },
      ],
      tooltip: {
        x: {
          format: 'dd MMM yyyy'
        },
        y: {
          formatter: undefined,
          title: {
              formatter: function (seriesName) {
                return seriesName === '金額' ? seriesName + '($)' : seriesName
              },
          },
        }
      },
      colors: ['#ffc107', '#17adf1']
    }
    var options4 = {
      annotations: {
        yaxis: [{
          y: 30,
          borderColor: '#999',
          label: {
            show: true,
            text: 'Support',
            style: {
              color: "#fff",
              background: '#ef4665'
            }
          }
        }],
        xaxis: [{
          x: new Date('01 Jun 2019').getTime(),
          borderColor: '#999',
          yAxisIndex: 0,
          label: {
            show: true,
            text: 'Rally',
            style: {
              color: "#fff",
              background: '#775DD0'
            }
          }
        }]
      },
      chart: {
        type: 'area',
        height: 400,
      },
      dataLabels: {
        enabled: false
      },
      series: series1,
      markers: {
        size: 0,
      },
      xaxis: {
        type: 'datetime',
        min: new Date('01 Jul 2018').getTime(),
        tickAmount: 6,
      },
      yaxis: [
        {
          title: {
            text: '價格',
            style: {
              color: '#f19274',
            }
          },
          axisBorder: {
            show: true,
            color: '#f19274'
          },
          labels: {
            style: {
              color: '#f19274',
            }
          }
        },
      ],
      tooltip: {
        x: {
          format: 'dd MMM yyyy'
        },
        y: {
          formatter: undefined,
          title: {
            formatter: function (seriesName) {
              return seriesName === '金額' ? seriesName + '($)' : seriesName
            },
          },
        }
      },
      colors: ['#f19274']
    }

    var series = JSON.parse('!{JSON.stringify(datas4)}');
    var options5 = {
      annotations: {
        yaxis: [{
          y: 30,
          borderColor: '#999',
          label: {
            show: true,
            text: 'Support',
            style: {
              color: "#fff",
              background: '#ef4665'
            }
          }
        }],
        xaxis: [{
          x: new Date('01 Jun 2019').getTime(),
          borderColor: '#999',
          yAxisIndex: 0,
          label: {
            show: true,
            text: 'Rally',
            style: {
              color: "#fff",
              background: '#775DD0'
            }
          }
        }]
      },
      chart: {
        type: 'area',
        height: 300,
      },
      dataLabels: {
        enabled: false
      },
      series,
      markers: {
        size: 0,
      },
      xaxis: {
        type: 'datetime',
        min: new Date('01 Jul 2018').getTime(),
        tickAmount: 6,
      },
      yaxis: [
        {
          title: {
            text: '利潤總額',
            style: {
              color: '#5bc3d2',
            }
          },
          axisBorder: {
            show: true,
            color: '#5bc3d2'
          },
          labels: {
            style: {
              color: '#5bc3d2',
            }
          }
        },
        {
          opposite: true,
          title: {
            text: '金額',
            style: {
              color: '#ef4665',
            }
          },
          axisBorder: {
            show: true,
            color: '#ef4665'
          },
          labels: {
            style: {
              color: '#ef4665',
            }
          },
        },
      ],
      tooltip: {
        x: {
          format: 'dd MMM yyyy'
        }
      },
      colors: ['#5bc3d2', '#ef4665']
    }
    var chart = [];
    chart[0] = new ApexCharts(
      document.querySelector("#chart-1"),
      options
    );
    chart[1] = new ApexCharts(
      document.querySelector("#chart-2"),
      options2
    );
    chart[2] = new ApexCharts(
      document.querySelector("#chart-3"),
      options3
    );
    chart[3] = new ApexCharts(
      document.querySelector("#chart-4"),
      options4
    );
    chart[4] = new ApexCharts(
      document.querySelector("#chart-5"),
      options5
    );

    chart[0].render();
    chart[1].render();
    chart[2].render();
    chart[3].render();
    chart[4].render();

    var $toolbars = $('.chart-toolbar');
    $toolbars.each(function(index) {
      var $tool = $(this);
      var $btns = $tool.find('button');
      var target = $tool.data('chart');

      $btns.click(function() {
        var $btn = $(this);
        $btn.parent().find('.btn-primary').removeClass('btn-primary').addClass('btn-light');
        $btn.removeClass('btn-light').addClass('btn-primary');
        var dates = $btn.data('dates');
        var dateArr = dates.split(' ');
        var max = dates === 'all' ? 0 : moment('1 Jun 2019'); // 套資料要改
        var min = dates === 'all' ? 0 : max.subtract(dateArr[0], dateArr[1]); // 套資料要改
        chart[index].updateOptions({
          xaxis: {
            min: dates === 'all' ? null : min.valueOf(),
            max: dates === 'all' ? null : max.valueOf(),
          }
        })
      });
      
    });
    function updateValue(el) {
      var $prev = $(el).parents('.update-area').find('.can-update');
      var format = $(el).data('format');
      $prev.removeClass('is-updating');
      var value = $(el).val();
      if (format) {
        if (format === 'dollar') {
          value = "$" + parseFloat(value.replace(/(,|\$)/g, "")) // Matches "," or "$" literally
                      .toFixed(2)
                      .toString()
                      .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
      }
      
      $prev.html(value);
    }
    $('input.update-field').keydown(function (event) {
      if (event.which == 13) {
        var $el = $(this);
        var compare = $el .data('compare');
        var limit = $el.data('compareLimit');
        if (compare) {
          var $target = $('[name="'+ compare +'"]')
          var targetValue = $target.val();

          switch(limit) {
            case 'less than':
              if ($el.val() < targetValue) {
                $el.parents('.update-area').addClass('error');
                $el.addClass('is-invalid')
                return false;
              } else {
                $el.removeClass('is-invalid')
                $el.parents('.update-area').removeClass('error');
              }
              break;
            case 'more than':
              if ($el.val() > targetValue) {
                return false;
              }
              break;

          }
        }
        updateValue(this);
      }
    });
    $('select.update-field').change(function (event) {
      updateValue(this);
    });
block content
  .p-3
    h5 Product Name	
    .row.product-detail
      .col-7.col-xxxl-5
        .card
          .card-body
            table.table.table-sm
              col(width="80") 
              col 
              col 
              col 
              col 
              col 
              thead
                tr
                  th(colspan="6")
                    .d-flex.align-items-center
                      img.img-fluid(src="https://picsum.photos/70/70")
                      .ml-4.text-center
                        h3.mb-0 $12.68
                        span.text-uppercase current price
                      .ml-4.text-center.text-success
                        h3.mb-0 14%
                        span.text-uppercase adjuested gm
              tbody
                tr
                  td.border-0
                    strong Status
                  td.border-0(colspan="5") 
                    span.badge.badge-success FBA In Stock
                tr
                  td.border-0
                    strong SKU
                  td.border-0(colspan="5")  1123
                tr
                  td.border-0
                    strong FNSKU
                  td.border-0(colspan="5")  FNSKU
                tr
                  td.border-0
                    strong 廠商型號	
                  td.border-0(colspan="5")  廠商型號
                tr
                  td.border-0
                    strong 廠商名稱	
                  td.border-0(colspan="5") 
                    .update-area
                      span.can-update(data-toggle-class="is-updating") 廠商名稱
                      input.form-control.form-control-sm.update-field(value="廠商名稱")
                tr
                  td.border-0
                    strong ASIN	
                  td.border-0(colspan="5") ASIN
                    a(href="#").ml-2
                      i.fas.fa-arrow-circle-right
                tr
                  td.border-0
                    strong Model	
                  td.border-0(colspan="5") Model
                tr
                  td.border-0
                    strong BOOK	
                  td.border-0(colspan="5") BOOK
                tr
                  th(colspan="6").text-uppercase.bg-light 
                    strong Price
                tr
                  td.border-0
                    strong Ceiling	
                  td.border-0(colspan="2")
                    .update-area
                      span.can-update(data-toggle-class="is-updating") $180.00
                      .input-group.input-group-sm
                        .input-group-prepend
                          .input-group-text $
                        input.form-control.form-control-sm.update-field(name="ceiling" type="number" value="180" data-format="dollar" data-compare="floor" data-compare-limit="less than")
                        .invalid-feedback
                          small 不得小於 floor 數值
                  td.border-0 
                    strong ADJ Margin
                  td.border-0(colspan="2") 20%
                tr
                  td.border-0
                    strong Floor	
                  td.border-0(colspan="2")
                    .update-area
                      span.can-update(data-toggle-class="is-updating") $140.00
                      .input-group.input-group-sm
                        .input-group-prepend
                          .input-group-text $
                        input.form-control.form-control-sm.update-field(name="floor" type="number" value="140" data-format="dollar")
                  td.border-0 
                    strong ADJ Margin
                  td.border-0(colspan="2") 30%
                tr
                  td.border-0 
                    strong Recently Changed
                  td.border-0(colspan="5") $120.00
                tr
                  th(colspan="2").text-uppercase.bg-light
                    strong Cost
                  th(colspan="2").text-uppercase.bg-light
                    strong 費用
                  th(colspan="2").text-uppercase.bg-light
                    strong PROFIT
                - var col2 = ['總費用(total)', 'Amazon 抽成', 'FBA 運費', '存貨費用', '']
                - var col3 = ['Profit', 'Profit Margin', 'ROI', '', '']
                each col, index in ['Cost(total)', 'Freight', 'Labor', 'Duty', 'Add. Cost']
                  tr
                    td.border-0
                      strong= col	
                    td.border-0(colspan="1")
                      .update-area
                        span.can-update(data-toggle-class="is-updating") $140.00
                        .input-group.input-group-sm
                          .input-group-prepend
                            .input-group-text $
                          input.form-control.form-control-sm.update-field(type="number" value="140" data-format="dollar")
                    td.border-0
                      strong= col2[index]
                    td.border-0(colspan="1")= col2[index] ? '$100.00' : ''
                    td.border-0
                      strong= col3[index]
                    td.border-0(colspan="1")= col3[index] ? (col3[index] === 'Profit' ? '$100.00' : '30%') : ''
                tr
                  th(colspan="6").text-uppercase.bg-light
                    strong Inventory	
                tr
                  td.border-0
                    strong Inbound	
                  td.border-0 $100.00
                  td.border-0
                    strong Fulfillable	
                  td.border-0 $100.00
                  td.border-0
                    strong Reserve	
                  td.border-0 $100.00
                tr
                  td.border-0
                    strong Unfulfillable	
                  td.border-0(colspan="5") $100.00
                tr
                  td.border-0
                    strong WH1	
                  td.border-0 0
                  td.border-0
                    strong WH2	
                  td.border-0 0
                  td.border-0
                    strong WH3	
                  td.border-0 0
                tr
                  td.border-0
                    strong WH4	
                  td.border-0 0
                  td.border-0
                    strong WH5	
                  td.border-0 0
                  td.border-0
                  td.border-0
                tr
                  th(colspan="6").text-uppercase.bg-light
                    strong 銷售數量		
                tr
                  td.border-0
                    strong 7 Day	
                  td.border-0 $100.00
                  td.border-0
                    strong 14 Day	
                  td.border-0 $100.00
                  td.border-0
                    strong 30 Day	
                  td.border-0 $100.00
                tr
                  td.border-0
                    strong 7 to 30 Day	
                  td.border-0(colspan="5") $100.00
                tr
                  th(colspan="6").text-uppercase.bg-light
                    strong DOI		
                tr
                  td.border-0
                    strong DOI(7)
                  td.border-0 $100.00
                  td.border-0
                    strong DOI(11)
                  td.border-0 $100.00
                  td.border-0
                    strong DOI(30)
                  td.border-0 $100.00
                tr
                  th(colspan="6").text-uppercase.bg-light
                    strong Age		
                tr
                  td.border-0
                    strong 0-90
                  td.border-0 6
                  td.border-0
                    strong 91-180
                  td.border-0 5
                  td.border-0
                    strong 181-270
                  td.border-0 246
                tr
                  td.border-0
                    strong 271-365
                  td.border-0 0
                  td.border-0
                    strong 365+
                  td.border-0 0
                  td.border-0
                  td.border-0
                tr
                  th(colspan="6").text-uppercase.bg-light
                    strong Package		
                tr
                  td.border-0
                    strong Product Size
                  td.border-0(colspan="5")
                    .d-flex
                      .update-area
                        span.can-update(data-toggle-class="is-updating") 25
                        input.form-control.form-control-sm.update-field(value="25")
                      span.px-1 x
                      .update-area
                        span.can-update(data-toggle-class="is-updating") 25
                        input.form-control.form-control-sm.update-field(value="25")
                      span.px-1 x
                      .update-area
                        span.can-update(data-toggle-class="is-updating") 25
                        input.form-control.form-control-sm.update-field(value="25")
                tr
                  td.border-0
                    strong Pacakage Size
                  td.border-0(colspan="5")
                    .d-flex
                      .update-area
                        span.can-update(data-toggle-class="is-updating") 25
                        input.form-control.form-control-sm.update-field(value="25")
                      span.px-1 x
                      .update-area
                        span.can-update(data-toggle-class="is-updating") 25
                        input.form-control.form-control-sm.update-field(value="25")
                      span.px-1 x
                      .update-area
                        span.can-update(data-toggle-class="is-updating") 25
                        input.form-control.form-control-sm.update-field(value="25")
                tr
                  td.border-0 
                    strong FBA SIZE
                  td.border-0 
                    .update-area
                      span.can-update(data-toggle-class="is-updating") 小
                      .input-group.input-group-sm
                        select.form-control.form-control.form-control-sm.update-field
                          option 小
                          option 中
                  td.border-0 
                    strong CASE SIZE
                  td.border-0
                    .update-area
                      span.can-update(data-toggle-class="is-updating") 210
                      .input-group.input-group-sm
                        .input-group-prepend
                          .input-group-text $
                        input.form-control.form-control-sm.update-field(type="number" value="210")
                  td.border-0 
                    strong PALLET SIZE
                  td.border-0
                    .update-area
                      span.can-update(data-toggle-class="is-updating") 210
                      .input-group.input-group-sm
                        .input-group-prepend
                          .input-group-text $
                        input.form-control.form-control-sm.update-field(type="number" value="210")
      .col-5.col-xxxl-7
        .card
          .card-body 
            div
              h5.text-center.mb-3 產品銷售數量圖表 (2018-2019)
              .chart-toolbar.mr-4(data-chart="#chart-1")
                button.btn.btn-light(data-dates="1 month") 1M
                button.btn.btn-light(data-dates="6 month") 6M
                button.btn.btn-light(data-dates="1 year") 1Y
                button.btn.btn-primary(data-dates="all") ALL
            #chart-1         
        .card.mt-3
          .card-body
            div
              h5.text-center.mb-3 產品排行圖表 (2018-2019)
              .chart-toolbar.mr-4(data-chart="#chart-2")
                button.btn.btn-light(data-dates="1 month") 1M
                button.btn.btn-light(data-dates="6 month") 6M
                button.btn.btn-light(data-dates="1 year") 1Y
                button.btn.btn-primary(data-dates="all") ALL
            #chart-2          
        .card.mt-3
          .card-body
            div
              h5.text-center.mb-3 產品退貨數量圖表 (2018-2019)
              .chart-toolbar.mr-4(data-chart="#chart-3")
                button.btn.btn-light(data-dates="1 month") 1M
                button.btn.btn-light(data-dates="6 month") 6M
                button.btn.btn-light(data-dates="1 year") 1Y
                button.btn.btn-primary(data-dates="all") ALL
            #chart-3          
        .card.mt-3
          .card-body
            div
              h5.text-center.mb-3 價位變動圖 (2018-2019)
              .chart-toolbar.mr-4(data-chart="#chart-4")
                button.btn.btn-light(data-dates="1 month") 1M
                button.btn.btn-light(data-dates="6 month") 6M
                button.btn.btn-light(data-dates="1 year") 1Y
                button.btn.btn-primary(data-dates="all") ALL
            #chart-4          
        .card.mt-3
          .card-body
            div
              h5.text-center.mb-3 產品銷售利潤圖表 (2018-2019)
              .chart-toolbar.mr-4(data-chart="#chart-5")
                button.btn.btn-light(data-dates="1 month") 1M
                button.btn.btn-light(data-dates="6 month") 6M
                button.btn.btn-light(data-dates="1 year") 1Y
                button.btn.btn-primary(data-dates="all") ALL
            #chart-5          
                    
