.btn-primary, .btn-success, .btn-warning, .btn-purple {
  &, &:hover, &:disabled, &:active, &:focus {
    color: white !important;
  }
}

.btn.btn-outline-primary, .btn.btn-outline-warning {
  &:not(:disabled):hover {
    color: white;
  }
}

.btn-outline-warning, .btn-outline-warning:disabled {
  background: #fff9f0;
}

.btn-outline-primary, .btn-outline-primary:disabled {
  background: #ebfbfd;
}

.btn:disabled{
  cursor: not-allowed;
}

.btn-purple {
  background: $purple !important;
  color: white;
}