
// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: 'Calibri', "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial,sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #37d4ec;
$indigo: #6574cd;
$purple: #7b81ea;
$pink: #f66D9b;
$red: #e26464;
$orange: #ffb583;
$yellow: #ffc36a;
$green: #6ac53d;
$teal: #9AB49F;
$cyan: #558B8A;

$main-color: #37523e;
$light-green-color: #9ab49f;
$sub-color: #d09166;
$more-color: #548b8b;

$grid-breakpoints: ();
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px
  ),
  $grid-breakpoints
);
