.dashboard-buttons {
  display: flex;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  border: 1px solid #EBEEF5;
  border-bottom: 0;
  h6, h4 {
    margin: 0;
  }
  h4 {
    font-size: 1.5rem;
  }
  &.disabled {
    button:not(.active) {
      opacity: .2;
    }
  }
  button {
    position: relative;
    border: 0;
    flex: 0 0 16.666%;
    background: white;
    padding: 1rem;
    border-right: 1px solid #EBEEF5;
    border-bottom: 1px solid #EBEEF5;
    text-align: left;
    .bg-line {
      height: 3px;
      display: block;
      width: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition-duration: .3s;
    }
    &:nth-child(6n) {
      border-right: 0;
    }
    &:hover {
      outline: none;
      .bg-line {
        opacity: .8;
      }
    }
    &:focus {
      outline: none;
    }
    &.active {
      .bg-line {
        opacity: 1;
      }
    }

  }

}

.dashboard-wrapper {
  .card {
    border-radius: 0;
    border-color: #EBEEF5;
  }
}