.draft-section {
    .draft-tabs {
      .nav-link {
        border: none;
        color: #333;
        &.active, &:hover {
          background-color: transparent;
          color: $primary;
          border: none;
        }
      }
    }
    
  #list-wrapper {
    background: #fbfbfb;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #eee;
    margin-top: 10px;
    li {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &:after {
      content: '請先加入 sku';
      color: #999;
    }
    &.has-value {
      &:after {
        display: none;
      }
    }
  }
}