.stock-wrapper {
  position: relative;
  .left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    .card-body {
      padding: .5rem 0;
    }
    & > div {
      height: 100%;
    }
  }
  .right {
    padding-left: 360px;
    @media (min-width: 1600px) {
      padding-left: 542px;
    }
  }
}
.stock-table {
  border: 1px solid #ddd;
  th, td {
    text-align: center;
    white-space: nowrap;
    // border-top: 1px solid #ddd !important;
  }
  .sep {
    border-left: 1px solid rgba(255, 255, 255, .5);
  }
  thead {
    tr {
      background: #7b81ea;
      color: white;
    }
  }
  tbody {
    tr:first-child {
      background: rgb(90, 98, 232);
      color: white;
    }
    tr:nth-child(2) {
      background: rgb(62, 91, 243);
      color: white;
    }
    tr:nth-child(3) {
      background: rgb(55, 118, 236);
      color: white;
    }
    tr:nth-child(4) {
      background: rgb(55, 212, 236);
      color: white;
    }
    tr:nth-child(5) {
      background: rgb(55, 212, 236);
      color: white;
    }
    tr:nth-child(6) {
      background: rgb(55, 212, 236);
      color: white;
    }

  }

  tfoot {
    tr:first-child {
      background: #6ac53d;
      color: white;
    }
    tr:nth-child(2) {
      background: #6ac53d;
      color: white;
    }
    tr:nth-child(3) {
      background: #6ac53d;
      color: white;
    }
    tr:nth-child(4) {
      background: #ff5722;
      color: white;
    }
    tr:nth-child(5) {
      background: #ff5722;
      color: white;
    }
  }

  .sortable {
    &.sort-desc {
      a, .in-sort {
        &:before {
          color: white;
        }
      }
    }
    &.sort-asc {
      a, .in-sort {
        &:after {
          color: white;
        }
      }
    }
  }

  td:first-child {
    text-align: left;
  }
}

.inventory-table {
  th, td {
    text-align: center;
  }
}
