.order-section {
  .shipped-tabs {
    .nav-link {
      border: none;
      color: #333;
      &.active, &:hover {
        background-color: transparent;
        color: $primary;
        border: none;
      }
    }
  
  }
  
  
  .shpping-label {
    .label-form {
      // display: none;
    }
    .is-open {
      opacity: .5;
    }
    .is-open + .label-form {
      display: block;
    }
    .is-toggle-open + .label-form {
      display: block;
    }
  }

  .basic-input {
    display: none;
  }

  .has-select-count {
    .basic-input {
      display: flex;
    }
  }
}