.product-detail {
  .table th, .table td {
    border-top: 0;
  }
  .can-update {
    cursor: pointer;
    border-bottom: 1px dotted $red;
  }

  .can-update + input {
    display: none;
  }

  .can-update + .input-group {
    display: none;
  }
  .can-update.is-updating {
    display: none;
  }
  .can-update.is-updating + input {
    display: block;
  }
  .can-update.is-updating + .input-group {
    display: flex;
  }

}