.setting-nav {
  border-bottom: 1px solid #ddd;
  a {
    display: inline-block;
    padding: .5rem 1rem;
    cursor: pointer;
    border-bottom: solid 2px #fafafa;
    transition-duration: .3s;
    color: #333;
    &:hover, &.active {
      border-bottom: $indigo 2px solid;
    }
  }
}

.setting-form {
  .id-wrapper {
    flex: 1;
    margin-right: 10px;
  }
}

.bill-wrapper {
  h6 {
    margin-bottom: 0;
  }
  .big {
    font-size: 18px;
  }
}