extends ../../app.pug
block variables
  - var title = 'Setting'
  - var activePage = 'setting'
  - var subPage = 'setting-1'
block header
  - var breads = [{ name:"Setting", href:""}]
    include ../../particles/_breadcrumb.pug
block content
  .px-3
    include ./particles/_nav.pug
    .py-3.container-fluid
      .row
        .col-md-4
          .card
            .card-header 公司資訊
            .card-body
              form
                .form-group
                  label Logo
                  input.form-control(type='text', placeholder='Enter logo')
                .form-group
                  label 名稱
                  input.form-control(type='text', placeholder='Enter name')
                .form-group
                  label 地址
                  input.form-control(type='text', placeholder='Enter address')
                .form-group
                  label 聯絡資訊
                  input.form-control(type='text', placeholder='Enter 聯絡資訊')
                .text-right
                  button.btn.btn-light.mr-2(type='reset') Reset
                  button.btn.btn-primary(type='submit') Save
        .col-md-4
          .card
            .card-header 使用者資訊
            .card-body
              form
                .form-group
                  label User Name
                  input.form-control(type='text', placeholder='Enter user name')
                .form-group
                  label Info
                  input.form-control(type='text', placeholder='Enter info')
                .text-right
                  button.btn.btn-light.mr-2(type='reset') Reset
                  button.btn.btn-primary(type='submit') Save
        .col-md-4
          .card
            .card-header 廠商資訊
            .card-body
              form
                .form-group
                  label 廠商名稱
                  input.form-control(type='text', placeholder='Enter 廠商名稱')
                .form-group
                  label 聯絡資訊
                  input.form-control(type='text', placeholder='Enter 聯絡資訊')
                .form-group
                  label 國家資訊
                  input.form-control(type='text', placeholder='Enter 國家資訊')
                .text-right
                  button.btn.btn-light.mr-2(type='reset') Reset
                  button.btn.btn-primary(type='submit') Save