.main-container {
  display: flex;
  height: 100%;
  aside {
    flex: 0 0 240px;
  }
  .main-container {
    flex: 1;
    overflow: auto;
  }
  .main {
    min-width: 1024px;
    width: 100%;
  }
}

.top-action {
  background-color: #f8f9fa;
  border: 1px solid #EBEEF5;  
  .top-action-body {
    display: flex;
    align-items: center;
  }
}