aside.home-menu {
  background: rgb(42, 54, 59);
  padding-top: 1rem;
  flex: 0 0 60px;
  overflow: hidden;
  &.is-opened {
    flex: 0 0 240px;
    a, a:not([href]) {
      span {
        display: inline;
      }
    }
    .logo {
      span {
        display: block;
      }
    }
  }
  nav {
    width: 240px;
  }
  .logo {
    padding: 1rem;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;
    span {
      display: none;
    }
  }
  a, a:not([href]) {
    color: white;
    line-height: 36px;
    font-size: 14px;
    display: block;
    padding: 0 1rem;
    transition-duration: .3s;
    cursor: pointer;
    i {
      width: 24px;
      text-align: center;
      margin-right: 5px;
      color: rgba(255, 255, 255, 0.3);
    }
    span {
      display: none;
    }
  }

  .menu-list, .sub-menu {
    & > a, & > a:not([href]) {
      &:hover {
        color: #37d4ec;
        i {
          color: inherit;
        }
      }
      &.active {
        color: #94e8f5;
        font-weight: 600;
        i {
          color: inherit;
        }
      }
    }
  }

  .sub-menu {
    & > a {
      position: relative;
      &:after {
        content: "\f078";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        position: absolute;
        right: 1.2rem;
        transition-duration: .3s;
      }
      &.is-opened {
        &:after {
          transform: rotate(180deg);
        }
      }
      &.is-opened + nav {
        max-height: 1000px;
        overflow: visible;
      }
    }
    nav {
      max-height: 0;
      overflow: hidden;
      transition-duration: .4s;
    }
  }

  .sub-menu-list {
    & > a, & > a:not([href]) {
      padding-left: 2.4rem;
      &:hover {
        color: #ffc36a;
      }
      &.active {
        color: #ffecd0;
        font-weight: 600;
      }
    }
  }
}