.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  .breadcrumb {
    background: transparent;
    margin-bottom: 0;
  }
  .right {
    display: flex;
    align-items: center;
  }
}