block variables
doctype html
html
  head
    title Mancr
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(charset="utf-8")
    link(rel="icon" href="/assets/favicon.ico")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")

    block styles
    block headScripts
  body
    div.main-container
      include ./particles/_menu.pug
      .main-container
        main.main
          include ./particles/_top.pug
          block content
    
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(type='text/javascript', src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js')
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.css')
    script.
      $('input[name="dates"]').daterangepicker({
        ranges: {
          'Past 7 days': [moment().subtract(6, 'days'), moment()],
          'Past 14 days': [moment().subtract(13, 'days'), moment()],
          'Past 30 days': [moment().subtract(29, 'days'), moment()],
          'Past 60 days': [moment().subtract(59, 'days'), moment()],
          'Past 3 Months': [moment().subtract(3, 'month'), moment()],
          'Past 6 Months': [moment().subtract(6, 'month'), moment()],
          'Past Year': [moment().subtract(1, 'year'), moment()],
        },
        "opens": "left",
        "showCustomRangeLabel": false,
        "alwaysShowCalendars": true
      }, function(start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
      });
      $('input.date-picker').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        autoUpdateInput: false
      });

      $('input.date-picker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY'));
      });
      $('.scrollbar-wrapper').scrollbar();

    block scripts
