extends ../../../app.pug
block variables
  - var title = 'Setting - Staff'
  - var activePage = 'setting'
  - var subPage = 'setting-4'
block header
  - var breads = [{ name:"Setting", href:"/setting/"}, { name:"Staff", href:"/setting/staff/index.html"}]
    include ../../../particles/_breadcrumb.pug
block content
  .px-3
    include ../particles/_nav.pug
    .py-3
      div(style="max-width: 700px")
        .d-flex.align-items-center.justify-content-between
            a.btn.btn-sm.btn-light.ml-1(href="/setting/staff/index.html") 返回列表
        .card.mt-2
          .card-body
            include ./form.pug
block scripts
  script. 
    $('.add-id-btn').click(function() {
      $newDiv = $('<div class="d-flex"><div class="id-wrapper"><input class="form-control mb-1" placeholder="請輸入 id" /></div><div><button class="btn btn-danger btn-sm del-id-btn" type="button">Del</button></div></div>')
      $newDiv.find('.del-id-btn').click(function() {
        $(this).parent().parent().remove();
      });
      $('#id-wrapper').append(
        $newDiv
      );
    });
