form.setting-form
  table.table.table-sm.table-borderless
    tbody
      tr
        th.text-right 
          label.col-form-label 名字
        td
          input.form-control(value=(isEdit ? 'John' : '') placeholder="請輸入名字")
        th.text-right 
          label.col-form-label 員工代碼
        td
          input.form-control(value=(isEdit ? '123456' : '') placeholder="請輸入員工代碼")
      tr
        th.text-right 
          label.col-form-label 地址
        td
          input.form-control(value=(isEdit ? 'XXX路一段30號' : '') placeholder="請輸入地址")
        th.text-right 
          label.col-form-label 電話
        td
          input.form-control(value=(isEdit ? 'XXX路一段30號' : '') placeholder="請輸入電話")
      tr
        th.text-right(rowspan="2")
          label.col-form-label ID
        td 
          .d-flex
            .id-wrapper
              input.form-control(value=(isEdit ? '12345689' : '') placeholder="請輸入 ID")
            div
              button.btn.btn-success.btn-sm.add-id-btn(type="button") Add

        th.text-right 銀行代號
        td  
          input.form-control(value=(isEdit ? '012' : '') placeholder="銀行代號")
      tr
        td
          #id-wrapper
            .d-flex
              if isEdit
                .id-wrapper
                  input.form-control.mb-1(value="12345678" placeholder='請輸入 id')
                div
                  button.btn.btn-danger.btn-sm.del-id-btn(type='button') Del

        th.text-right 銀行帳號
        td  
          input.form-control(value=(isEdit ? '12345678' : '') placeholder="銀行帳號")
      tr
        th.text-right 
          label.col-form-label 公用 email
        td
          input.form-control(type="email" value=(isEdit ? 'sample@mail.com' : '') placeholder="請輸入公用 email")
        th.text-right 
          label.col-form-label 私人 email
        td
          input.form-control(type="email" placeholder="私人 email")
      tr
        th.text-right 
          label.col-form-label 密碼
        td
          input.form-control(type="password" value=(isEdit ? '12345678' : '') placeholder="請輸入密碼")
        th.text-right 
          if isEdit
            label.mb-0 確認密碼
              br
              small.text-danger.d-block(style="line-height: 10px;") 修改密碼才需填寫
          else
            label.col-form-label 確認密碼
        td
          input.form-control(type="password" placeholder="請輸入確認密碼")
  .text-right
    button.btn.btn-light(type="reset") Reset
    if isEdit
      button.btn.btn-primary.ml-2 Save
    else
      button.btn.btn-primary.ml-2 Create