extends ../../../app.pug
block variables
  - var title = 'Setting - Staff'
  - var activePage = 'setting'
  - var subPage = 'setting-4'
block header
  - var breads = [{ name:"Setting", href:""}]
    include ../../../particles/_breadcrumb.pug

block content
  .px-3
    include ../particles/_nav.pug
    .py-3
      .card
        .card-body
          .text-right
            button.btn.btn-light(data-toggle="modal" data-target="#rewards-modal") 獎懲制度
            button.btn.btn-light.ml-2(data-toggle="modal" data-target="#salary-modal") 薪水變更設定
            a.btn.btn-light.ml-2(href="/setting/staff/create.html") 新增員工
          .table-responsive.mt-2
            table.table
              thead.thead-light
                tr
                  th Name
                  th Code
                  th Email
                  th Tel
                  th 上次調薪日期
                  th 權限
                  th Action
              tbody
                tr
                  td Join
                  td 419418628
                  td sample@mail.com
                  td 0909111333
                  td 2018-06
                  td 
                    span.badge.badge-secondary 產品管理
                    span.badge.badge-secondary.ml-1 設定
                  td 
                    a.btn.btn-sm.btn-primary(href="/setting/staff/show.html") View
                    a.btn.btn-sm.btn-primary.ml-1(href="/setting/staff/edit.html") Edit
                    button.btn.btn-sm.btn-success.ml-1(data-staff-id="1" data-toggle="modal" data-target="#leave-modal") 請假
                    button.btn.btn-sm.btn-info.auth-btn.ml-1(data-staff-id="1" data-auth="1,4" data-toggle="modal" data-target="#auth-modal") 權限設定
                    button.btn.btn-sm.btn-danger.stop-btn.ml-1(data-staff-id="1" data-toggle="modal" data-target="#stop-modal") 終止合作
                tr
                  td Adam
                  td 419418628
                  td sample@mail.com
                  td 0909111333
                  td 2018-06
                  td 
                    span.badge.badge-secondary 產品管理
                    span.badge.badge-secondary.ml-1 訂單管理
                    span.badge.badge-secondary.ml-1 設定
                  td 
                    a.btn.btn-sm.btn-primary(href="/setting/staff/show.html") View
                    a.btn.btn-sm.btn-primary.ml-1(href="/setting/staff/edit.html") Edit
                    button.btn.btn-sm.btn-success.leave-btn.ml-1(data-staff-id="2" data-toggle="modal" data-target="#leave-modal") 請假
                    button.btn.btn-sm.btn-info.auth-btn.ml-1(data-staff-id="2" data-auth="1,2,4" data-toggle="modal" data-target="#auth-modal") 權限設定
                    button.btn.btn-sm.btn-danger.stop-btn.ml-1(data-staff-id="2" data-toggle="modal" data-target="#stop-modal") 終止合作
  include ./modal/_layout.pug
  .modal#rewards-modal(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
          .modal-header
            h5.modal-title 獎懲制度設定
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
              .d-flex.align-items-center
                label.col-form-label 名稱
                input.form-control.ml-2(placeholder="請輸入名稱" style="flex: 1;")
                button.btn.btn-primary.ml-2 Create
            table.table.table-sm.mt-4
              thead.thead-light
                tr
                  th #
                  th 名稱
                  th
                tr
                  td #1
                  td 
                    input.form-control(value="勞保自付額")
                  td
                    button.btn.btn-sm.btn-success Save
                    button.btn.btn-sm.btn-danger.ml-1 Delete
                tr
                  td #2
                  td 
                    input.form-control(value="建保自負額")
                  td
                    button.btn.btn-sm.btn-success Save
                    button.btn.btn-sm.btn-danger.ml-1 Delete
          .modal-footer
            button.btn.btn-light(type='button', data-dismiss='modal') Close
  .modal#salary-modal(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
          .modal-header
            h5.modal-title 薪水變更設定
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
              .d-flex.align-items-center
                label.col-form-label 名稱
                input.form-control.ml-2(placeholder="請輸入名稱" style="flex: 1;")
                button.btn.btn-primary.ml-2 Create
            table.table.table-sm.mt-4
              thead.thead-light
                tr
                  th #
                  th 名稱
                  th
                tr
                  td #1
                  td 
                    input.form-control(value="626-949")
                  td
                    button.btn.btn-sm.btn-success Save
                    button.btn.btn-sm.btn-danger.ml-1 Delete
                tr
                  td #2
                  td 
                    input.form-control(value="491-688")
                  td
                    button.btn.btn-sm.btn-success Save
                    button.btn.btn-sm.btn-danger.ml-1 Delete
          .modal-footer
            button.btn.btn-light(type='button', data-dismiss='modal') Close
block scripts
  include ./modal/_js.pug
