extends ../../../app.pug
block variables
  - var title = 'Setting - Staff'
  - var activePage = 'setting'
  - var subPage = 'setting-4'
block header
  - var breads = [{ name:"Setting", href:"/setting/"}, { name:"Staff", href:"/setting/staff/index.html"}, { name:"John", href:""}]
    include ../../../particles/_breadcrumb.pug
block content
  .px-3
    include ../particles/_nav.pug
    .py-3
      div(style="max-width: 700px")
        .d-flex.align-items-center.justify-content-between
            a.btn.btn-sm.btn-light.ml-1(href="/setting/staff/index.html") 返回列表
            div
              a.btn.btn-sm.btn-primary.ml-1(href="/setting/staff/edit.html") Edit
              button.btn.btn-sm.btn-success.leave-btn.ml-1(data-staff-id="2" data-toggle="modal" data-target="#leave-modal") 請假
              button.btn.btn-sm.btn-info.auth-btn.ml-1(data-staff-id="2" data-auth="1,2,4" data-toggle="modal" data-target="#auth-modal") 權限設定
              button.btn.btn-sm.btn-danger.stop-btn.ml-1(data-staff-id="2" data-toggle="modal" data-target="#stop-modal") 終止合作
        .card.mt-2
          .card-body
            table.table.table-sm.table-borderless.mt-2 
              tbody
                tr
                  th.text-right 名字
                  td John
                  th.text-right 員工代碼
                  td 12345667
                tr 
                  th.text-right 地址
                  td XXX路一段30號
                  th.text-right 電話
                  td 0912345678
                tr
                  th.text-right ID
                  td
                    | ID 1: A123456789 
                    br
                    | ID 2: A123456789 
                    br
                    | ID 3: A123456789 
                  th.text-right 銀行帳號
                  td
                    | 銀行編碼: 812 
                    br
                    | 銀行帳號: 100012345678
                tr
                  th.text-right Email 
                  td
                    | 公用: sample@mail.com 
                    br
                    | 私人: sample@mail.com  
                  th.text-right 登入密碼重置
                  td
                    .input-group
                      input.form-control.form-control-sm(type='password', placeholder="new password")
                      .input-group-append
                        button.btn.btn-secondary.btn-sm(type='button') 重置
                tr
                  th.text-right 獎金累積
                  td 2 嘉獎, 0 小功
                  th.text-right 目前薪資
                  td $40,000
                    button.btn.btn-sm.btn-secondary.ml-2 調整薪水
                tr
                  th.text-right 特休
                  td 3.5 天
                  th.text-right 上次調薪日期
                  td 2018-06
                tr
                  th.text-right 請假
                  td 2016: 3 事假, 2 特休
                  th.text-right 建議下次調薪日期
                  td 2019-06
                    button.btn.btn-sm.btn-secondary.ml-2 調整系統建議
                tr
                  th.text-right 獎懲制度
                  td 
                    .form-check
                      input#chk1.form-check-input(type='checkbox', value='1')
                      label.form-check-label(for='chk1') 626-949
                    .form-check
                      input#chk2.form-check-input(type='checkbox', value='1')
                      label.form-check-label(for='chk2') 491-608
                  th.text-right 薪水變更設定
                  td 
                    .form-check
                      input#chk3.form-check-input(type='checkbox', value='1')
                      label.form-check-label(for='chk3') 勞保自付額
                    .form-check
                      input#chk4.form-check-input(type='checkbox', value='1')
                      label.form-check-label(for='chk4') 建保自負額
  include ./modal/_layout.pug

block scripts
  include ./modal/_js.pug
