nav.setting-nav
  a(class=subPage === 'setting-1' ? 'active' : '' href="/setting/index.html") Setting
  a(class=subPage === 'setting-2' ? 'active' : '' href="/setting/account/index.html") 帳號
  a(class=subPage === 'setting-3' ? 'active' : '' href="/setting/warehouse/index.html") 倉庫
  a(class=subPage === 'setting-4' ? 'active' : '' href="/setting/staff/index.html") 員工
  a(class=subPage === 'setting-5' ? 'active' : '' href="/setting/vendor/index.html") 廠商
  a(class=subPage === 'setting-6' ? 'active' : '' href="/setting/sop/index.html") SOP