extends ../../../app.pug
block variables
  - var title = 'Sop'
  - var activePage = 'setting'
  - var subPage = 'setting-6'
block header
  - var breads = [{ name:"Setting", href:""}]
    include ../../../particles/_breadcrumb.pug
block content
  .px-3
    include ../particles/_nav.pug
    ul#pills-tab.nav.nav-pills.mt-3(role='tablist')
      li.nav-item
        a#pills-use-tab.nav-link.active(data-toggle='pill', href='#pills-use', role='tab', aria-controls='pills-use', aria-selected='true') 正在使用的 SOP
      li.nav-item
        a#pills-profile-tab.nav-link(data-toggle='pill', href='#pills-pending', role='tab', aria-controls='pills-pending', aria-selected='false') 未被安排 SOP
      li.nav-item
        a#pills-disable-tab.nav-link(data-toggle='pill', href='#pills-disable', role='tab', aria-controls='pills-disable', aria-selected='false') 停用的 SOP
      li.nav-item
        a#pills-knowledge-tab.nav-link(data-toggle='pill', href='#pills-knowledge', role='tab', aria-controls='pills-knowledge', aria-selected='false') 工作知識
    #pills-tabContent.tab-content
      #pills-use.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
        div(style="max-width: 600px")
          .text-right
            button.btn.btn-primary 新增
          table.bg-white.table.table-sm.mt-2
            thead.thead-light
              tr
                th(width="40") #
                th 項目
                th(width="160") Action
            tbody
              tr
                td #1
                td 採購評估
                td
                  button.btn.btn-sm.btn-secondary 修正
                  button.btn.btn-sm.btn-danger.ml-1 刪除

      #pills-pending.tab-pane.fade(role='tabpanel', aria-labelledby='pills-pending-tab')
        div(style="max-width: 600px")
          .text-danger.mt-2 請至員工，選擇姓名後安排此 SOP
          table.bg-white.table.table-sm.mt-2
            thead.thead-light
              tr
                th(width="40") #
                th 項目
                th(width="160") Action
            tbody
              tr
                td #1
                td FBM 出貨
                td
                  button.btn.btn-sm.btn-danger 刪除
      #pills-disable.tab-pane.fade(role='tabpanel', aria-labelledby='pills-disable-tab')
        div(style="max-width: 600px")
          table.bg-white.table.table-sm.mt-2
            thead.thead-light
              tr
                th(width="40") #
                th 項目
                th(width="160") Action
            tbody
              tr
                td #1
                td 下訂單
                td
                  button.btn.btn-sm.btn-secondary 復原
              tr
                td #2
                td 跟廠商溝通方式
                td
                  button.btn.btn-sm.btn-secondary 復原
      #pills-knowledge.tab-pane.fade(role='tabpanel', aria-labelledby='pills-knowledge-tab')
        div(style="max-width: 600px")
          .text-right
            button.btn.btn-primary 新增
          table.bg-white.table.table-sm.mt-2
            thead.thead-light
              tr
                th(width="40") #
                th 項目
                th(width="160") Action
            tbody
              tr
                td #1
                td 如何使用 ERP 系統
                td
                  button.btn.btn-sm.btn-secondary 修正
                  button.btn.btn-sm.btn-danger.ml-1 刪除