nav(aria-label='breadcrumb')
  ol.breadcrumb
    li.breadcrumb-item
      a(href='index.html') Dashboard
    each bread in breads
      if bread.href
        li.breadcrumb-item
          a(href=bread.href ? bread.href : '#')= bread.name
      else
        li.breadcrumb-item.active(aria-current='page')= bread.name
