aside.home-menu.is-opened
  div.logo.d-flex.justify-content-between
    span Dashboard
    i.fas.fa-bars.cursor-pointer(data-toggle-class="is-opened" data-toggle-target=".home-menu")
  nav.menu-list
    a(class=activePage === 'home' ? 'active' : '' href="/index.html")
      i.fas.fa-home
      span Home
    a(class=activePage === 'inventory' ? 'active' : '' href="/inventory.html")
      i.fas.fa-warehouse
      span Inventory
    a(class=activePage === 'products' ? 'active' : '' href="/products.html") 
      i.fas.fa-box
      span Products
    a(class=activePage === 'orders' ? 'active' : '' href="/orders.html") 
      i.fas.fa-file-invoice-dollar
      span FBM Orders
    div.sub-menu
      a(class=activePage === 'purchasing' ? 'active' : '')
        i.fas.fa-shopping-basket
        span Purchasing
      nav.sub-menu-list
        a(class=subPage === 'purchasing-1' ? 'active' : '') Purchasing Estimate
        a(class=subPage === 'purchasing-2' ? 'active' : ''  href="/purchasing/draft.html") Shipment Draft
        a(class=subPage === 'purchasing-3' ? 'active' : '') Purchase Order
        a(class=subPage === 'purchasing-4' ? 'active' : '') Domestic Supplier
        a(class=subPage === 'purchasing-5' ? 'active' : '') International Supplier
    a(class=activePage === 'fba' ? 'active' : '' href="/fba.html") 
      i.fas.fa-dolly-flatbed
      span FBA
    div.sub-menu
      a(class=activePage === 'advertisement' ? 'active' : '')
        i.fas.fa-ad
        span Advertisement
      nav.sub-menu-list
        a(class=subPage === 'advertisement-1' ? 'active' : '' href="/advertisement/product.html") Sponsored Product
        a(class=subPage === 'advertisement-2' ? 'active' : '') AMS
    a
      i.fas.fa-chart-bar
      span Report
    a 
      i.fas.fa-receipt
      span Refund
    a 
      i.fas.fa-file-alt
      span Reimbursement
    a(class=activePage === 'setting' ? 'active' : '' href="/setting/index.html") 
      i.fas.fa-cog
      span Setting