nav
  ul.pagination.justify-content-end.mb-0
    li.page-item.disabled
      a.page-link(href='#', tabindex='-1', aria-disabled='true') Previous
    li.page-item
      a.page-link(href='#') 1
    li.page-item.active(aria-current='page')
      a.page-link(href='#')
        | 2 
        span.sr-only (current)
    li.page-item
      a.page-link(href='#') 3
    li.page-item
      a.page-link(href='#') Next