.top
  block header
  .right
    input.mr-sm-2.form-control(placeholder="Search...")
    .dropdown
      button#dropdownMenuButton.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | User
      .dropdown-menu(aria-labelledby='dropdownMenuButton')
        a.dropdown-item(href='#') Logout
        a.dropdown-item(href='#') Edit

