extends ../../app.pug
block variables
  - var title = 'Shipment Draft'
  - var activePage = 'purchasing'
  - var subPage = 'purchasing-1'
block header
  - var breads = [{ name:"Shipment Draft", href:""}]
    include ../../particles/_breadcrumb.pug
block styles
  style.
    form th {
      text-align: right;
      width: 100px;
    }
block scripts
  link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script.
      var availableTags = [
        "Amy",
        "Bill",
        "Cindy",
        "Dara",
        "Eva",
        "Frank",
        "Gigi",
        "Harry",
        "Ivy",
        "Joe",
        "Kevin",
        "Leo",
        "Mark",
        "Natalia",
        "Oliver",
        "Porter",
        "Queen",
        "Ross",
        "Sarah",
        "Tom",
        "Uba",
        "Van",
        "Wendy",
        "Xena",
        "Yvon",
        "Zoe",
      ];
      $( ".tags" ).autocomplete({
        source: availableTags
      });

      var $wrapper = $('#list-wrapper');
      function checkList() {
        var length = $wrapper.children().length;
        if (length) {
          $wrapper.addClass('has-value');
        } else {
          $wrapper.removeClass('has-value');
        }
      }
      
      $('.list-input').blur(function() {
        $(this).removeClass('is-invalid');
      });
      $('#add-list').click(function() {
        var $sku = $('#list-sku');
        var $count = $('#list-count');
        
        var error = false;
        if (!$sku.val()) {
          $sku.addClass('is-invalid');
          error = true;
        }
        if (!$count.val()) {
          $count.addClass('is-invalid');
          error = true;
        }
        if (!error) {
          var li = document.createElement("li");
          var btn = document.createElement("button");
          li.innerHTML = '<span> SKU: ' + $sku.val() + ' / Count: ' + $count.val() + '</span>'
          btn.type = 'button';
          btn.className = 'btn btn-sm';
          btn.innerHTML = '<i class="fas fa-trash-alt"></i>';
          btn.addEventListener("click", function(){ 
            $(this).parent().remove();
            checkList();
          });
          $(li).append(btn);
          $wrapper.append(li);
          $sku.val('');
          $count.val('');
          checkList();
        }
      });


block content
  include ../../particles/_dates-area.pug
  .p-3.draft-section
    ul.nav.nav-tabs.draft-tabs(role='tablist')
      li.nav-item
        a#draft-0-tab.nav-link.active(data-toggle='tab', href='#draft-0', role='tab', aria-controls='draft-0', aria-selected='true') Draft
      li.nav-item
        a#draft-1-tab.nav-link(data-toggle='tab', href='#draft-1', role='tab', aria-controls='draft-1', aria-selected='true') Draft 審查
      li.nav-item
        a#draft-2-tab.nav-link(data-toggle='tab', href='#draft-2', role='tab', aria-controls='draft-2', aria-selected='false') Draft 轉訂單
    .tab-content
      #draft-0.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='draft-0-tab') 
        .card.my-2.top-action
          .card-body
            .top-action-body.mb-2
              button.btn.btn-warning.mr-2 設為預設值
              button.btn.btn-warning.mr-2 下載 EXCEL
              .d-inline-block
                .input-group
                  .input-group-prepend
                    span#inputGroupFileAddon01.input-group-text Upload
                  .custom-file
                    input#inputGroupFile01.custom-file-input(type='file', aria-describedby='inputGroupFileAddon01')
                    label.custom-file-label(for='inputGroupFile01') Choose file
            .top-action-body
              h6.mb-0.mr-2 通知上司
              .d-inline-block.mr-2
                input.tags.form-control
              button.btn.btn-success 完成 Drift
              .ml-auto
                button.btn.btn-purple 跳過此步䯅，進入訂單
      #draft-1.tab-pane.fade(role='tabpanel', aria-labelledby='draft-1-tab') 
       .card.my-2.top-action
          .card-body
            .top-action-body.mb-2
              button.btn.btn-warning.mr-2 下載 EXCEL
              .d-inline-block.mr-2
                .input-group
                  .input-group-prepend
                    span#inputGroupFileAddon01.input-group-text Upload
                  .custom-file
                    input#inputGroupFile01.custom-file-input(type='file', aria-describedby='inputGroupFileAddon01')
                    label.custom-file-label(for='inputGroupFile01') Choose file
              button.btn.btn-success 完成
            .top-action-body
              .ml-auto
                button.btn.btn-danger 不需出貨
      #draft-2.tab-pane.fade(role='tabpanel', aria-labelledby='draft-2-tab')
        .card.my-2
          .card-body
            form
              table.table.table-sm.table-borderless
                tbody
                  tr
                    th
                      label.col-form-label.col-form-label-sm 廠商型號使用
                    td(colspan="5")
                      .form-check.form-check-inline
                        input#inlineCheckbox1.form-check-input(type='checkbox', value='sku')
                        label.form-check-label(for='inlineCheckbox1') SKU
                      .form-check.form-check-inline
                        input#inlineCheckbox2.form-check-input(type='checkbox', value='model')
                        label.form-check-label(for='inlineCheckbox2') Model (倉庫)
                      .form-check.form-check-inline
                        input#inlineCheckbox3.form-check-input(type='checkbox', value='book')
                        label.form-check-label(for='inlineCheckbox3') Book (會計)
                      .form-check.form-check-inline
                        input#inlineCheckbox4.form-check-input(type='checkbox', value='factoryModel')
                        label.form-check-label(for='inlineCheckbox4') Factory Model (廠商型號)
                  tr
                    th
                      label.col-form-label.col-form-label-sm 收貨倉庫
                    td
                      select.form-control.form-control-sm
                        option(selected='') 請選擇倉庫
                        option(value='1') 倉庫一
                        option(value='2') 倉庫二
                    th
                      label.col-form-label.col-form-label-sm 製作人員
                    td
                      select.form-control.form-control-sm
                        option(selected='') 請選擇人員
                        option(value='1') 人員一
                        option(value='2') 人員二
                    th 
                      label.col-form-label.col-form-label-sm 日期
                    td
                      input.form-control.form-control-sm(type="date")
                  tr
                    th 
                      label.col-form-label.col-form-label-sm Term
                    td
                      input.form-control.form-control-sm(placeholder="Term")
                    th 
                      label.col-form-label.col-form-label-sm 貨運方式
                    td
                      input.form-control.form-control-sm(placeholder="貨運方式")
                    th 
                      label.col-form-label.col-form-label-sm FOB
                    td
                      input.form-control.form-control-sm(placeholder="FOB")
                  tr
                    th 
                      label.col-form-label.col-form-label-sm 訂單編號
                    td
                      input.form-control.form-control-sm(placeholder="訂單編號")
                    th 
                      label.col-form-label.col-form-label-sm 附加訊息
                    td(colspan="3")
                      textarea.form-control.form-control-sm(placeholder="附加訊息")
              .row
                .col-6
                  div.d-flex.align-items-start
                    label.col-form-label.col-form-label-sm.mr-2
                      strong 新增產品 SKU
                    .d-inline-block.mr-4
                      input#list-sku.list-input.form-control.form-control-sm(placeholder="SKU")
                      .invalid-feedback 需輸入 sku
                    label.col-form-label.col-form-label-sm.mr-2
                      strong 數量
                    .d-inline-block.mr-2
                      input#list-count.list-input.form-control.form-control-sm(placeholder="數量" type="number" min="0")
                      .invalid-feedback 需輸入 數量
                    button#add-list.btn-sm.btn.btn-danger.vertical-align-top(type="button") 加入
                  div
                    ul#list-wrapper
                .col-6
                  table.table.table-sm.table-borderless
                    tbody
                      tr
                        th 
                          label.col-form-label.col-form-label-sm 通知上司
                        td
                          input.tags.form-control.form-control-sm(placeholder="通知上司")
                      tr
                        th 
                          label.col-form-label.col-form-label-sm 廠商 email
                        td
                          input.tags.form-control.form-control-sm(placeholder="廠商 email")
                      tr
                        th 
                          label.col-form-label.col-form-label-sm cc
                        td
                          input.tags.form-control.form-control-sm(placeholder="cc, 可用逗點分開")
            .text-right
              button.btn.btn-warning.mr-2 設為預設值
              button.btn.btn-warning.mr-2 下載