// Variables
@import 'core/variable';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'core/default';
@import 'core/buttons';
@import 'particles/layout';
@import 'particles/menu';
@import 'particles/top';

@import 'pages/dashboard';
@import 'pages/order';
@import 'pages/inventory';
@import 'pages/product';
@import 'pages/draft';
@import 'pages/setting';

.cursor-pointer {
  cursor: pointer;
}

.text-lighter {
  color: #bbb;
}

.text-orange {
  color: #ff5722;
}

.badge-success {
  color: white;
}

.sortable {
  a, .in-sort {
    position: relative;
    cursor: pointer;
    padding-right: 14px;
    &:after, &:before {
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #bbb;
    }
    &:after {
      content: '\f0d8';
      margin-top: -3px;
    }
    &:before {
      content: '\f0d7';
      margin-top: 3px;
    }

  }
  &.sort-desc {
    a, .in-sort {
      &:before {
        color: $primary;
      }
    }
  }
  &.sort-asc {
    a, .in-sort {
      &:after {
        color: $primary;
      }
    }
  }
}


.grid {
  position: relative;
}

.flex-1 {
  flex: 1;
}

.item {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.td-default {
  background: #f3f3f3;
}

.td-primary {
  background: #00bcd4;
  color: white;
}

.td-warning {
  background: #f9e54d;
}

.td-success {
  background: #4CAF50;
  color: white;
}

.td-danger {
  background: #f44336;
  color: white;
}

.td-info {
  background: #2196f3;
  color: white;
}

.has-clear {
  position: relative;
  display: inline-block;
  &.input-has-value {
    i {
      display: block;
    }
  }
  input {
    padding-right: 1rem;
  }
  i {
    display: none;
    cursor: pointer;
    color: #ddd;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      color: #bbb;
    }
  }
}

.filter-action {
  background: #fefefe;
  margin-left: -1rem;
  margin-right: -1rem;
  max-height: 0;
  overflow: hidden;
  transition-duration: .5s;
  opacity: 0;
  h6 {
    color: #999;
  }

  .btn-action {
    background: white;
    border: 1px solid #ddd;
    border-radius: 0;
  }
  &.is-opened {
    max-height: 1000px;
    opacity: 1;
    & + div {
      .btn-filter-wrapper {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.filter-result {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -0.2rem;
  li {
    list-style-type: none;
    margin-bottom: .2rem;
  }
  li:not(.sep) {
    color: white;
    background-color: $purple;
    height: 30px;
    line-height: 30px;
    padding: 0 2rem 0 1rem;
    border-radius: 15px;
    position: relative;
    margin-right: .5rem;
    i {
      position: absolute;
      top: 8px;
      right: .5rem;
      cursor: pointer;
    }
  }
  li[data-area=display]:not(.sep) {
    background-color: $primary;
  }
  li[data-area=keyword]:not(.sep) {
    background-color: $warning;
  }
  li[data-required=true]:not(.sep) {
    background-color: $danger
  }
}

.btn-checkbox {
  margin-bottom: 0;
  &:not(:first-child) {
    span {
      margin-left: -1px;
    }
  }
  span {
    border: 1px solid #ddd;
    padding: 0.25rem 0.5rem;
    font-size: 0.7875rem;
    line-height: 1.5;
    background-color: white;
    cursor: pointer;
  }
  input[type=checkbox] {
    display: none;
    &:checked + span {
      background-color: $primary;
      color: white;
    }
  }
}



.btn-filter-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
  cursor: pointer;
  span, i {
    color: #aaa;
    transition-duration: .3s;
  }
  &:hover {
    span, i {
      color: #333;
    }
  }
}

.has-bottom-btn {
  position: relative;
  min-height: 200px;
  & > div {
    position: absolute;
    top: 0.3rem;
    bottom: 1rem;
    left: 0.3rem;
    right: 0.3rem;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: $purple;
}
.nav-pills {
  a {
    color: #333;
  }
}


.table th, .table td {
  // border-top: 0;
}

.table thead th {
  border-bottom: 0;
}

.login-form {
  background: white;
  padding: 2.4rem;
  border-radius: 8px;
  min-width: 400px;
}