extends ../../../app.pug
block variables
  - var title = 'Setting - Account'
  - var activePage = 'setting'
  - var subPage = 'setting-2'
block header
  - var breads = [{ name:"Setting", href:""}]
    include ../../../particles/_breadcrumb.pug
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.js")
  script.
    $('input.cc-num').payment('formatCardNumber');
    $('input.cc-cvc').payment('formatCardCVC');
    $('input.cc-exp').payment('formatCardExpiry');
block content
  .px-3
    include ../particles/_nav.pug
    .py-3
      div(style="max-width: 800px")
        .card.mt-2
          .card-header 帳號資訊
          .card-body
            table.table.table-sm.table-borderless.mt-2 
              tbody
                tr
                  th.text-right 公司名稱
                  td ABC Inc.
                  th.text-right 帳號狀態
                  td Active
                tr
                  th.text-right 地址
                  td Abc St.
                    br
                    | Los Angeles, CA 90018
                  th.text-right Marketplace
                    br
                    | & Region
                  td US
                tr
                  th.text-right 電話
                  td 0912345678
                  th.text-right Amazon MWS
                  td Enabled
                tr
                  th.text-right Shippling Label
                    br
                    | 使用印表機
                  td 
                    button.btn.btn-outline-primary.btn-sm 請選擇
                  th.text-right 上次 API 更新時間
                  td 2019-04-02
                    button.btn.btn-outline-primary.btn-sm.ml-2 再次連線
          .card-header 信用卡資訊
          .card-body
            .row
              .col-6.pr-5
                h5 Payment Method
                .form-group
                  label Full Name
                  input.form-control(type='text', placeholder='Enter full name')
                .form-group
                  label Credit Card Number
                  input.cc-num.form-control(placeholder='•••• •••• •••• 0622')
                .row
                  .col-4
                    .form-group
                      label Exp. date
                      input.cc-exp.form-control(placeholder='•• / ••')
                  .col-4
                    .form-group
                      label CSV
                      input.cc-csv.form-control(placeholder='CSV')
                  .col-4
                    .form-group
                      label Zip code
                      input.form-control(placeholder='Zip code')
                button.btn.btn-purple Update Payment Method
              .col-6.pl-5(style="border-left: 1px solid #ddd")
                h5 Billing Details
                .alert.alert-primary(role='alert')
                  | YOUR PLAN PRICE
                  h3.text-dark.mb-0 $2,130.00 / mo.
                .bill-wrapper
                  h6 Last Bill Date
                  p.big April 1, 2019
                  h6 Next Bill Date
                  p.big May 1, 2019
                button.btn.btn-purple View Billing History
