extends ../../../app.pug
block variables
  - var title = 'Setting - Warehouse'
  - var activePage = 'setting'
  - var subPage = 'setting-3'
  - var isEdit = true
block header
  - var breads = [{ name:"Setting", href:"/setting/"}, { name:"Warehouse", href:"/setting/warehouse/index.html"}, { name:"WH1", href:""}]
    include ../../../particles/_breadcrumb.pug
block content
  .px-3
    include ../particles/_nav.pug
    .py-3
      div(style="max-width: 700px")
        .d-flex.align-items-center.justify-content-between
            a.btn.btn-sm.btn-light.ml-1(href="/setting/warehouse/index.html") 返回列表
        .card.mt-2
          .card-body
            include ./form.pug