form.setting-form
  table.table.table-sm.table-borderless
    tbody
      tr
        th.text-right 
          label.col-form-label 名稱
        td
          input.form-control(value=(isEdit ? 'WH1' : '') placeholder="請輸入名稱")
        th.text-right 
          label.col-form-label 代碼
        td
          input.form-control(value=(isEdit ? 'AGGI' : '') placeholder="請輸入代碼")
      tr
        th.text-right 
          label.col-form-label 聯絡人
        td
          input.form-control(value=(isEdit ? 'John' : '') placeholder="請輸入聯絡人")
        th.text-right 
          label.col-form-label 公司
        td
          input.form-control(value=(isEdit ? 'abc international inc' : '') placeholder="請輸入公司")
      tr
        th.text-right 
          label.col-form-label 地址
        td
          input.form-control(value=(isEdit ? 'abc st. City, NY 10039' : '') placeholder="請輸入地址")
        th.text-right 
          label.col-form-label 電話
        td
          input.form-control(value=(isEdit ? 'XXX路一段30號' : '') placeholder="請輸入電話")
  .text-right
    button.btn.btn-light(type="reset") Reset
    if isEdit
      button.btn.btn-primary.ml-2 Save
    else
      button.btn.btn-primary.ml-2 Create