extends ../../../app.pug
block variables
  - var title = 'Setting - Warehouse'
  - var activePage = 'setting'
  - var subPage = 'setting-3'
block header
  - var breads = [{ name:"Setting", href:""}]
    include ../../../particles/_breadcrumb.pug
block content
  .px-3
    include ../particles/_nav.pug
    .py-3
      .card
        .card-body
          .text-right
            a.btn.btn-light.ml-2(href="/setting/warehouse/create.html") 新增倉庫
          .table-responsive.mt-2
            table.table
              thead.thead-light
                tr
                  th Name
                  th Code
                  th 公司
                  th 聯絡人
                  th 地址
                  th 電話
                  th Action
              tbody
                tr 
                  td WH1
                  td AGGI
                  td abc international inc
                  td John
                  td abc st. City, NY 10039
                  td 123-123-123
                  td 
                    a.btn.btn-sm.btn-primary(href="/setting/warehouse/show.html") View
                    a.btn.btn-sm.btn-primary.ml-1(href="/setting/warehouse/edit.html") Edit
                    button.btn.btn-sm.btn-danger.del-btn.ml-1(data-warehouse-id="1" data-toggle="modal" data-target="#delete-modal") Delete
  include ./modal/_layout.pug
block scripts
  include ./modal/_js.pug