extends ../../../app.pug
block variables
  - var title = 'Setting - Warehouse'
  - var activePage = 'setting'
  - var subPage = 'setting-3'
block header
  - var breads = [{ name:"Setting", href:"/setting/"}, { name:"Warehouse", href:"/setting/warehouse/index.html"}, { name:"WH1", href:""}]
    include ../../../particles/_breadcrumb.pug
block content
  .px-3
    include ../particles/_nav.pug
    .py-3
      div(style="max-width: 700px")
        .d-flex.align-items-center.justify-content-between
            a.btn.btn-sm.btn-light.ml-1(href="/setting/warehouse/index.html") 返回列表
            div
              a.btn.btn-sm.btn-primary.ml-1(href="/setting/warehouse/edit.html") Edit
              button.btn.btn-sm.btn-danger.del-btn.ml-1(data-warehouse-id="1" data-toggle="modal" data-target="#delete-modal") Delete
        .card.mt-2
          .card-body
            table.table.table-sm.table-borderless.mt-2 
              tbody
                tr
                  th.text-right 名稱
                  td WH1
                  th.text-right 代碼
                  td AGGI
                tr 
                  th.text-right 聯絡人
                  td John
                  th.text-right 公司
                  td Xabc international inc
                tr 
                  th.text-right 地址
                  td abc st. City, NY 10039	
                  th.text-right 電話
                  td 123-123-123	
  include ./modal/_layout.pug
block scripts
  include ./modal/_js.pug